{% extends "auth/base.html" %}

{% load crispy_forms_tags %}

<style>
    form label{
        color: #fff !important;
    }
</style>


{% block page_content %}
<div class="container">
    <div class="card-mt align-center">
        <div class="mt-50">
            <h5>Create new password</h5>
        </div>
    </div>

    <div class="padding-bottom-fix">
        <form class="post-form mx-auto mt-4" method="POST">
            <div class="align-center mb-4">
                <small class="mainWhite">
                    Please provide a new password. Password must not be less than 8 characters
                </small>
            </div>
            {% csrf_token %}
            
            <div class="mainWhite mt-4">
                {{form|crispy}}
            </div>
    
            <div class="mt-50 align-center">
                <button type="submit" class="Btn">
                    Reset password
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock page_content %}