{% extends "auth/base.html" %}

{% load crispy_forms_tags %}

<style>
    form label{
        color: #fff !important;
    }
</style>


{% block page_content %}
<div class="container">
    <div class="d-block d-sm-none mt-4">
        <div class="row">
            <div class="col-4" style="margin-top: 3px;">
                <i class="fi fi-rr-angle-left mainWhite" onclick="history.go(-1)"></i>
            </div>
        </div>
    </div>
   
    <div class="mt-50 align-center card-mt">
        <div class="mt-50">
            <h4>Reset password</h4>
            <p><b>Account Recovery</b></p>
        </div>
    </div>


    <div class="padding-bottom-fix">
        <form class="post-form mx-auto mt-4" method="POST">
            <div class="align-center mb-4">
                <small class="textColor">
                    Enter the email associated with your account and we'll send an email with instructions to reset you password.
                </small>
            </div>
            {% csrf_token %}
            
            <div class="textColor mt-4">
                {{form|crispy}}
            </div>
    
            <div class="mt-50 align-center">
                <button type="submit" class="Btn" style="width: 30%;">
                    <i class="fi fi-rr-arrow-right fixIcon2"></i>
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock page_content %}