{% extends "auth/base.html" %}

{% load crispy_forms_tags %}

<style>
    form label{
        color: #fff !important;
    }
</style>


{% block page_content %}
<div class="container" >
    <div class="padding-bottom-fix card-mt">
        <div class="post-form mx-auto mt-100">
            <div class="mt-4">
                <h5 class="align-center my-4">Pasword updated successfully!</h5>
                <center>
                    <div class="round-icon-trans" style="background: rgba(72, 116, 108, 0.1); border-radius: 8px;">
                        <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
                            <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none" />
                            <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8" />
                        </svg>
                    </div>
                </center>
            </div>
            <div class="align-center my-4">
                <small class="mainWhite">
                    Your password has been succesfully reset. Continue to sign in with your new password
                </small>
            </div>
    
            <div class="mt-50 align-center">
                <a href="{% url 'login' %}">
                    <button type="submit" class="Btn px-50" style="width: fit-content;">
                        <i class="fi fi-rr-arrow-right fixIcon2"></i>
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock page_content %}