{% extends "auth/base.html" %}

{% load crispy_forms_tags %}

<style>
    form label{
        color: #fff !important;
    }
</style>


{% block page_content %}
<div class="container card-mt">
    <div class="padding-bottom-fix">
        <div style="margin-top: 120px;">
            <h5 class="align-center my-4">Check your mail</h5>
        </div>
        <div class="post-form mx-auto">
            <div class="align-center mb-4">
                <p class="textColor">
                    We have sent a password recover instructions to your email.
                </p>
            </div>
    
            <div class="mt-50 align-center">
                <a href="mailto:coinvaryteam@coinvary.com" target="_blank">
                    <button type="submit" class="Btn px-4" style="width: fit-content;">
                        Open email app
                    </button>
                </a>
            </div>
            <div class="mt-4 align-center">
                <a href="{% url 'login' %}">
                    <small>Skip, I'll confirm later</small>
                </a>
            </div>
        </div>
        <div class="mt-4 align-center">
            <p>
                Did not recieve the email? Check your span filter, or 
                <a href="{% url 'password-reset' %}" class="site-yellow">try another email address</a>
            </p>
        </div>
    </div>
</div>
{% endblock page_content %}