{% extends 'base.html' %}
{% load static %}

{% block content %}
<header class="masthead" aria-labelledby="pageTitle" id="masthead_234">
    <div class="masthead__bg">
        <div class="container">
            <img src="https://www.mylsb.com/images/triangle-tr-bg.svg" alt="" aria-hidden="true" class="masthead__decoration os-animation" data-os-animation="animate__slideInRight" />
            <div class="row">
                <div class="col-lg-4 d-flex flex-column justify-content-center">
                    
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item"><a href="/">Bank</a></li>
                        <li class="breadcrumb-item">Personal</li>
                        <li class="breadcrumb-item active" aria-current="page">Checking Accounts</li>
                    </ol>
                </nav>
                <script type="application/ld+json">
                    {
                    "@context": "http://schema.org",
                    "@type": "BreadcrumbList",
                    "itemListElement": [
                    {
                    "@type": "ListItem",
                    "position": 1,
                    "item": {
                    "@id": "https://www.mylsb.com/",
                    "name": "Home"
                    }
                    },
                    {"@type": "ListItem","position":2,"item": {"@id": "https://www.mylsb.com/bank","name": "Bank"}},{"@type": "ListItem","position":3,"item": {"@id": "https://www.mylsb.com/bank/personal/checking-accounts","name": "Checking Accounts"}}    ]}
                </script>
                    <h1 id="pageTitle">Checking Accounts</h1>
                </div>
                    <div class="masthead__ctas">
                        <div class="masthead__ctas-inner os-animation" data-os-animation="animate__fadeInUp">
                                <a href="#table_660" class="masthead__cta"  >Compare Accounts</a>
                                <div class="masthead__ctas-divider"></div>
                                <a href="#" class="masthead__cta"  >Visit a Branch</a>
                        </div>
                    </div>
                <div class="col-lg-6 offset-lg-2">
                    <img src="https://www.mylsb.com/MyLSB/media/Images/Mastheads/simply-free-checking.jpg?ext=.jpg" class="masthead__img" alt="" />
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 masthead__nav-container">
                
                <nav class="internal-nav dropdown" aria-labelledby="internalNav">
                    <a class="dropdown-toggle" href="#" role="button" id="internalNav" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pages within: <span class="internal-nav__parent">Checking Accounts</span><span class="fas fa-chevron-down" aria-hidden="true"></span></a>
                    <div class="dropdown-menu" aria-labelledby="internalNav">
                        <a href="#" class="dropdown-item" >
                            Simply Free Checking
                        </a>
                        <a href="#" class="dropdown-item" >
                            Direct Interest Checking
                        </a>
                        <a href="#" class="dropdown-item" >
                            Premier Interest Checking
                        </a>
                        <a href="#" class="dropdown-item" >
                            50+ Interest Checking
                        </a>
                        <a href="#" class="dropdown-item" >
                            Overdrafts
                        </a>
                        <a href="#" class="dropdown-item" >
                            ClickSWITCH
                        </a>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>
<div class="intro" id="intro_938">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <h2 class="intro__heading"><strong>Every detail is designed to make</strong> your day a little better.</h2>
                <p>Our low fees and free ATM withdrawals are easy on your budget. Our digital banking services are true time savers. But the best thing about Lincoln Savings Bank Checking accounts? There are all these great options to choose from.</p>

            </div>
        </div>
    </div>
</div>
    <div class="comparison" id="table_660">
        <div class="container">

            <div class="comparison__table">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <td></td>
                                <th scope="col"><div>Simply Free Checking</div>
                                    <div class="comparison__table__cta-link"><a href="#" class="btn btn-tertiary comparison__table__cta-btn">Learn More<span class="sr-only"> about Simply Free Checking</span></a></div>
                                </th>
                                <th scope="col"><div>Direct Interest Checking</div>
                                    <div class="comparison__table__cta-link"><a href="#" class="btn btn-tertiary comparison__table__cta-btn">Learn More<span class="sr-only"> about Direct Interest Checking</span></a></div>
                                </th>
                                <th scope="col"><div>Premier Interest Checking</div>
                                    <div class="comparison__table__cta-link"><a href="#" class="btn btn-tertiary comparison__table__cta-btn">Learn More<span class="sr-only"> about Premier Interest Checking</span></a></div>
                                </th>
                                <th scope="col"><div>50+ Interest Checking</div>
                                    <div class="comparison__table__cta-link"><a href="#" class="btn btn-tertiary comparison__table__cta-btn">Learn More<span class="sr-only"> about 50+ Interest Checking</span></a></div>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                                <tr>
                                    <th scope="row">Choose the best account for you!</th>
                                    <td>No minimum balance or monthly service charge makes this the perfect account for everyone.</td>
                                    <td>Earn interest with this account when you have at least one direct deposit or automatic payment set up.</td>
                                    <td>Do you maintain an average daily balance of $1,500 in your account? This account pays interest.</td>
                                    <td>Customers who are 50 years or older can enjoy this free account that features great benefits.</td>
                                </tr>
                                <tr>
                                    <th scope="row">Minimum Opening Deposit</th>
                                    <td>$50</td>
                                    <td>$50</td>
                                    <td>$50</td>
                                    <td>$50</td>
                                </tr>
                                <tr>
                                    <th scope="row">Earns Interest<sup>1</up></th>
                                    <td></td>
                                    <td><span class="fas fa-check" aria-hidden="true"></span><span class="sr-only">Yes</span></td>
                                    <td><span class="fas fa-check" aria-hidden="true"></span><span class="sr-only">Yes</span></td>
                                    <td><span class="fas fa-check" aria-hidden="true"></span><span class="sr-only">Yes</span></td>
                                </tr>
                                <tr>
                                    <th scope="row">Free Personalized Checks</th>
                                    <td></td>
                                    <td> </td>
                                    <td><span class="fas fa-check" aria-hidden="true"></span><span class="sr-only">Yes</span></td>
                                    <td><span class="fas fa-check" aria-hidden="true"></span><span class="sr-only">Yes</span></td>
                                </tr>
                                <tr>
                                    <th scope="row">FREE: Online Banking, Mobile Banking, Bill Pay, and Debit Card</th>
                                    <td><span class="fas fa-check" aria-hidden="true"></span><span class="sr-only">Yes</span></td>
                                    <td><span class="fas fa-check" aria-hidden="true"></span><span class="sr-only">Yes</span></td>
                                    <td><span class="fas fa-check" aria-hidden="true"></span><span class="sr-only">Yes</span></td>
                                    <td><span class="fas fa-check" aria-hidden="true"></span><span class="sr-only">Yes</span></td>
                                </tr>
                                <tr>
                                    <th scope="row">Monthly Maintenance Service Charges<sup>2</sup></th>
                                    <td>None</td>
                                    <td>None</td>
                                    <td>If the average daily balance is below $1,500 during the statement cycle there is a $5.00 monthly maintenance service charge.</td>
                                    <td>None</td>
                                </tr>
                        </tbody>
                    </table>
                    <img src="https://www.mylsb.com/images/triangle-br-bg-2.svg" class="comparison__table-decoration" alt="" aria-hidden="true" />
                </div>
            </div>
            <div class="comparison__cards">
                <div class="comparison__card">
                    <div id="comparisonCardHeading_660_1" class="comparison__card-heading">
                        <div>Simply Free Checking</div>
                        <div cl ass="comparison__table__cta-link"><a href="#" class="btn btn-tertiary comparison__table__cta-btn">Learn More<span class="sr-only"> about Simply Free Checking</span></a></div>
                    </div>

                    <div class="comparison__card-summary">

                            <dl aria-labelledby="comparisonCardHeading_660_1">
                                <dt>Choose the best account for you!</dt>
                                <dd>No minimum balance or monthly service charge makes this the perfect account for everyone.</dd>
                            </dl>
                    </div>

                    <div class="comparison__features" id="comparisonCardFeatures_660_1">
                            <dl aria-labelledby="comparisonCardHeading_660_1">
                                <dt>Minimum Opening Deposit</dt>
                                <dd>$50</dd>
                            </dl>
                    </div>

                    <div id="comparisonCardFeaturesCollapse_660_1" class="collapse comparison__collapse" data-parent="#comparisonCardFeatures_660_1">
                        <dl aria-labelledby="comparisonCardHeading_660_1">
                            <dt>Earns Interest<sup>1</up></dt>
                            <dd></dd>
                            <dt>Free Personalized Checks</dt>
                            <dd></dd>
                            <dt>FREE: Online Banking, Mobile Banking, Bill Pay, and Debit Card</dt>
                            <dd><span class="fas fa-check" aria-hidden="true"></span><span class="sr-only">Yes</span></dd>
                            <dt>Monthly Maintenance Service Charges<sup>2</sup></dt>
                            <dd>None</dd>
                        </dl>

                    </div>
                    <div class="comparison__features-btn-wrap">
                        <button class="btn btn-link comparison__features-btn collapsed" type="button" data-toggle="collapse" data-target="#comparisonCardFeaturesCollapse_660_1" aria-expanded="false" aria-controls="comparisonCardFeaturesCollapse_660_1">
                            <span class="comparison__features-btn-more">View all features</span>
                            <span class="comparison__features-btn-less">View less features</span>
                        </button>
                    </div>
                    <img src="https://www.mylsb.com/images/triangle-br-bg.svg" class="comparison__card-decoration" alt="" aria-hidden="true" />
                </div>
                <div class="comparison__card">
                    <div id="comparisonCardHeading_660_2" class="comparison__card-heading">
                        <div>Direct Interest Checking</div>
                        <div class="comparison__table__cta-link"><a href="#" class="btn btn-tertiary comparison__table__cta-btn">Learn More<span class="sr-only"> about Direct Interest Checking</span></a></div>
                    </div>

                    <div class="comparison__card-summary">

                        <dl aria-labelledby="comparisonCardHeading_660_2">
                            <dt>Choose the best account for you!</dt>
                            <dd>Earn interest with this account when you have at least one direct deposit or automatic payment set up.</dd>
                        </dl>
                    </div>

                    <div class="comparison__features" id="comparisonCardFeatures_660_2">
                        <dl aria-labelledby="comparisonCardHeading_660_2">
                            <dt>Minimum Opening Deposit</dt>
                            <dd>$50</dd>
                        </dl>
                    </div>

                    <div id="comparisonCardFeaturesCollapse_660_2" class="collapse comparison__collapse" data-parent="#comparisonCardFeatures_660_2">
                        <dl aria-labelledby="comparisonCardHeading_660_2">
                            <dt>Earns Interest<sup>1</up></dt>
                            <dd><span class="fas fa-check" aria-hidden="true"></span><span class="sr-only">Yes</span></dd>
                            <dt>Free Personalized Checks</dt>
                            <dd> </dd>
                            <dt>FREE: Online Banking, Mobile Banking, Bill Pay, and Debit Card</dt>
                            <dd><span class="fas fa-check" aria-hidden="true"></span><span class="sr-only">Yes</span></dd>
                            <dt>Monthly Maintenance Service Charges<sup>2</sup></dt>
                            <dd>None</dd>
                        </dl>
                    </div>
                    <div class="comparison__features-btn-wrap">
                        <button class="btn btn-link comparison__features-btn collapsed" type="button" data-toggle="collapse" data-target="#comparisonCardFeaturesCollapse_660_2" aria-expanded="false" aria-controls="comparisonCardFeaturesCollapse_660_2">
                            <span class="comparison__features-btn-more">View all features</span>
                            <span class="comparison__features-btn-less">View less features</span>
                        </button>
                    </div>
                    <img src="https://www.mylsb.com/images/triangle-br-bg.svg" class="comparison__card-decoration" alt="" aria-hidden="true" />
                </div>
                <div class="comparison__card">
                    <div id="comparisonCardHeading_660_3" class="comparison__card-heading">
                        <div>Premier Interest Checking</div>
                        <div class="comparison__table__cta-link"><a href="#" class="btn btn-tertiary comparison__table__cta-btn">Learn More<span class="sr-only"> about Premier Interest Checking</span></a></div>
                    </div>
                    <div class="comparison__card-summary">
                        <dl aria-labelledby="comparisonCardHeading_660_3">
                            <dt>Choose the best account for you!</dt>
                            <dd>Do you maintain an average daily balance of $1,500 in your account? This account pays interest.</dd>
                        </dl>
                    </div>
                    <div class="comparison__features" id="comparisonCardFeatures_660_3">
                            <dl aria-labelledby="comparisonCardHeading_660_3">
                                <dt>Minimum Opening Deposit</dt>
                                <dd>$50</dd>
                            </dl>
                    </div>

                    <div id="comparisonCardFeaturesCollapse_660_3" class="collapse comparison__collapse" data-parent="#comparisonCardFeatures_660_3">
                        <dl aria-labelledby="comparisonCardHeading_660_3">
                            <dt>Earns Interest<sup>1</up></dt>
                            <dd><span class="fas fa-check" aria-hidden="true"></span><span class="sr-only">Yes</span></dd>
                            <dt>Free Personalized Checks</dt>
                            <dd><span class="fas fa-check" aria-hidden="true"></span><span class="sr-only">Yes</span></dd>
                            <dt>FREE: Online Banking, Mobile Banking, Bill Pay, and Debit Card</dt>
                            <dd><span class="fas fa-check" aria-hidden="true"></span><span class="sr-only">Yes</span></dd>
                            <dt>Monthly Maintenance Service Charges<sup>2</sup></dt>
                            <dd>If the average daily balance is below $1,500 during the statement cycle there is a $5.00 monthly maintenance service charge.</dd>
                        </dl>
                    </div>
                    <div class="comparison__features-btn-wrap">
                        <button class="btn btn-link comparison__features-btn collapsed" type="button" data-toggle="collapse" data-target="#comparisonCardFeaturesCollapse_660_3" aria-expanded="false" aria-controls="comparisonCardFeaturesCollapse_660_3">
                            <span class="comparison__features-btn-more">View all features</span>
                            <span class="comparison__features-btn-less">View less features</span>
                        </button>
                    </div>
                    <img src="https://www.mylsb.com/images/triangle-br-bg.svg" class="comparison__card-decoration" alt="" aria-hidden="true" />
                </div>
                <div class="comparison__card">
                    <div id="comparisonCardHeading_660_4" class="comparison__card-heading">
                        <div>50+ Interest Checking</div>
                        <div class="comparison__table__cta-link"><a href="#" class="btn btn-tertiary comparison__table__cta-btn">Learn More<span class="sr-only"> about 50+ Interest Checking</span></a></div>
                    </div>

                    <div class="comparison__card-summary">

                        <dl aria-labelledby="comparisonCardHeading_660_4">
                            <dt>Choose the best account for you!</dt>
                            <dd>Customers who are 50 years or older can enjoy this free account that features great benefits.</dd>
                        </dl>
                    </div>

                    <div class="comparison__features" id="comparisonCardFeatures_660_4">
                        <dl aria-labelledby="comparisonCardHeading_660_4">
                            <dt>Minimum Opening Deposit</dt>
                            <dd>$50</dd>
                        </dl>
                    </div>

                    <div id="comparisonCardFeaturesCollapse_660_4" class="collapse comparison__collapse" data-parent="#comparisonCardFeatures_660_4">
                        <dl aria-labelledby="comparisonCardHeading_660_4">
                            <dt>Earns Interest<sup>1</up></dt>
                            <dd><span class="fas fa-check" aria-hidden="true"></span><span class="sr-only">Yes</span></dd>
                            <dt>Free Personalized Checks</dt>
                            <dd><span class="fas fa-check" aria-hidden="true"></span><span class="sr-only">Yes</span></dd>
                            <dt>FREE: Online Banking, Mobile Banking, Bill Pay, and Debit Card</dt>
                            <dd><span class="fas fa-check" aria-hidden="true"></span><span class="sr-only">Yes</span></dd>
                            <dt>Monthly Maintenance Service Charges<sup>2</sup></dt>
                            <dd>None</dd>
                        </dl>

                    </div>
                    <div class="comparison__features-btn-wrap">
                        <button class="btn btn-link comparison__features-btn collapsed" type="button" data-toggle="collapse" data-target="#comparisonCardFeaturesCollapse_660_4" aria-expanded="false" aria-controls="comparisonCardFeaturesCollapse_660_4">
                            <span class="comparison__features-btn-more">View all features</span>
                            <span class="comparison__features-btn-less">View less features</span>
                        </button>
                    </div>
                    <img src="/images/triangle-br-bg.svg" class="comparison__card-decoration" alt="" aria-hidden="true" />
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        
        <div class="disclosure" id="disclosure_939">
            <p>1 Your interest rate and annual percentage yield may change. At the bank&rsquo;s discretion, we may change the interest rate on your account daily. Interest will be compounded and credited to your account monthly. Interest begins to accrue no later than the business day the bank received credit for the deposit of non-cash items (for example, checks). We use the daily balance method to calculate the interest on your account. This method applies a daily periodic rate to the principal in the account each day. Ask us about our current rates.<br />
                2 Sales tax may apply.
            </p>

        </div>
    </div>
<div class="category-nav">
    <div class="container">
                <div class="row d-lg-flex flex-wrap align-items-stretch staggered-animation-container" id="category-nav_35">
                    <div class="col-lg-5 offset-lg-1">
                        <a href="#" class="category-nav__item staggered-animation"  data-os-animation="animate__fadeInUp" data-os-animation-delay="0s">
                            <h3 class="category-nav__item-heading">Overdrafts</h3>
                            <div class="category-nav__item-sub"><p>Take positive steps to guard against negative balances.</p>
                            </div>
                            
                            <img src="https://www.mylsb.com/images/triangle-br-bg.svg" alt="" aria-hidden="true" class="category-nav__item-decoration" />
                        </a>
                    </div>
                    <div class="col-lg-5 ">
                        <a href="#" class="category-nav__item staggered-animation"  data-os-animation="animate__fadeInUp" data-os-animation-delay=".3s">
                            <h3 class="category-nav__item-heading">Overdraft Opt-In</h3>
                            <div class="category-nav__item-sub"><p>Use this simple form to choose overdraft protection on your debit card transactions.&nbsp;</p>
                            </div>
                            
                            <img src="https://www.mylsb.com/images/triangle-br-bg.svg" alt="" aria-hidden="true" class="category-nav__item-decoration" />
                        </a>
                    </div>
                </div>
                <div class="row d-lg-flex flex-wrap align-items-stretch staggered-animation-container" id="category-nav_37">
                <div class="col-lg-5 offset-lg-1">
                    <a href="#" class="category-nav__item staggered-animation"  data-os-animation="animate__fadeInUp" data-os-animation-delay="0s">
                        <h3 class="category-nav__item-heading">ClickSWITCH</h3>
                        <div class="category-nav__item-sub"><p>Make a smooth transition to Lincoln Savings Bank in just 10 minutes.&nbsp;</p>
                        </div>
                        
                        <img src="https://www.mylsb.com/images/triangle-br-bg.svg" alt="" aria-hidden="true" class="category-nav__item-decoration" />
                    </a>
                </div>
    </div>
</div>
<aside class="cta-band" aria-labelledby="ctaBandTitle_941" id="cta-band_941">
    <div class="container">
        <img src="https://www.mylsb.com/images/lazy.gif" data-src="https://www.mylsb.com/images/triangle-tl-bg.svg" alt="" aria-hidden="true" class="cta-band__decoration-top os-animation lazyload" data-os-animation="animate__slideInLeft" height="157" width="411" />
        <div class="row">
            <div class="col-lg-11 col-xl-10 offset-lg-1 d-lg-flex align-items-center">
                <h2 id="ctaBandTitle_941" class="cta-band__heading os-animation" data-os-animation="animate__fadeInUp">
                    <strong>Find your </strong>next account now. 
                </h2>
                <div class="cta-band__ctas staggered-animation-container">
                        <a href="#table_660" class="btn btn-tertiary cta-band__cta staggered-animation"   data-os-animation="animate__fadeInUp" data-os-animation-delay="0.6s">
                            Compare Accounts
                        </a>
                        <a href="#" class="btn btn-tertiary cta-band__cta staggered-animation"   data-os-animation="animate__fadeInUp" data-os-animation-delay="0.8999999999999999s">
                            Visit a Branch
                        </a>
                </div>
            </div>
        </div>
        <img src="https://www.mylsb.com/images/lazy.gif" data-src="https://www.mylsb.com/images/triangle-br-g.svg" alt="" aria-hidden="true" class="cta-band__decoration-bottom os-animation lazyload" data-os-animation="animate__slideInRight" height="152" width="398" />
    </div>
</aside> 
</main>
{% endblock %}