{% extends 'base.html' %}
{% load static %}

{% block content %}
<header class="masthead" aria-labelledby="pageTitle" id="masthead_1666">
    <div class="masthead__bg">
        <div class="container">
            <img src="/images/triangle-tr-bg.svg" alt="" aria-hidden="true" class="masthead__decoration os-animation" data-os-animation="animate__slideInRight" />
            <div class="row">
                <div class="col-lg-4 d-flex flex-column justify-content-center">
                    
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Bank</li>
    </ol>
</nav>
<script type="application/ld+json">
    {
    "@context": "http://schema.org",
    "@type": "BreadcrumbList",
    "itemListElement": [
    {
    "@type": "ListItem",
    "position": 1,
    "item": {
    "@id": "https://www.mylsb.com/",
    "name": "Home"
    }
    }
,{"@type": "ListItem","position":2,"item": {"@id": "https://www.mylsb.com/bank","name": "Bank"}}    ]}
</script>
                    <h1 id="pageTitle">Bank</h1>
                </div>
                <div class="col-lg-6 offset-lg-2">
                    <img src="/MyLSB/media/Images/Mastheads/Bank/bank.jpg?ext=.jpg" class="masthead__img" alt="" />
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 masthead__nav-container">
                
            </div>
        </div>
    </div>
</header>
<div class="intro" id="intro_1665">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                    <h2 class="intro__heading"><strong>We're not just good</strong> - we're better.</h2>
                <p>Better solution-seekers, relationship-builders and, yes, community bankers. Wherever you are, our products, services and technology meet your needs so you can take care of business. And everything is backed by friendly, local financial professionals eager to serve you.</p>

            </div>
        </div>
    </div>
</div>
<div class="section-nav">
    <div class="container">
            <div class="row" id="section-nav_53">
                <div class="col-lg-10 offset-lg-1">
                    <div class="section-nav__category section-nav__category--first ">
                        <div>
                            <h3 class="section-nav__category-heading">
                                    <img src="/MyLSB/media/Images/Icons/personal.svg?ext=.svg" alt="" aria-hidden="true" class="section-nav__category-icon" />
                                Personal
                            </h3>
                                <ul class="list-unstyled section-nav__category-list">
                                        <li>
                                            <a href="#" >
                                                Checking Accounts
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" >
                                                Savings & CDs
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" >
                                                Debit Cards
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" >
                                                Account Rates
                                            </a>
                                        </li>
                                </ul>
                        </div>

                            <img src="/MyLSB/media/Images/Mastheads/Bank/certificate-of-deposit.jpg?ext=.jpg" class="section-nav__category-img" alt="" aria-hidden="true" />
                            <div class="section-nav__category-promo os-animation" data-os-animation="animate__fadeInRight">
                                <a href="#" >
                                    Extra money in a few months. Even more in a few years.
                                    <div>Learn More</div>
                                    
                                </a>
                                <img src="/images/triangle-br-bg-2.svg" class="section-nav__category-promo-decoration" alt="" aria-hidden="true" />
                            </div>
                    </div>
                </div>
            </div>
            <div class="row" id="section-nav_54">
                <div class="col-lg-10 offset-lg-1">
                    <div class="section-nav__category  section-nav__category--alt">
                        <div>
                            <h3 class="section-nav__category-heading">
                                    <img src="/MyLSB/media/Images/Icons/business.svg?ext=.svg" alt="" aria-hidden="true" class="section-nav__category-icon" />
                                Business
                            </h3>
                                <ul class="list-unstyled section-nav__category-list">
                                        <li>
                                            <a href="#" >
                                                Business Checking
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" >
                                                Business Savings
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" >
                                                Business Debit Cards
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" >
                                                Nonprofit Banking Services
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" >
                                                Treasury Management
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" >
                                                Change Order Request
                                            </a>
                                        </li>
                                </ul>
                        </div>

                            <img src="/MyLSB/media/Images/Mastheads/Bank/business-interest-checking.jpg?ext=.jpg" class="section-nav__category-img" alt="" aria-hidden="true" />
                            <div class="section-nav__category-promo os-animation" data-os-animation="animate__fadeInLeft">
                                <a href="#" >
                                    An effortless way to bump up your earnings.
                                    <div>Learn More</div>
                                    
                                </a>
                                <img src="/images/triangle-bl-bg-2.svg" class="section-nav__category-promo-decoration" alt="" aria-hidden="true" />
                            </div>
                    </div>
                </div>
            </div>
            <div class="row" id="section-nav_55">
                <div class="col-lg-10 offset-lg-1">
                    <div class="section-nav__category  ">
                        <div>
                            <h3 class="section-nav__category-heading">
                                    <img src="/MyLSB/media/Images/Icons/services.svg?ext=.svg" alt="" aria-hidden="true" class="section-nav__category-icon" />
                                Services
                            </h3>
                                <ul class="list-unstyled section-nav__category-list">
                                        <li>
                                            <a href="#" >
                                                Online/Mobile Bank Enrollment
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" >
                                                Online Banking
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" >
                                                Ledger: Budget Tracker
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" >
                                                eStatements
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" >
                                                Billpay Direct
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" >
                                                Mobile Banking
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" >
                                                Mobile Deposit
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" >
                                                Digital Wallets
                                            </a>
                                        </li>
                                </ul>
                        </div>

                            <img src="/MyLSB/media/Images/Mastheads/Support/digital-wallet.jpg?ext=.jpg" class="section-nav__category-img" alt="" aria-hidden="true" />
                            <div class="section-nav__category-promo os-animation" data-os-animation="animate__fadeInRight">
                                <a href="#" >
                                    Speed through checkout lines with one-touch transactions. 
                                    <div>Learn More</div>
                                    
                                </a>
                                <img src="/images/triangle-br-bg-2.svg" class="section-nav__category-promo-decoration" alt="" aria-hidden="true" />
                            </div>
                    </div>
                </div>
            </div>
    </div>
    <img src="/images/triangle-l-bg.svg" class="section-nav__decoration-left" alt="" aria-hidden="true" />
    <img src="/images/triangle-r-lg.svg" class="section-nav__decoration-right" alt="" aria-hidden="true" />
</div>
<aside class="resources " aria-label="resources" id="resources_287">
    <div class="container d-lg-flex">
        <div class="row flex-lg-grow-1">
            <div class="col-lg-11 offset-lg-1 d-lg-flex">
                <h2 class="resources__heading">
                    <strong>Always here</strong> to help.
                </h2>
                    <ul class="resources__list staggered-animation-container">
                            <li class="resource staggered-animation" data-os-animation="animate__fadeInUp" data-os-animation-delay="0s">
                                <a href="#">
                                    <img src="/images/lazy.gif" data-src="/MyLSB/media/Images/Icons/faqs.svg?ext=.svg" class="resource__icon lazyload" alt="" aria-hidden="true" height="55" width="55" />
                                    FAQs
                                </a>
                            </li>
                            <li class="resource staggered-animation" data-os-animation="animate__fadeInUp" data-os-animation-delay="0.3s">
                                <a href="#">
                                    <img src="/images/lazy.gif" data-src="/MyLSB/media/Images/Icons/lsb-plus.svg?ext=.svg" class="resource__icon lazyload" alt="" aria-hidden="true" height="55" width="55" />
                                    LSB+ Financial Guidance
                                </a>
                            </li>
                            <li class="resource staggered-animation" data-os-animation="animate__fadeInUp" data-os-animation-delay="0.6s">
                                <a href="#" target="_blank" >
                                    <img src="/images/lazy.gif" data-src="/MyLSB/media/Images/Icons/blog.svg?ext=.svg" class="resource__icon lazyload" alt="" aria-hidden="true" height="55" width="55" />
                                    Honest Insights<span class="sr-only"> (opens in a new tab)</span>
                                </a>
                            </li>
                    </ul>
            </div>
        </div>
    </div>
</aside> 
</main>
{% endblock %}