{% extends 'base.html' %}
{% load static %}

{% block content %}
<header class="masthead" aria-labelledby="pageTitle" id="masthead_1544">
    <div class="masthead__bg">
        <div class="container">
            <img src="https://www.mylsb.com/images/triangle-tr-bg.svg" alt="" aria-hidden="true" class="masthead__decoration os-animation" data-os-animation="animate__slideInRight" />
            <div class="row">
                <div class="col-lg-4 d-flex flex-column justify-content-center">
                    
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Bank</a></li>
        <li class="breadcrumb-item">Business</li>
        <li class="breadcrumb-item active" aria-current="page">Business Savings</li>
    </ol>
</nav>
<script type="application/ld+json">
    {
    "@context": "http://schema.org",
    "@type": "BreadcrumbList",
    "itemListElement": [
    {
    "@type": "ListItem",
    "position": 1,
    "item": {
    "@id": "https://www.mylsb.com/",
    "name": "Home"
    }
    }
,{"@type": "ListItem","position":2,"item": {"@id": "https://www.mylsb.com/bank","name": "Bank"}},{"@type": "ListItem","position":3,"item": {"@id": "https://www.mylsb.com/bank/business/business-savings","name": "Business Savings"}}    ]}
</script>
                    <h1 id="pageTitle">Business Savings</h1>
                </div>
                    <div class="masthead__ctas">
                        <div class="masthead__ctas-inner os-animation" data-os-animation="animate__fadeInUp">
                                <a href="#" class="masthead__cta"  >Contact Us</a>
                                <div class="masthead__ctas-divider"></div>
                                <a href="#" class="masthead__cta"  >Visit Us</a>
                        </div>
                    </div>
                <div class="col-lg-6 offset-lg-2">
                    <img src="https://www.mylsb.com/MyLSB/media/Images/Mastheads/Bank/business-savings.jpg?ext=.jpg" class="masthead__img" alt="" />
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 masthead__nav-container">
                
<nav class="internal-nav dropdown" aria-labelledby="internalNav">
    <a class="dropdown-toggle" href="#" role="button" id="internalNav" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pages within: <span class="internal-nav__parent">Business Savings</span><span class="fas fa-chevron-down" aria-hidden="true"></span></a>
    <div class="dropdown-menu" aria-labelledby="internalNav">
    </div>
</nav>
            </div>
        </div>
    </div>
</header>
<section class="features" aria-label="Features & Benefits" id="features_1545">
    <div class="container d-lg-flex">
        <div class="row flex-lg-grow-1">
            <div class="col-lg-11 offset-lg-1 d-lg-flex">
                <h2 class="features__heading">
                    <strong>Earn rock-solid</strong> returns on your financial reserves.
                </h2>
                    <ul class="features__list staggered-animation-container">
                        <li class="feature staggered-animation" data-os-animation="animate__fadeInUp" data-os-animation-delay="0s">
                            <img src="https://www.mylsb.com/images/icons/feature.svg" class="feature__icon" alt="" aria-hidden="true" />
                            Savings accounts, Money Markets and CDs
                        </li>
                        <li class="feature staggered-animation" data-os-animation="animate__fadeInUp" data-os-animation-delay="0.3s">
                            <img src="https://www.mylsb.com/images/icons/feature.svg" class="feature__icon" alt="" aria-hidden="true" />
                            Create a financial cushion
                        </li>
                        <li class="feature staggered-animation" data-os-animation="animate__fadeInUp" data-os-animation-delay="0.6s">
                            <img src="https://www.mylsb.com/images/icons/feature.svg" class="feature__icon" alt="" aria-hidden="true" />
                            Plan for future growth
                        </li>
                    </ul>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <aside class="promo-band" aria-label="You may also like" id="promo-band_1551">
        <div class="row">
            <div class="col-lg-11 offset-lg-1 d-lg-flex justify-content-between align-items-center">
                    <img src="https://www.mylsb.com/MyLSB/media/Images/Icons/ribbon.svg?ext=.svg" class="promo-band__icon" alt="" aria-hidden="true" />
                    <h3 class="promo-band__heading">Every business can profit from a strong savings strategy.</h3>
                    <a href="#" class="btn btn-tertiary promo-band__cta"  >
                        Contact Us
                    </a>
            </div>
        </div>
    </aside>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-8 offset-lg-1">
            
            <div class="richtext">
                <h3><strong>Be ready to take action when the time is right.</strong></h3>

                <p>In the business world, change is a given. When it comes to planning for the future, about the only certainty is that you&#39;ll need extra funds to tackle projects, make purchases or deal with challenges. At Lincoln Savings Bank, we offer a variety of interest-bearing accounts that can leave your business in a better position to take on tomorrow - and whatever it may bring.</p>

                <ul class="checklist">
                    <li><strong>Savings accounts: </strong><span>Earn competitive interest on funds that you&#39;ve set aside for future use.</span><strong><span> </span></strong></li>
                    <li><strong>Money Markets: </strong>Enjoy investment-level returns and instant access to your money through checks and digital banking tools.</li>
                    <li><strong>Certificates of Deposit: </strong>These safe investments feature high yields and maximum flexibility. Save for six months, five years or some period in between.<strong><span> </span></strong></li>
                </ul>

            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-8 offset-lg-1">    
            <div class="richtext">
                <h5 style="text-align: center;">Lincoln Savings Bank is a full-service Central and Northeast Iowa bank dedicated to local customers and communities since 1902.</h5>
            </div>
        </div>
    </div>
</div>
<aside class="cta-band" aria-labelledby="ctaBandTitle_1554" id="cta-band_1554">
    <div class="container">
        <img src="https://www.mylsb.com/images/lazy.gif" data-src="https://www.mylsb.com/images/triangle-tl-bg.svg" alt="" aria-hidden="true" class="cta-band__decoration-top os-animation lazyload" data-os-animation="animate__slideInLeft" height="157" width="411" />
        <div class="row">
            <div class="col-lg-11 col-xl-10 offset-lg-1 d-lg-flex align-items-center">
                <h2 id="ctaBandTitle_1554" class="cta-band__heading os-animation" data-os-animation="animate__fadeInUp">
                    <strong>Ready to open</strong> your account?
                </h2>
                <div class="cta-band__ctas staggered-animation-container">
                        <a href="#" class="btn btn-tertiary cta-band__cta staggered-animation"   data-os-animation="animate__fadeInUp" data-os-animation-delay="0.6s">
                            Contact Us
                        </a>
                        <a href="#" class="btn btn-tertiary cta-band__cta staggered-animation"   data-os-animation="animate__fadeInUp" data-os-animation-delay="0.8999999999999999s">
                            Visit Us
                        </a>
                </div>
            </div>
        </div>
        <img src="https://www.mylsb.com/images/lazy.gif" data-src="https://www.mylsb.com/images/triangle-br-g.svg" alt="" aria-hidden="true" class="cta-band__decoration-bottom os-animation lazyload" data-os-animation="animate__slideInRight" height="152" width="398" />
    </div>
</aside>
<aside class="resources " aria-label="resources" id="resources_1566">
    <div class="container d-lg-flex">
        <div class="row flex-lg-grow-1">
            <div class="col-lg-11 offset-lg-1 d-lg-flex">
                <h2 class="resources__heading">
                    <strong>Additional</strong> Tools
                </h2>
                    <ul class="resources__list staggered-animation-container">
                            <li class="resource staggered-animation" data-os-animation="animate__fadeInUp" data-os-animation-delay="0s">
                                <a href="#"  >
                                    <img src="https://www.mylsb.com/images/lazy.gif" data-src="https://www.mylsb.com/MyLSB/media/Images/Icons/calculator.svg?ext=.svg" class="resource__icon lazyload" alt="" aria-hidden="true" height="55" width="55" />
                                    Business Financial Calculators 
                                </a>
                            </li>
                            <li class="resource staggered-animation" data-os-animation="animate__fadeInUp" data-os-animation-delay="0.3s">
                                <a href="https://www.mylsb.comhttps://blog.mylsb.com/honest-insights/banks-never-ask-that-cybersecurity-tips"  >
                                    <img src="/images/lazy.gif" data-src="/MyLSB/media/Images/Icons/blog-post.svg?ext=.svg" class="resource__icon lazyload" alt="" aria-hidden="true" height="55" width="55" />
                                    Banks Never Ask That: Cybersecurity Tips
                                </a>
                            </li>
                            <li class="resource staggered-animation" data-os-animation="animate__fadeInUp" data-os-animation-delay="0.6s">
                                <a href="#"  >
                                    <img src="https://www.mylsb.com/images/lazy.gif" data-src="https://www.mylsb.com/MyLSB/media/Images/Icons/calculator.svg?ext=.svg" class="resource__icon lazyload" alt="" aria-hidden="true" height="55" width="55" />
                                    Business Management Calculators 
                                </a>
                            </li>
                            <li class="resource staggered-animation" data-os-animation="animate__fadeInUp" data-os-animation-delay="0.8999999999999999s">
                                <a href="#"  >
                                    <img src="https://www.mylsb.com/images/lazy.gif" data-src="https://www.mylsb.com/MyLSB/media/Images/Icons/blog.svg?ext=.svg" class="resource__icon lazyload" alt="" aria-hidden="true" height="55" width="55" />
                                    Business Blog Articles
                                </a>
                            </li>
                    </ul>
            </div>
        </div>
    </div>
</aside>
<aside class="cross-promo" aria-labelledby="crossPromoHeading_1257" id="cross-promo_1257">
    <div class="cross-promo__bg"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 d-lg-flex flex-column align-items-end">
                <img src="https://www.mylsb.com/MyLSB/media/Images/Cross%20Promos/business-interest-checking.jpg?ext=.jpg" alt="" aria-hidden="true" class="cross-promo__img" />
            </div>
            <div class="col-lg-5 offset-lg-1 d-lg-flex flex-column justify-content-end align-items-start">
                <h2 id="crossPromoHeading_1257" class="cross-promo__heading">Operating Lines of Credit</h2>
                <div class="cross-promo__sub">Get financial flexibility to meet your next challenge.</div>
                    <a href="#" class="btn btn-secondary cross-promo__cta"  aria-label="Learn More about operating lines of credit">Learn More</a>
            </div>
        </div>
    </div>
</aside> 
</main>
{% endblock %}