{% extends 'base.html' %}
{% load static %}

{% block content %}
<header class="masthead" aria-labelledby="pageTitle" id="masthead_1224">
    <div class="masthead__bg">
        <div class="container">
            <img src="https://www.mylsb.com/images/triangle-tr-bg.svg" alt="" aria-hidden="true" class="masthead__decoration os-animation" data-os-animation="animate__slideInRight" />
            <div class="row">
                <div class="col-lg-4 d-flex flex-column justify-content-center">
                    
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Bank</a></li>
                        <li class="breadcrumb-item">Business</li>
                        <li class="breadcrumb-item active" aria-current="page">Business Checking</li>
                    </ol>
                </nav>
                <script type="application/ld+json">
                    {
                    "@context": "http://schema.org",
                    "@type": "BreadcrumbList",
                    "itemListElement": [
                    {
                    "@type": "ListItem",
                    "position": 1,
                    "item": {
                    "@id": "https://www.mylsb.com/",
                    "name": "Home"
                    }
                    },
                    {"@type": "ListItem","position":2,"item": {"@id": "https://www.mylsb.com/bank","name": "Bank"}},{"@type": "ListItem","position":3,"item": {"@id": "https://www.mylsb.com/bank/business/business-checking","name": "Business Checking"}}    ]}
                </script>
                <h1 id="pageTitle">Business Checking</h1>
            </div>
            <div class="masthead__ctas">
                <div class="masthead__ctas-inner os-animation" data-os-animation="animate__fadeInUp">
                    <a href="#" class="masthead__cta"  >Contact Us</a>
                    <div class="masthead__ctas-divider"></div>
                    <a href="#" class="masthead__cta"  >Visit Us</a>
                </div>
                </div>
            <div class="col-lg-6 offset-lg-2">
                <img src="https://www.mylsb.com/MyLSB/media/Images/Mastheads/Bank/business-checking.jpg?ext=.jpg" class="masthead__img" alt="" />
            </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 masthead__nav-container">
                
                <nav class="internal-nav dropdown" aria-labelledby="internalNav">
                    <a class="dropdown-toggle" href="#" role="button" id="internalNav" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pages within: <span class="internal-nav__parent">Business Checking</span><span class="fas fa-chevron-down" aria-hidden="true"></span></a>
                    <div class="dropdown-menu" aria-labelledby="internalNav">
                        <a href="#" class="dropdown-item" >
                            Simply Free Business Checking
                        </a>
                        <a href="#" class="dropdown-item" >
                            Business Interest Checking
                        </a>
                        <a href="#" class="dropdown-item" >
                            Commercial Checking
                        </a>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>
<div class="intro" id="intro_1228">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                    <h2 class="intro__heading"><strong>Financial tools that keep you in total control.</strong></h2>
                <p>When you run a business, you set expectations high. For your employees, your profits and for everyone who provides you with essential services. At Lincoln Savings Bank, we work hard to live up to your standards with checking options that include digital banking tools and other high-value features that enhance your daily operations.</p>

            </div>
        </div>
    </div>
</div>
<div class="category-nav">
    <div class="container">
        <div class="row d-lg-flex flex-wrap align-items-stretch staggered-animation-container" id="category-nav_62">
            <div class="col-lg-5 offset-lg-1">
                <a href="#" class="category-nav__item staggered-animation"  data-os-animation="animate__fadeInUp" data-os-animation-delay="0s">
                    <h3 class="category-nav__item-heading">Simply Free Business Checking</h3>
                    <div class="category-nav__item-sub"><p>Get everything you need to keep your finances on track without adding a single dollar to your overhead.</p>
                    </div>
                    
                    <img src="https://www.mylsb.com/images/triangle-br-bg.svg" alt="" aria-hidden="true" class="category-nav__item-decoration" />
                </a>
            </div>
            <div class="col-lg-5 ">
                <a href="#" class="category-nav__item staggered-animation"  data-os-animation="animate__fadeInUp" data-os-animation-delay=".3s">
                    <h3 class="category-nav__item-heading">Business Interest Checking</h3>
                    <div class="category-nav__item-sub"><p>Your operating funds can pull double duty, generating new revenues before you use them cover expenses.&nbsp;</p>
                    </div>
                    
                    <img src="https://www.mylsb.com/images/triangle-br-bg.svg" alt="" aria-hidden="true" class="category-nav__item-decoration" />
                </a>
            </div>
        </div>
        <div class="row d-lg-flex flex-wrap align-items-stretch staggered-animation-container" id="category-nav_64">
            <div class="col-lg-5 offset-lg-1">
                <a href="#" class="category-nav__item staggered-animation"  data-os-animation="animate__fadeInUp" data-os-animation-delay="0s">
                    <h3 class="category-nav__item-heading">Commercial Checking</h3>
                    <div class="category-nav__item-sub"><p>Specially designed for bigger businesses that require sophisticated banking services and expect across-the-board value.</p>
                    </div>
                    
                    <img src="https://www.mylsb.com/images/triangle-br-bg.svg" alt="" aria-hidden="true" class="category-nav__item-decoration" />
                </a>
            </div>
        </div>
    </div>
    <aside class="cta-band" aria-labelledby="ctaBandTitle_1239" id="cta-band_1239">
        <div class="container">
            <img src="https://www.mylsb.com/images/lazy.gif" data-src="https://www.mylsb.com/images/triangle-tl-bg.svg" alt="" aria-hidden="true" class="cta-band__decoration-top os-animation lazyload" data-os-animation="animate__slideInLeft" height="157" width="411" />
            <div class="row">
                <div class="col-lg-11 col-xl-10 offset-lg-1 d-lg-flex align-items-center">
                    <h2 id="ctaBandTitle_1239" class="cta-band__heading os-animation" data-os-animation="animate__fadeInUp">
                        <strong>Find the account</strong>that fits your company.
                    </h2>
                    <div class="cta-band__ctas staggered-animation-container">
                            <a href="#" class="btn btn-tertiary cta-band__cta staggered-animation"   data-os-animation="animate__fadeInUp" data-os-animation-delay="0.6s">
                                Contact Us
                            </a>
                            <a href="#" class="btn btn-tertiary cta-band__cta staggered-animation"   data-os-animation="animate__fadeInUp" data-os-animation-delay="0.8999999999999999s">
                                Visit Us
                            </a>
                    </div>
                </div>
            </div>
            <img src="https://www.mylsb.com/images/lazy.gif" data-src="https://www.mylsb.com/images/triangle-br-g.svg" alt="" aria-hidden="true" class="cta-band__decoration-bottom os-animation lazyload" data-os-animation="animate__slideInRight" height="152" width="398" />
        </div>
    </aside> 
</main>
{% endblock %}