{% extends 'base.html' %}
{% load static %}

{% block content %}
<header class="masthead" aria-labelledby="pageTitle" id="masthead_1339">
    <div class="masthead__bg">
        <div class="container">
            <img src="https://www.mylsb.com/images/triangle-tr-bg.svg" alt="" aria-hidden="true" class="masthead__decoration os-animation" data-os-animation="animate__slideInRight" />
            <div class="row">
                <div class="col-lg-4 d-flex flex-column justify-content-center">
                    
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Learn</a></li>
        <li class="breadcrumb-item">About</li>
        <li class="breadcrumb-item active" aria-current="page">Careers</li>
    </ol>
</nav>
<script type="application/ld+json">
    {
    "@context": "http://schema.org",
    "@type": "BreadcrumbList",
    "itemListElement": [
    {
    "@type": "ListItem",
    "position": 1,
    "item": {
    "@id": "https://www.mylsb.com/",
    "name": "Home"
    }
    }
,{"@type": "ListItem","position":2,"item": {"@id": "https://www.mylsb.com/learn","name": "Learn"}},{"@type": "ListItem","position":3,"item": {"@id": "https://www.mylsb.com/learn/about/careers","name": "Careers"}}    ]}
</script>
                    <h1 id="pageTitle">Careers</h1>
                </div>
                    <div class="masthead__ctas">
                        <div class="masthead__ctas-inner os-animation" data-os-animation="animate__fadeInUp">
                                <a href="https://careers.mylsb.com/Careers.aspx?type=CAREERSMAIN" class="masthead__cta" target="_blank" >Browse Open Positions<span class="sr-only"> (opens in a new tab)</span></a>
                        </div>
                    </div>
                <div class="col-lg-6 offset-lg-2">
                    <img src="https://www.mylsb.com/MyLSB/media/Images/Mastheads/Learn/careers.jpg?ext=.jpg" class="masthead__img" alt="" />
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 masthead__nav-container">
                
<nav class="internal-nav dropdown" aria-labelledby="internalNav">
    <a class="dropdown-toggle" href="#" role="button" id="internalNav" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pages within: <span class="internal-nav__parent">Careers</span><span class="fas fa-chevron-down" aria-hidden="true"></span></a>
    <div class="dropdown-menu" aria-labelledby="internalNav">
    </div>
</nav>
            </div>
        </div>
    </div>
</header>
<section class="features" aria-label="Features & Benefits" id="features_1340">
    <div class="container d-lg-flex">
        <div class="row flex-lg-grow-1">
            <div class="col-lg-11 offset-lg-1 d-lg-flex">
                <h2 class="features__heading">
                    <strong>We're always on the lookout for</strong> talented people.
                </h2>
                    <ul class="features__list staggered-animation-container">
                            <li class="feature staggered-animation" data-os-animation="animate__fadeInUp" data-os-animation-delay="0s">
                                <img src="https://www.mylsb.com/images/icons/feature.svg" class="feature__icon" alt="" aria-hidden="true" />
Learn about our core values                            </li>
                            <li class="feature staggered-animation" data-os-animation="animate__fadeInUp" data-os-animation-delay="0.3s">
                                <img src="https://www.mylsb.com/images/icons/feature.svg" class="feature__icon" alt="" aria-hidden="true" />
Browse job openings                            </li>
                            <li class="feature staggered-animation" data-os-animation="animate__fadeInUp" data-os-animation-delay="0.6s">
                                <img src="https://www.mylsb.com/images/icons/feature.svg" class="feature__icon" alt="" aria-hidden="true" />
Submit an online application                            </li>
                    </ul>
            </div>
        </div>
    </div>
</section><div class="container">
    <aside class="promo-band" aria-label="You may also like" id="promo-band_1344">
        <div class="row">
            <div class="col-lg-11 offset-lg-1 d-lg-flex justify-content-between align-items-center">
                    <img src="https://www.mylsb.com/MyLSB/media/Images/Icons/ribbon.svg?ext=.svg" class="promo-band__icon" alt="" aria-hidden="true" />
                    <h3 class="promo-band__heading">Submit an online application</h3>
                    <a href="https://careers.mylsb.com/Careers.aspx?type=CAREERSMAIN" class="btn btn-tertiary promo-band__cta"  >
                        Apply Today
                    </a>
            </div>
        </div>
    </aside>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-8 offset-lg-1">
            
<div class="richtext">
    <h3><strong>Want more than a paycheck? This is the place.</strong></h3>

<p>At Lincoln Savings Bank, we don&#39;t just hire employees. We form partnerships.</p>

<p>You bring us your strong work ethic, superior people skills and commitment to helping customers achieve their financial goals. And we&#39;ll provide you with a dynamic workplace, diverse colleagues and the kind of coaching and mentoring that fosters career growth.</p>

<p>Lincoln Savings Bank is a unique combination of a strong community bank and entrepreneurial platform for financial services nationwide. In transforming from a small, one-location agricultural bank into a diversified financial institution, we&#39;ve enjoyed sustained growth while staying rooted in Iowa values.</p>

<p>We conduct business based on a small set of timeless guiding principles we refer to as Core Values:</p>

<ul class="checklist">
	<li>Cultivating deeper relationships</li>
	<li>Fostering superior talent</li>
	<li>Acting like owners</li>
	<li>Building strong communities</li>
</ul>

<p>In short, you might come aboard for the competitive salaries and outstanding benefits, which include an employee stock ownership plan. But we believe it&#39;s our innovative company culture and wealth of professional opportunities that will keep you excited about coming to work day after day.</p>

<p><a href="https://careers.mylsb.com/Careers.aspx?type=CAREERSMAIN" rel="noopener noreferrer" target="_blank">Browse our Open Positions</a><br />
<a href="https://careers.mylsb.com/AppSelfService.aspx?adata=EKLQvpJuAvw%2fl0KXk8%2bAY8A1TQU%2fleQD2eGARSFN3iuavGX1fDhJYJ6qFDMn5vzC%2fkCebz9QwDougk%2f8b%2fSvzp4tvL0ercTEzEzKljREFKX66Ih%2fooUEVGnEzwQRmG8LE7DXhP1RSuxxFmdZ%2ffvYn3x133jpt8ytQMA5VN1HxOWBHs6wEpYbc%2fI6FwOyDKWWncOAKIwN%2foeJSvv6QF3cM5pjoHmMB%2fVVQ0BEUiiF2VhX8IyG%2fbL%2bxB7TAO1H2WHF%2fg%3d%3d" rel="noopener noreferrer" target="_blank">Submit an Application</a><br />
<a href="https://careers.mylsb.com/AppSelfService.aspx" rel="noopener noreferrer" target="_blank">Returning Applicants Click Here</a><br />
<br />
Lincoln Savings Bank participates in E-Verify.</p>

<p><strong>Non-Discrimination Policy</strong></p>

<p>Lincoln Savings Bank is an equal opportunity employer and we hire and promote individuals solely based on their qualifications for the job to be filled.</p>

<p>The Equal Employment Opportunity Policy of Lincoln Savings Bank is to provide a fair and equal employment opportunity for all employees and job applicants regardless of race, color, religion, national origin, gender, sexual orientation, age, marital status or disability.<br />
<br />
Lincoln Savings Bank believes that employees should be provided with a working environment which enables each employee to be productive and to work to the best of his or her ability. We do not condone or tolerate an atmosphere of intimidation or harassment based on race, color, religion, national origin, gender, sexual orientation, age, marital status or disability.</p>

<p>We expect and require the cooperation of all employees in maintaining a discrimination and harassment-free atmosphere.</p>

</div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-8 offset-lg-1">
            
<div class="richtext">
    <h5 style="text-align: center;">Lincoln Savings Bank is a full-service Central and Northeast Iowa bank dedicated to local customers and communities since 1902.</h5>

</div>
        </div>
    </div>
</div>
<aside class="cta-band" aria-labelledby="ctaBandTitle_1347" id="cta-band_1347">
    <div class="container">
        <img src="https://www.mylsb.com/images/lazy.gif" data-src="https://www.mylsb.com/images/triangle-tl-bg.svg" alt="" aria-hidden="true" class="cta-band__decoration-top os-animation lazyload" data-os-animation="animate__slideInLeft" height="157" width="411" />
        <div class="row">
            <div class="col-lg-11 col-xl-10 offset-lg-1 d-lg-flex align-items-center">
                <h2 id="ctaBandTitle_1347" class="cta-band__heading os-animation" data-os-animation="animate__fadeInUp">
                    <strong> Take your next </strong> career step with us.
                </h2>
                <div class="cta-band__ctas staggered-animation-container">
                        <a href="https://careers.mylsb.com/Careers.aspx?type=CAREERSMAIN" class="btn btn-tertiary cta-band__cta staggered-animation"   data-os-animation="animate__fadeInUp" data-os-animation-delay="0.6s">
                            Join the Team
                        </a>
                </div>
            </div>
        </div>
        <img src="https://www.mylsb.com/images/lazy.gif" data-src="https://www.mylsb.com/images/triangle-br-g.svg" alt="" aria-hidden="true" class="cta-band__decoration-bottom os-animation lazyload" data-os-animation="animate__slideInRight" height="152" width="398" />
    </div>
</aside>
<aside class="resources " aria-label="resources" id="resources_1349">
    <div class="container d-lg-flex">
        <div class="row flex-lg-grow-1">
            <div class="col-lg-11 offset-lg-1 d-lg-flex">
                <h2 class="resources__heading">
                    <strong>Additional</strong> Tools
                </h2>
                    <ul class="resources__list staggered-animation-container">
                            <li class="resource staggered-animation" data-os-animation="animate__fadeInUp" data-os-animation-delay="0s">
                                <a href="#"  >
                                    <img src="https://www.mylsb.com/images/lazy.gif" data-src="https://www.mylsb.com/MyLSB/media/Images/Icons/lsb-plus.svg?ext=.svg" class="resource__icon lazyload" alt="" aria-hidden="true" height="55" width="55" />
                                    LSB+ Financial Guidance
                                </a>
                            </li>
                            <li class="resource staggered-animation" data-os-animation="animate__fadeInUp" data-os-animation-delay="0.3s">
                                <a href="#" target="_blank" >
                                    <img src="https://www.mylsb.com/images/lazy.gif" data-src="https://www.mylsb.com/MyLSB/media/Images/Icons/blog.svg?ext=.svg" class="resource__icon lazyload" alt="" aria-hidden="true" height="55" width="55" />
                                    Honest Insights<span class="sr-only"> (opens in a new tab)</span>
                                </a>
                            </li>
                            <li class="resource staggered-animation" data-os-animation="animate__fadeInUp" data-os-animation-delay="0.6s">
                                <a href="#"  >
                                    <img src="https://www.mylsb.com/images/lazy.gif" data-src="https://www.mylsb.com/MyLSB/media/Images/Icons/faqs.svg?ext=.svg" class="resource__icon lazyload" alt="" aria-hidden="true" height="55" width="55" />
                                    FAQs
                                </a>
                            </li>
                    </ul>
            </div>
        </div>
    </div>
</aside>
<aside class="cross-promo" aria-labelledby="crossPromoHeading_486" id="cross-promo_486">
    <div class="cross-promo__bg"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 d-lg-flex flex-column align-items-end">
                <img src="https://www.mylsb.com/MyLSB/media/Images/Cross%20Promos/ledger-budget-tracker.jpg?ext=.jpg" alt="" aria-hidden="true" class="cross-promo__img" />
            </div>
            <div class="col-lg-5 offset-lg-1 d-lg-flex flex-column justify-content-end align-items-start">
                <h2 id="crossPromoHeading_486" class="cross-promo__heading">Ledger: Budget Tracker</h2>
                <div class="cross-promo__sub">Get a big-picture view of your budget with our free online tool.</div>
                    <a href="#" class="btn btn-secondary cross-promo__cta"  aria-label="Learn More about Ledger Budget Tracker">Learn More</a>
            </div>
        </div>
    </div>
</aside> 
</main>
{% endblock %}