
<!-- ## FOOTER-->
<div class="col-12 px-lg-5 pb-5 db-bg-overlay my-border-t pt-5" style="background:linear-gradient(to right, rgba(34, 34, 34, 1), rgba(34, 34, 34, 0.99)); height: auto; border-top: 1px solid #5e6064;">
    <h3 class="moreWhite reduceH5">
        <img src="https://www3.mtb.com/content/experience-fragments/mtb-web/info-icon-exp-fragment/info-icon-experience-fragment-2/_jcr_content/root/columns/col_1/image.coreimg.png/1601342332140/green-logo.png" alt="" class="logoStyle mr-3" style="width:32px; height: 30px">
        <span class="fixIcon4 textColor2">M%T Savings Bank</span>
    </h3>
    <div class="row mt-4" style="padding-bottom: 60px;">
        <div class="col-md-3 col-6" style="font-size: 14px;">
            <h5 class="mb-2 mt-4 pb-2 reduceH5 textColor2">
                <b>Legal & Institution</b>
            </h5>
            <p class="greyWhite xsmall">
                <a href="{% url 'terms' %}" class="greyWhiteXX xsmall">Terms and
                    Conditions
                </a>
            </p>
            <p>
                <a href="{% url 'policy' %}" class="xsmall greyWhiteXX">Policy</a>
            </p>
            <p>
                <a href="{% url 'about' %}" class="greyWhiteXX">About Us</a>
            </p>
        </div>
        <div class="col-md-3 col-6" style="font-size: 14px;">
            <h5 class="mb-2 mt-4 pb-2 reduceH5 textColor2">
                <b>Banking</b>
            </h5>
            <p class="greyWhite xsmall">
                <a href="{% url 'index' %}#services" class="xsmall greyWhiteXX">
                    Services
                </a>
            </p>
            <p>
                <a href="{% url 'about' %}" class="xsmall greyWhiteXX">Review</a>
            </p>
            <p>
                <a href="{% url 'faqs' %}" class="greyWhiteXX">FAQs</a>
            </p>
        </div>
        <div class="col-md-3 col-6" style="font-size: 14px;">
            <h5 class="mb-2 mt-4 pb-2 reduceH5 textColor2">
                <b>Contact Us</b>
            </h5>
            <p class="greyWhite xsmall">
                <a href="{% url 'support' %}" class="greyWhiteXX xsmall">
                    Contact form
                </a>
            </p>
            <p>
                <a href="{% url 'about' %}" class="greyWhiteXX xsmall">Our Approach</a>
            </p>
            <p>
                <a href="{% url 'about' %}" class="greyWhiteXX">Find A Branch</a>
            </p>
        </div>
        <div class="col-md-3 col-6" style="font-size: 14px;">
            <h5 class="mb-2 mt-4 pb-2 textColor2 reduceH5">
                <b>More Info</b>
            </h5>
            <p class="greyWhite xsmall">
                <a href="{% url 'policy' %}#aml-policy" class="greyWhiteXX xsmall">
                    AML Policy
                </a>
            </p>
        </div>
        <div class="col-12 pt-4 mt-4" style="border-top: 1px solid #5e6064;">
            <p class="text-center greyWhiteXX">
                &copy; Copyright 2022 United Assets Savings
            </p>
        </div>
    </div>
</div>

