<div class="db-bg d-none d-md-block" style="min-height: 100vh; position: relative; background-image: url('/static/assets/images/winter.jpeg');">
    <div class="db-bg-overlay py-5" style="background: linear-gradient(to bottom, rgba(42, 43, 46, 0.1), rgb(56, 76, 142)); min-height: 100vh;">
        <!-- rgba(37, 111, 232, .98) -->
        <div class="container my-container-lg">
            <div class="row">
                <div class="col-md-12 text-center position-relative" style="z-index: 2;">
                    <div class="index-mt">
                        <!-- <div class="mt-4">
                            <i class="fa fa-circle d-block textColor2 xsmall2"></i>
                            <i class="fa fa-circle d-block greyWhiteXX my-1" style="font-size: 6px; margin-left:2.5px"></i>
                            <i class="fa fa-circle d-block greyWhiteXX my-1" style="font-size: 6px; margin-left:2.5px"></i>
                            <i class="fa fa-circle d-block greyWhiteXX xsmall2"></i>
                            <i class="fa fa-circle d-block greyWhiteXX my-1" style="font-size: 6px; margin-left:2.5px"></i>
                            <i class="fa fa-circle d-block greyWhiteXX my-1" style="font-size: 6px; margin-left:2.5px"></i>
                            <i class="fa fa-circle d-block greyWhiteXX xsmall2"></i>
                            <i class="fa fa-circle d-block greyWhiteXX my-1" style="font-size: 6px; margin-left:2.5px"></i>
                            <i class="fa fa-circle d-block greyWhiteXX my-1" style="font-size: 6px; margin-left:2.5px"></i>
                            <i class="fa fa-circle d-block greyWhiteXX xsmall2"></i>
                            <i class="fa fa-circle d-block greyWhiteXX my-1" style="font-size: 6px; margin-left:2.5px"></i>
                            <i class="fa fa-circle d-block greyWhiteXX my-1" style="font-size: 6px; margin-left:2.5px"></i>
                            <i class="fa fa-circle d-block greyWhiteXX xsmall2"></i>
                        </div> -->
                        <div class="ball b1"></div>
                        <div class="mx-auto" style="width: 70%;">
                            <!-- <div class="ball b2"></div> -->
                            <p class="boldText mb-0 greyWhiteX">Simple. Transparent. Secure</p>
                            <h1 class="roboto monstText textColor2" data-aos="fade-up" data-aos-duration="400"> 
                                Online banking empowered for everyone.
                            </h1>
                            <div class="sans-pro" data-aos="fade-up" data-aos-duration="800">
                                <p class="xsmall mt-3 textColor2">
                                    It doesn't happen with one transaction, in one day on the job or in one quarter. It's earned
                                    relationship by relationship. Providing Hassle-free monetary solutions
                                </p>
                            </div>
                            <div class="mt-4">
                                <a href="{% url 'signup-view' %}">
                                    <button class="Btn secondary-bg py-3 xsmall fit-content add-radius-2 px-5" style="border-radius: 30px; border: 1px solid #d90855;">Open Account</button>
                                </a>
                                <a href="{% url 'signup-view' %}" class="ml-2">
                                    <button class="Btn py-3 shadow-sm fit-content xsmall add-radius-2 px-5" style="border-radius: 30px; border: 1px solid #fff; background: transparent;">Get in touch</button>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="ball b4" style="width: 140px; height: 140px; animation: fast-rotate 12s linear infinite;"></div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- mobile -->
<div class="db-bg d-block d-md-none" style="position: relative; max-height: 90vh; background-image: url('/static/assets/images/winter.jpeg');">
    <div class="db-bg-overlay" style="background: linear-gradient(to bottom, rgba(42, 43, 46, 0.1), rgb(56, 76, 142)); min-height: 90vh;">
        <div class="container" style="overflow-x: hidden;">
            <div class="row" data-aos="fade-up" data-aos-duration="600">
                <div class="col-12" style="min-height: 90vh;">
                    <div class="ball b4"></div>
                    <div class="ball b1"></div>
                    <div class="ball b3"></div>
                    <div class="write-up w-100 px-4" style="position: absolute; bottom: 80px; z-index: 2; left: 0;">
                        <!-- <img src="/static/assets/images/neted-2.png" alt="" style="width: 100%; height: 300px;"> -->
                        <p class="boldText mb-0 greyWhiteX">Simple. Transparent. Secure</p>
                        <h2 class="sans-pro boldText textColor2" data-aos="fade-up" data-aos-duration="500" style="font-family: 'roboto';"> 
                            Innovative Framework for Your Financial solutions
                        </h2>

                        <p class="roboto xsmall greyWhiteX" data-aos="fade-up" data-aos-duration="700">
                            Products and services designed to help you reach your financial goals
                        </p>
                        <div class="mt-4">
                            <i class="fa fa-circle greyWhiteXX xsmall2" style="position: relative; top: 1.5px;"></i>
                            <i class="fa fa-circle greyWhiteXX ml-1" style="font-size: 6px;"></i>
                            <i class="fa fa-circle greyWhiteXX ml-1" style="font-size: 6px;"></i>

                            <i class="fa fa-circle greyWhiteXX xsmall2" style="position: relative; top: 1.5px;"></i>
                        </div>
                        <div class="mt-4">
                            <a href="{% url 'signup-view' %}">
                                <button class="Btn secondary-bg py-3 xsmall fit-content add-radius-2 px-5" style="border-radius: 30px; border: 1px solid #d90855;">Open Account</button>
                            </a>
                            <a href="{% url 'signup-view' %}" class="ml-2">
                                <button class="Btn py-3 shadow-sm fit-content xsmall add-radius-2 px-4" style="border-radius: 30px; border: 1px solid #fff; background: transparent;">Get in touch</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>