{% extends 'base.html' %}
{% load static %}

{% block content %}
<header class="masthead" aria-labelledby="pageTitle" id="masthead_1113">
    <div class="masthead__bg">
        <div class="container">
            <img src="https://www.mylsb.com/images/triangle-tr-bg.svg" alt="" aria-hidden="true" class="masthead__decoration os-animation" data-os-animation="animate__slideInRight" />
            <div class="row">
                <div class="col-lg-4 d-flex flex-column justify-content-center">
                    
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Home</a></li>
                                <li class="breadcrumb-item"><a href="#">Support</a></li>
                                    <li class="breadcrumb-item">Resources</li>
                                    <li class="breadcrumb-item active" aria-current="page">Locations</li>
                        </ol>
                    </nav>
                    <script type="application/ld+json">
                        {
                        "@context": "http://schema.org",
                        "@type": "BreadcrumbList",
                        "itemListElement": [
                        {
                        "@type": "ListItem",
                        "position": 1,
                        "item": {
                        "@id": "https://www.mylsb.com/",
                        "name": "Home"
                        }
                        }
                    ,{"@type": "ListItem","position":2,"item": {"@id": "https://www.mylsb.com/support","name": "Support"}},{"@type": "ListItem","position":3,"item": {"@id": "https://www.mylsb.com/support/resources/locations","name": "Locations"}}    ]}
                    </script>
                    <h1 id="pageTitle">Locations</h1>
                </div>
                    <div class="masthead__ctas">
                        <div class="masthead__ctas-inner os-animation" data-os-animation="animate__fadeInUp">
                                <a href="#" class="masthead__cta"  >Contact Us</a>
                        </div>
                    </div>
                <div class="col-lg-6 offset-lg-2">
                    <img src="https://www.mylsb.com/MyLSB/media/Images/Mastheads/Support/locations.jpg?ext=.jpg" class="masthead__img" alt="" />
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 masthead__nav-container">
                
<nav class="internal-nav dropdown" aria-labelledby="internalNav">
    <a class="dropdown-toggle" href="#" role="button" id="internalNav" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pages within: <span class="internal-nav__parent">Locations</span><span class="fas fa-chevron-down" aria-hidden="true"></span></a>
    <div class="dropdown-menu" aria-labelledby="internalNav">
            <a href="#" class="dropdown-item" >
                Adel
            </a>
            <a href="#" class="dropdown-item" >
                Allison
            </a>
            <a href="#" class="dropdown-item" >
                Ankeny
            </a>
            <a href="#" class="dropdown-item" >
                Aplington
            </a>
            <a href="#" class="dropdown-item" >
                Cedar Falls Industrial Park
            </a>
            <a href="#" class="dropdown-item" >
                Cedar Falls Main Street
            </a>
            <a href="#" class="dropdown-item" >
                Clive
            </a>
            <a href="#" class="dropdown-item" >
                Des Moines- Ingersoll
            </a>
            <a href="#" class="dropdown-item" >
                Garwin
            </a>
            <a href="#" class="dropdown-item" >
                Greene
            </a>
            <a href="#" class="dropdown-item" >
                Grinnell
            </a>
            <a href="#" class="dropdown-item" >
                Hudson
            </a>
            <a href="#" class="dropdown-item" >
                Lincoln
            </a>
            <a href="#" class="dropdown-item" >
                Nashua
            </a>
            <a href="#" class="dropdown-item" >
                Reinbeck
            </a>
            <a href="#" class="dropdown-item" >
                Tama
            </a>
            <a href="#" class="dropdown-item" >
                Waterloo
            </a>
    </div>
</nav>
            </div>
        </div>
    </div>
</header>
<section class="features" aria-label="Features & Benefits" id="features_1674">
    <div class="container d-lg-flex">
        <div class="row flex-lg-grow-1">
            <div class="col-lg-11 offset-lg-1 d-lg-flex">
                <h2 class="features__heading">
                    <strong>Proudly serving </strong>Central and Northeast Iowa
                </h2>
                    <ul class="features__list staggered-animation-container">
                            <li class="feature staggered-animation" data-os-animation="animate__fadeInUp" data-os-animation-delay="0s">
                                <img src="https://www.mylsb.com/images/icons/feature.svg" class="feature__icon" alt="" aria-hidden="true" />
                                24-hour Drive-Up ATMs
                            </li>
                            <li class="feature staggered-animation" data-os-animation="animate__fadeInUp" data-os-animation-delay="0.3s">
                                <img src="https://www.mylsb.com/images/icons/feature.svg" class="feature__icon" alt="" aria-hidden="true" />
                                24-hour Drop Boxes
                            </li>
                            <li class="feature staggered-animation" data-os-animation="animate__fadeInUp" data-os-animation-delay="0.6s">
                                <img src="https://www.mylsb.com/images/icons/feature.svg" class="feature__icon" alt="" aria-hidden="true" />
                                Additional Surcharge-Free ATMs Near You
                            </li>
                    </ul>
            </div>
        </div>
    </div>
</section><div class="container">
    <aside class="promo-band" aria-label="You may also like" id="promo-band_1678">
        <div class="row">
            <div class="col-lg-11 offset-lg-1 d-lg-flex justify-content-between align-items-center">
                    <img src="https://www.mylsb.com/MyLSB/media/Images/Icons/ribbon.svg?ext=.svg" class="promo-band__icon" alt="" aria-hidden="true" />
                    <h3 class="promo-band__heading">We're eager to hear from you! Get in touch with us anytime.</h3>
                    <a href="#" class="btn btn-tertiary promo-band__cta"  >
                        Contact Us
                    </a>
            </div>
        </div>
    </aside>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-8 offset-lg-1">
            
<div class="richtext">
    <h2>Find us near you!</h2>

</div>
        </div>
    </div>
</div><script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB5bAvCV0gsZUcUeYMugIJkofTN-scR4FA"></script>

<div id="locations_1111" class="locations">
    <div class="container">
        <div class="locationsModule map-updating" data-ng-controller="Locations_Ctl" id="ngLocationApp" data-ng-init="init()">
            <div id="form" class="locations__form kentico-form">
                <div class="locations__form-layout">
                    <div class="form-group form-group-text form-group--required address">
                        <label for="locations-form-address">Address, City, State or ZIP</label>
                        <input class="form-control" id="locations-form-address" type="text" data-ng-model="Address" aria-required="true" data-ng-enter-refresh />
                        <div data-ng-hide="Address.trim().length>0" class="zag-validation-error-angular" data-ng-cloak>Location is required</div>
                    </div>
                    <div class="form-group form-group--required radius">
                        <label for="locations-form-radius">Radius</label>
                        <div class="select-wrapper">
                            <select class="custom-select" id="locations-form-radius" data-ng-model="SearchValues.Radius" data-ng-options="x for x in [1,2,5,10,25,50,100]" data-ng-enter-refresh></select>
                        </div>
                        <div data-ng-hide="SearchValues.Radius>0" class="zag-validation-error-angular" data-ng-cloak>Radius is required</div>
                    </div>
                    <div class="form-group form-group-submit">
                        <input id="locations__form-submit" type="button" class="btn btn-primary" value="Search" data-ng-click="refresh()" data-ng-enter-refresh />
                    </div>
                </div>
            </div>
            <div class="locations__results">
                <div class="locations__results-layout">
                    <div class="locations__results-list" aria-live="polite" aria-atomic="true">
                        <div>{{LocationsLabel}}</div>
                        <ul>
                            <li data-ng-repeat="location in Locations | orderBy:'distanceString'" class="location" id="{{location.id}}" data-ng-click="fireMarkerEvent(location.id)" data-ng-cloak tabindex="0">
                                <div class="info">
                                    <div class="name">{{location.name}}</div>
                                    <div class="distance">Distance: {{location.distanceString}} miles</div>
                                    <div class="types">
                                        <div>Services:</div>
                                        <ul>
                                            <li data-ng-if="location.locationTypeBankingFinancialServices">Banking and Financial Services</li>
                                            <li data-ng-if="location.locationTypeInsuranceTrustWealthManagement">Insurance, Trust and Wealth Management</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="address">
                                    <div>{{location.address1}}</div>
                                    <div data-ng-if="location.address2!=''">{{location.address2}}</div>
                                    <div>{{location.city}}, {{location.state}} {{location.zipCode}}</div>
                                </div>
                                <div class="links">
                                    <div data-ng-if="location.phoneLink!=''"><a href="{{location.phoneLink}}">{{location.phone}}</a></div>
                                    <div data-ng-if="location.googleDirectionsLink!=''"><a href="{{location.googleDirectionsLink}}" target="_blank">Directions<span class="sr-only"> to {{location.name}} - opens in new window</span></a></div>
                                    <div data-ng-if="location.type=='Website'"><a href="{{location.kenticoUrl}}">More Info<span class="sr-only"> about {{location.name}}</span></a></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="locations__results-map">
                        <div id="map"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<aside class="cta-band" aria-labelledby="ctaBandTitle_1680" id="cta-band_1680">
    <div class="container">
        <img src="https://www.mylsb.com/images/lazy.gif" data-src="https://www.mylsb.com/images/triangle-tl-bg.svg" alt="" aria-hidden="true" class="cta-band__decoration-top os-animation lazyload" data-os-animation="animate__slideInLeft" height="157" width="411" />
        <div class="row">
            <div class="col-lg-11 col-xl-10 offset-lg-1 d-lg-flex align-items-center">
                <h2 id="ctaBandTitle_1680" class="cta-band__heading os-animation" data-os-animation="animate__fadeInUp">
                    <strong>We're here</strong> to help you.
                </h2>
                <div class="cta-band__ctas staggered-animation-container">
                        <a href="#" class="btn btn-tertiary cta-band__cta staggered-animation"   data-os-animation="animate__fadeInUp" data-os-animation-delay="0.6s">
                            Contact Us
                        </a>
                </div>
            </div>
        </div>
        <img src="https://www.mylsb.com/images/lazy.gif" data-src="https://www.mylsb.com/images/triangle-br-g.svg" alt="" aria-hidden="true" class="cta-band__decoration-bottom os-animation lazyload" data-os-animation="animate__slideInRight" height="152" width="398" />
    </div>
</aside>
<aside class="cross-promo" aria-labelledby="crossPromoHeading_486" id="cross-promo_486">
    <div class="cross-promo__bg"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 d-lg-flex flex-column align-items-end">
                <img src="https://www.mylsb.com/MyLSB/media/Images/Cross%20Promos/ledger-budget-tracker.jpg?ext=.jpg" alt="" aria-hidden="true" class="cross-promo__img" />
            </div>
            <div class="col-lg-5 offset-lg-1 d-lg-flex flex-column justify-content-end align-items-start">
                <h2 id="crossPromoHeading_486" class="cross-promo__heading">Ledger: Budget Tracker</h2>
                <div class="cross-promo__sub">Get a big-picture view of your budget with our free online tool.</div>
                    <a href="#" class="btn btn-secondary cross-promo__cta"  aria-label="Learn More about Ledger Budget Tracker">Learn More</a>
            </div>
        </div>
    </div>
</aside> 
</main>
{% endblock %}