{% extends 'base.html' %}
{% load static %}

{% block content %}
<header class="masthead" aria-labelledby="pageTitle" id="masthead_1569">
    <div class="masthead__bg">
        <div class="container">
            <img src="https://www.mylsb.com/images/triangle-tr-bg.svg" alt="" aria-hidden="true" class="masthead__decoration os-animation" data-os-animation="animate__slideInRight" />
            <div class="row">
                <div class="col-lg-4 d-flex flex-column justify-content-center">
                    
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Home</a></li>
                                <li class="breadcrumb-item"><a href="#">Bank</a></li>
                                    <li class="breadcrumb-item">Business</li>
                                    <li class="breadcrumb-item active" aria-current="page">Nonprofit Banking Services</li>
                        </ol>
                    </nav>
                    <script type="application/ld+json">
                        {
                        "@context": "http://schema.org",
                        "@type": "BreadcrumbList",
                        "itemListElement": [
                        {
                        "@type": "ListItem",
                        "position": 1,
                        "item": {
                        "@id": "https://www.mylsb.com/",
                        "name": "Home"
                        }
                        },
                        {"@type": "ListItem","position":2,"item": {"@id": "https://www.mylsb.com/bank","name": "Bank"}},{"@type": "ListItem","position":3,"item": {"@id": "https://www.mylsb.com/bank/business/nonprofit-banking-services","name": "Nonprofit Banking Services"}}    ]}
                    </script>
                    <h1 id="pageTitle">Nonprofit Banking Services</h1>
                </div>
                    <div class="masthead__ctas">
                        <div class="masthead__ctas-inner os-animation" data-os-animation="animate__fadeInUp">
                                <a href="#" class="masthead__cta"  >Contact Us</a>
                        </div>
                    </div>
                <div class="col-lg-6 offset-lg-2">
                    <img src="https://www.mylsb.com/MyLSB/media/Images/Mastheads/Bank/non-profit-banking-services.jpg?ext=.jpg" class="masthead__img" alt="" />
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 masthead__nav-container">
                
<nav class="internal-nav dropdown" aria-labelledby="internalNav">
    <a class="dropdown-toggle" href="#" role="button" id="internalNav" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pages within: <span class="internal-nav__parent">Nonprofit Banking Services</span><span class="fas fa-chevron-down" aria-hidden="true"></span></a>
    <div class="dropdown-menu" aria-labelledby="internalNav">
            <a href="#" class="dropdown-item" >
                Nonprofit Checking Account
            </a>
            <a href="#" class="dropdown-item" >
                Nonprofit Cash Management
            </a>
            <a href="#" class="dropdown-item" >
                Nonprofit Trust Services
            </a>
    </div>
</nav>
            </div>
        </div>
    </div>
</header>
<div class="intro" id="intro_1570">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                    <h2 class="intro__heading"><strong>We can help you make</strong> the most of every dollar.</h2>
                <p>Nonprofit groups do great work for Iowa communities, providing services and programs that positively impact thousands of lives. At Lincoln Savings Bank, we&#39;re proud to support those efforts with financial services that help organizations save money, increase efficiency and plan for the future.</p>

            </div>
        </div>
    </div>
</div>
<div class="category-nav">
    <div class="container">
                <div class="row d-lg-flex flex-wrap align-items-stretch staggered-animation-container" id="category-nav_65">
                <div class="col-lg-5 offset-lg-1">
                    <a href="#" class="category-nav__item staggered-animation"  data-os-animation="animate__fadeInUp" data-os-animation-delay="0s">
                        <h3 class="category-nav__item-heading">Nonprofit Checking Account</h3>
                        <div class="category-nav__item-sub"><p>Zero fees and competitive interest payments leave nonprofits with more money to devote to their core mission.</p>
</div>
                        
                        <img src="https://www.mylsb.com/images/triangle-br-bg.svg" alt="" aria-hidden="true" class="category-nav__item-decoration" />
                    </a>
                </div>
                <div class="col-lg-5 ">
                    <a href="#" class="category-nav__item staggered-animation"  data-os-animation="animate__fadeInUp" data-os-animation-delay=".3s">
                        <h3 class="category-nav__item-heading">Nonprofit Cash Management</h3>
                        <div class="category-nav__item-sub"><p>A full suite of services help nonprofits process all sorts of payments, fight fraud and move funds in a timely manner.</p>
</div>
                        
                        <img src="https://www.mylsb.com/images/triangle-br-bg.svg" alt="" aria-hidden="true" class="category-nav__item-decoration" />
                    </a>
                </div>
                </div>
                <div class="row d-lg-flex flex-wrap align-items-stretch staggered-animation-container" id="category-nav_67">
                <div class="col-lg-5 offset-lg-1">
                    <a href="#" class="category-nav__item staggered-animation"  data-os-animation="animate__fadeInUp" data-os-animation-delay="0s">
                        <h3 class="category-nav__item-heading">Nonprofit Trust Services</h3>
                        <div class="category-nav__item-sub"><p>As an Investment expert advisor, we can manage your excess funds and endowment and help shape a long-term investment plan.</p>
</div>
                        
                        <img src="https://www.mylsb.com/images/triangle-br-bg.svg" alt="" aria-hidden="true" class="category-nav__item-decoration" />
                    </a>
                </div>
    </div>
</div>
<aside class="cta-band" aria-labelledby="ctaBandTitle_1575" id="cta-band_1575">
    <div class="container">
        <img src="https://www.mylsb.com/images/lazy.gif" data-src="https://www.mylsb.com/images/triangle-tl-bg.svg" alt="" aria-hidden="true" class="cta-band__decoration-top os-animation lazyload" data-os-animation="animate__slideInLeft" height="157" width="411" />
        <div class="row">
            <div class="col-lg-11 col-xl-10 offset-lg-1 d-lg-flex align-items-center">
                <h2 id="ctaBandTitle_1575" class="cta-band__heading os-animation" data-os-animation="animate__fadeInUp">
                    <strong>Our services</strong> can assist. 
                </h2>
                <div class="cta-band__ctas staggered-animation-container">
                        <a href="#" class="btn btn-tertiary cta-band__cta staggered-animation"   data-os-animation="animate__fadeInUp" data-os-animation-delay="0.6s">
                            Contact Us
                        </a>
                </div>
            </div>
        </div>
        <img src="https://www.mylsb.com/images/lazy.gif" data-src="https://www.mylsb.com/images/triangle-br-g.svg" alt="" aria-hidden="true" class="cta-band__decoration-bottom os-animation lazyload" data-os-animation="animate__slideInRight" height="152" width="398" />
    </div>
</aside> 
</main>
{% endblock %}