{% extends "pages/base.html" %}

{% block content %}
<div class="container pt-50">
    <div class="mb-4 fix-mt fix-mtSm2">
        <h5 class="boldText monstText">
            Pricing / Trading plans <br>
        </h5>
        <small>Choose a trading plan and start trading Instantly</small>
    </div>
    <div class="row">
        <div class="col-12 textColor"
            style="font-family: 'source sans pro'; padding-bottom: 60px;">
            <!-- ## -->
            <div class="row">
                <div class="col-md-4 col-12 mb-4">
                    <div class="post-box p-3">
                        <h5 class="reduceH5 mb-3">
                            <!-- <i class="fa fa-paper-plane round-icon dark-bg3 p-1"></i> -->
                            <b>COPPER PLAN</b>
                        </h5>
                        <div class="row">
                           <div class="col-6">
                               <small class="xsmall greyWhite">Profitability returns</small>
                               <h5 class="greenText fixIcon" style="font-weight: bold;">
                                    1.20<span class="greenText" style="font-size: 12px;">%</span>
                               </h5>
                           </div>
                           <div class="col-6">
                               <small class="xsmall greyWhite">Duration</small>
                               <h5 class="post-box p-1 px-4 dark-bg2" style="width: fit-content; border: none; font-family: 'ubuntu';">
                                   <small><b>Daily</b></small>
                               </h5>
                           </div> 
                        </div>
                        <div class="row mt-3">
                            <div class="col-6">
                                <small class="xsmall greyWhite2">Minimum Amount</small>
                                <h5>$500.00</h5>
                            </div>
                            <div class="col-6">
                                <small class="xsmall greyWhite2">Maximum Amount</small>
                                <h5>$9,999.00</h5>
                            </div>
                            <div class="col-6 mt-2">
                                <small class="xsmall greyWhite2">Bonus on upgrade</small>
                                <h5>5.00%</h5>
                            </div>
                        </div>
                        <div class="mt-3">
                            <a href="{% url 'invest-detail' 'copper' %}">
                                <button class="Btn">
                                    Invest Now
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- =================================================== -->
            
                <div class="col-md-4 col-12 mb-4">
                    <div class="post-box p-3">
                        <h5 class="reduceH5 mb-3">
                            <!-- <i class="fa fa-plane round-icon dark-bg3 p-1" style="color: rgb(103, 127, 233);"></i> -->
                            <b>BRONZE PLAN</b>
                        </h5>
                        <div class="row">
                           <div class="col-6">
                               <small class="xsmall greyWhite">Profitability returns</small>
                               <h5 class="greenText fixIcon" style="font-weight: bold;">
                                    1.70<span class="greenText" style="font-size: 12px;">%</span>
                               </h5>
                           </div>
                           <div class="col-6">
                               <small class="xsmall greyWhite">Duration</small>
                               <h5 class="post-box p-1 px-4 dark-bg2" style="width: fit-content; border: none; font-family: 'ubuntu';">
                                   <small><b>Daily</b></small>
                               </h5>
                           </div> 
                        </div>
                        <div class="row mt-3">
                            <div class="col-6">
                                <small class="xsmall greyWhite2">Minimum Amount</small>
                                <h5>$10,000.00</h5>
                            </div>
                            <div class="col-6">
                                <small class="xsmall greyWhite2">Maximum Amount</small>
                                <h5>$49,999.00</h5>
                            </div> 
                            <div class="col-6 mt-2">
                                <small class="xsmall greyWhite2">Bonus on upgrade</small>
                                <h5>8.00%</h5>
                            </div>
                         </div>
                         <div class="mt-3">
                            <a href="{% url 'invest-detail' 'bronze' %}">
                                <button class="Btn">
                                    Invest Now
                                </button>
                            </a>
                         </div>
                    </div>
                </div>
                <!-- ============================================================== -->
            
                <div class="col-md-4 col-12 mb-4">
                    <div class="post-box p-3">
                        <h5 class="reduceH5 mb-3">
                            <!-- <i class="fa fa-space-shuttle round-icon dark-bg3 greenText p-1"></i> -->
                            <b>SILVER PLAN</b>
                        </h5>
                        <div class="row">
                           <div class="col-6">
                               <small class="xsmall greyWhite">Profitability returns</small>
                               <h5 class="greenText fixIcon" style="font-weight: bold;">
                                    2.20<span class="greenText" style="font-size: 12px;">%</span>
                               </h5>
                           </div>
                           <div class="col-6">
                               <small class="xsmall greyWhite">Duration</small>
                               <h5 class="post-box p-1 px-4 dark-bg2" style="width: fit-content; border: none; font-family: 'ubuntu';">
                                   <small><b>Daily</b></small>
                               </h5>
                           </div> 
                        </div>
                        <div class="row mt-3">
                            <div class="col-6">
                                <small class="xsmall greyWhite2">Minimum Amount</small>
                                <h5>$50,000.00</h5>
                            </div>
                            <div class="col-6">
                                <small class="xsmall greyWhite2">Maximum Amount</small>
                                <h5>$99,999.00</h5>
                            </div> 
                            <div class="col-6 mt-2">
                                <small class="xsmall greyWhite2">Bonus on upgrade</small>
                                <h5>8.00%</h5>
                            </div>
                         </div>
                         <div class="mt-3">
                            <a href="{% url 'invest-detail' 'silver' %}">
                                <button class="Btn">
                                    Invest Now
                                </button>
                            </a>
                         </div>
                    </div>
                </div>
                <!-- ================================================ -->
            
                <div class="col-md-4 col-12">
                    <div class="post-box p-3">
                        <h5 class="reduceH5 mb-3">
                            <!-- <i class="fa fa-diamond round-icon dark-bg3 site-yellow p-1"></i> -->
                            <b>GOLD PLAN</b>
                        </h5>
                        <div class="row">
                           <div class="col-6">
                               <small class="xsmall greyWhite">Profitability returns</small>
                               <h5 class="greenText fixIcon" style="font-weight: bold;">
                                    2.60<span class="greenText" style="font-size: 12px;">%</span>
                               </h5>
                           </div>
                           <div class="col-6">
                               <small class="xsmall greyWhite">Duration</small>
                               <h5 class="post-box p-1 px-4 dark-bg2" style="width: fit-content; border: none; font-family: 'ubuntu';">
                                   <small><b>Daily</b></small>
                               </h5>
                           </div> 
                        </div>
                        <div class="row mt-3">
                            <div class="col-6">
                                <small class="xsmall greyWhite2">Minimum Amount</small>
                                <h5>$100,000.00</h5>
                            </div>
                            <div class="col-6">
                                <small class="xsmall greyWhite2">Maximum Amount</small>
                                <h5>$499,999.00</h5>
                            </div> 
                            <div class="col-6 mt-2">
                                <small class="xsmall greyWhite2">Bonus on upgrade</small>
                                <h5>8.00%</h5>
                            </div>
                         </div>
                         <div class="mt-3">
                            <a href="{% url 'invest-detail' 'gold' %}">
                                <button class="Btn">
                                    Invest Now
                                </button>
                            </a>
                         </div>
                    </div>
                </div>
            
                <!-- ======================================== -->
                <div class="col-md-4 col-12">
                    <div class="post-box p-3">
                        <h5 class="reduceH5 mb-3">
                            <!-- <i class="fa fa-circle round-icon dark-bg3 site-yellow p-1"></i> -->
                            <b>APEX PLAN</b>
                        </h5>
                        <div class="row">
                           <div class="col-6">
                               <small class="xsmall greyWhite">Profitability returns</small>
                               <h5 class="greenText fixIcon" style="font-weight: bold;">
                                    2.00<span class="greenText" style="font-size: 12px;">%</span>
                               </h5>
                           </div>
                           <div class="col-6">
                               <small class="xsmall greyWhite">Duration</small>
                               <h5 class="post-box p-1 px-4 dark-bg2" style="width: fit-content; border: none; font-family: 'ubuntu';">
                                   <small><b>Daily</b></small>
                               </h5>
                           </div> 
                        </div>
                        <div class="row mt-3">
                            <div class="col-6">
                                <small class="xsmall greyWhite2">Minimum Amount</small>
                                <h5>$500,000.00</h5>
                            </div>
                            <div class="col-6">
                                <small class="xsmall greyWhite2">Maximum Amount</small>
                                <h5>$1,000,000</h5>
                            </div> 
                            <div class="col-6 mt-2">
                                <small class="xsmall greyWhite2">Bonus on upgrade</small>
                                <h5>8.00%</h5>
                            </div>
                         </div>
                         <div class="mt-3">
                            <a href="{% url 'invest-detail' 'apex' %}">
                                <button class="Btn">
                                    Invest Now
                                </button>
                            </a>
                         </div>
                    </div>
                </div>

                <!-- ========================== -->
                <div class="col-md-4 col-12 mb-4">
                    <div class="post-box p-4 no-border-sm">
                        <h5 class="reduceH5 mb-3">
                            <i class="fa fa-plane"></i> &nbsp;
                            NFP Fund
                        </h5>

                        <div class="row mt-3">
                            <div class="col-6">
                                <small class="xsmall2 greyWhite">Minimum Amount</small>
                                <h5 class="reduceH5 min_amount">$100,000.00</h5>
                            </div>
                            <div class="col-6">
                                <small class="xsmall2 greyWhite">Maximum Amount</small>
                                <h5 class="reduceH5 max_amount">Unlimited</h5>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-6">
                                <small class="xsmall2 greyWhite">Twin Trade</small>
                                <h5 class="reduceH5 min_amount">50.00% ROI</h5>
                            </div>
                            <div class="col-6">
                                <small class="xsmall2 greyWhite">Single Day Trade</small>
                                <h5 class="reduceH5 max_amount">80.00% ROI</h5>
                            </div>
                        </div>

                        <div class="mt-3">
                            <a href="{% url 'trade-nfp' %}">
                                <button class="Btn  boldText">
                                    Trade NFP
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- ===================================================================== -->
            </div>
        </div>
    </div>
</div>


<!-- jS -->
<script src="/static/docs/js/investment.js"></script>

{% endblock content %}

