{% extends "pages/base.html" %}

{% block content %}

<a href="#home" class="scroll-top-btn">
    <i class="material-icons-round fixIcon2" style="font-size: 18px; color: #fff;">arrow_upward</i>
</a>

<div class="container-fluid index-bg" style="background-image: url(/static/assets/images/home-1.jpeg); padding: 0px;">
    <div class="db-bg-overlay py-5">
        <div class="container">
            <h4 class="site-green monstText align-center fix-mt fix-mtSm2">
                Legal & Privacy Policy
            </h4>
        </div>
    </div>
</div>


<div class="container py-5 mt-4" style="font-family: 'roboto';">
    <div class="row">
        <div class="col-12">
            <p><b>Personal Data</b></p>
            <p class="xsmall">
                “Any information relating to an identified or identifiable natural person ('data subject'); an identifiable natural person is one who can be identified, directly or indirectly, in particular by reference to an identifier such as a name, an identification number, location data, an online identifier or to one or more factors specific to the physical, physiological, genetic, mental, economic, cultural or social identity of that natural person”.
            </p>
            <p><b>Who Is Responsible for Your Personal Information?</b></p>
            <p class="xsmall">
                Western Chad Bank is your data controller and is responsible for processing your personal information described in this Privacy Policy. Western Chad Bank uses the personally identifiable information you provide to communicate with you in response to your enquiries, to provide the services you request, and to manage your account. Any personally identifiable information gathered by Western Chad Bank will be used for these purposes only. We will not disclose or divulge such data outside of Western Chad Bank, other than to third party providers that assist us in providing the services. Western Chad Bank does not share, sell, rent or trade personally identifiable information with third parties for their promotional purposes.
            </p>
            <p><b>Why does Western Chad Bank need to collect and store personal data?</b></p>
            <p class="xsmall">
                In order for us to provide you with a service, we need to collect personal data. When you sign up for any Western Chad Online Solution or other Western Chad service or promotion that requires registration, we ask you for personal information (such as your name, email address and an account password). For certain services, such as our payment services, we require your debit or credit card information. We typically do not store this information and when we do, we maintain the data in encrypted form on secure servers. We may combine the information you submit under your account with information from other Western Chad services or third parties in order to provide you with a better experience and to improve the quality of our services. In any event, we are committed to ensuring that the information we collect and use is appropriate for this purpose, and does not constitute an invasion of your privacy.
            </p>
            <p class="xsmall">
                In terms of being contacted for marketing purposes Western Chad Bank would contact you for additional consent.
            </p>

            <p><b>Will Western Chad Bank share my personal data with anyone else?</b></p>
            <p class="xsmall">
                Western Chad only shares personal information with other companies or individuals in the following limited circumstances: We have your consent. We require consent for the sharing of any sensitive personal information
            </p>
            <p class="xsmall">
                We provide such information to our subsidiaries, affiliated companies or other trusted businesses or persons for the purpose of processing personal information on our behalf. We require that these parties agree to process such information based on our instructions and in compliance with the General Data Protection Regulation and the Nigeria Data Protection Regulation and any other appropriate confidentiality and security measures. When they no longer need your data to fulfil this service, they will dispose of the details in line with Western Chad Bank procedures.
            </p>
            <p class="xsmall">
                We have a good faith belief that access, use, preservation or disclosure of such information is reasonably necessary to
            </p>
            <p class="xsmall">(a) satisfy any applicable law, regulation, legal process or enforceable governmental request,</p>
            <p class="xsmall">
                (b) enforce applicable Terms of Service, including investigation of potential violations thereof,
            </p>
            <p class="xsmall">
                (c) detect, prevent, or otherwise address fraud, security or technical issues, or
            </p>
            <p class="xsmall">
                (d) protect against imminent harm to the rights, property or safety of Western Chad Bank , its users or the public as required or permitted by law.
            </p>
            <p class="xsmall">
                If Western Chad Bank becomes involved in a merger, acquisition, or any form of sale of some or all of its assets, we will provide notice before personal information is transferred and becomes subject to a different privacy policy.
            </p>
        </div>
    </div>
</div>
<div class="container-fluid pb-5 primary-bg-2" id="aml-policy">
    <div class="container">
        <div class="row ">
            <h4 class="site-green monstText align-center fix-mt fix-mtSm2">
                AML Policy
            </h4>
            <p class="xsmall">
                Since the introduction of the Bank Secrecy Act and its implementing regulations, financial institutions are mandated to implement AML and KYC policies to combat money laundering. Anti-money laundering policies prevent the reintroduction of the proceeds of illegal activities into our financial system, therefore financial authorities in most countries require all financial institutions to enact their own AML policies in line with AML regulations.
            </p>
            <p class="boldText">What is an Anti-Money Laundering policy?</p>
            <p class="xsamll">
                Anti-money laundering policy is a strategy used by an organization to prevent and effectively combat money laundering and other financial crimes. The guidelines for KYC and AML policies are very similar across the world because they are based on the FATF recommendations, but there are also local regulations. Firms must also modify their AML policies and procedures to accurately comply with all AML requirements that are relevant to their operations.
            </p>
            <p class="boldText">Anti-Money Laundering Policy Template</p>
            <p class="xsamll">
                Working with numerous financial institutions in developing AML policies and close cooperation with financial regulators has broadened our understanding of what an AML policy means. To this effect, we’ve summarised what the KYC AML compliance policy should consist of and what it should be in each part. This template was derived from the US Bank Secrecy Act (BSA), EU 4th Anti-Money Laundering Directive (AMLD4), and FATF recommendations.
            </p>

            <p class="boldText">1. Introduction to the AML Policy</p>
            <p class="xsmall">
                In the introduction of the anti-money laundering policy, the company should declare the reasons for implementing an anti-money laundering policy. The introduction should also define money laundering and terrorist financing, and ensure that the AML policy will be regularly reviewed to keep up with regulatory demands.
            </p>

            <p class="boldText">2. Assigning an AML Compliance Officer</p>
            <p class="xsmall">
                In this part, the anti-money laundering policy names the person responsible for the company’s anti-money laundering program i.e. the AML compliance officer. The AML policy should also describe the AML compliance officer’s qualifications and responsibilities.
            </p>

            <p class="boldText">3. Information Sharing with Financial Intelligence Units</p>
            <p class="xsmall">
                This part of the anti money laundering policy usually explores the possibility of sharing information with financial intelligence units and law enforcement. Here, anti-money laundering describes the institution’s procedures for responding to a regulator’s requests for information on money laundering and terrorism financing activity.
            </p>
            <p class="xsmall">
                The AML policy should also define the system, through which the company will respond to the request and details on documenting the procedure.
            </p>

            <p class="boldText">4. Sharing Information with Other Financial Institutions </p>
            <p class="xsmall">
                The fourth section of an anti-money laundering policy outlines the company’s procedures for sharing AML information with other financial institutions, for purposes of identifying and reporting activities, indicating money laundering. The policy also describes measures taken to ensure the security and confidentiality of the information shared.
            </p>

            <p class="boldText">5. Sanctions List checks</p>
            <p class="xsmall">
                Given that citizens and residents of the United States are prohibited from dealing with entities listed on the Office of Foreign Assets Control’s Specially Designated Nationals List (SDN), financial institutions are mandated to check all sanctions lists before opening an account, operating an existing account or partnering with a new client.
            </p>
            <p class="xsmall">
                Here the anti money laundering policy should describe the platforms and procedures for checking the SDN lists and give reasonable assurance that their knowledge of the sanctions list is up to date.
            </p>
            <p class="boldText">6. Verifying Customer’s Identity</p>
            <p class="xsmall">
                Customer identification is a major part of every AML compliance program. The AML policy must account for all the procedures and measures taken by the institution to identify and verify the customer’s identity, to form a reasonable belief that they know the true identity of each customer. Let’s go through the steps of customer Identification in an AML policy.
            </p>

            <p class="boldText">Necessary KYC Information</p>
            <p class="xsmall">
                The first step is outlining which information should be obtained for the purpose of identification and from who. Here the anti-money laundering policy describes which information will be collected when opening a new account for a customer or their beneficial owners. The information the company obtains depends on the type of account and the risks associated with it.
            </p>
            <p class="xsmall">
                When the Customer declines to provide information or provides false information 
                In this part, the anti-money laundering policy should describe the company’s measures for customers who decline the company’s request for identifying information or intentionally providing false information. The policy explains whether and when the institution refuses to open a new account and close any existing account after assessing the risks involved.
            </p>

            <p class="boldText">
                Verifying Information 
            </p>
            <p class="xsmall">
                This part of the anti-money laundering policy usually describes how the company will verify its customers’ identities using the information obtained. The AML policy should also state whether the firm will verify customer identity through documentary means, non-documentary means or both, and describe how these procedures will take place including the use of verification software.
            </p>
            <p class="boldText"> Limits and Threshold of Financial Transactions </p>
            <p class="xsmall">
                This part of the AML policy should explain that the company will verify the customer’s information within a reasonable period of time before or after the account is opened. Also mention the institution’s policy for restricting transactions for accounts while verification is ongoing.
            </p>

            <p class="boldText"> Inability to Verify Customer’s Identity </p>
            <p class="xsmall">
                AML policy should describe procedures in response to situations when the institution cannot verify the identity of a customer. These procedures may include the institution’s refusal to open an account with that customer, or limiting the types of transactions available to the customer while they attempt further verification. The institution may temporarily block or close an account if further attempts at verification fail.
            </p>

            <p class="boldText"> Keeping AML-Related Data and Transaction Records </p>
            <p class="xsmall">
                Here the institution should describe procedures for keeping records including all identifying information obtained from the customer, how information was obtained and the results of the verification process. With respect to non-documentary verification, the institution should retain documents that describe the methods and the results of any measures taken to verify the identity of a customer. The anti-money laundering policy should also mention the duration of keeping such records according to local regulations. Under the BSA and AMLD4, financial institutions are required to store records of transactions for up to 5 years.
            </p>

            <p class="boldText"> Notifying Customers  </p>
            <p class="xsmall">
                Under customer identification procedures, the institutions should adequately notify customers when requesting information for identity verification purposes. The AML policy should also mention how customers will be notified.
                Relying on Another Institution for Customer Identity Verification
            </p>
            <p class="xsmall">
                In this part the AML policy should describe the institution’s response to cases when they will rely on information provided by another organization (including an affiliate) for some or all elements of the customer identification process.
            </p>

            <p class="boldText"> 7. Filing SARs and CTRs  </p>
            <p class="xsmall">
                Under the BSA, financial institutions are also required to file Currency Transaction Reports (CTR) for transactions exceeding the sum of $10,000, and a Suspicious Activity Report (SAR) to report suspicious transactions. The anti-money laundering policy should mention that the institution will file CTRs in compliance with regulations and SARs if the AML compliance officer deems it necessary.
            </p>
        </div>
    </div>
</div>
<div>
    {% include "pages/footer.html" %}
</div>

{% endblock content %}