{% extends 'base.html' %}
{% load static %}

{% block content %}
<header class="masthead" aria-labelledby="pageTitle" id="masthead_277">
    <div class="masthead__bg">
        <div class="container">
            <img src="https://www.mylsb.com/images/triangle-tr-bg.svg" alt="" aria-hidden="true" class="masthead__decoration os-animation" data-os-animation="animate__slideInRight" />
            <div class="row">
                <div class="col-lg-4 d-flex flex-column justify-content-center">
                    
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Home</a></li>
                                <li class="breadcrumb-item"><a href="#">Bank</a></li>
                                    <li class="breadcrumb-item">Personal</li>
                                    <li class="breadcrumb-item active" aria-current="page">Savings & CDs</li>
                        </ol>
                    </nav>
                    <script type="application/ld+json">
                        {
                        "@context": "http://schema.org",
                        "@type": "BreadcrumbList",
                        "itemListElement": [
                        {
                        "@type": "ListItem",
                        "position": 1,
                        "item": {
                        "@id": "https://www.mylsb.com/",
                        "name": "Home"
                        }
                        }
                    ,{"@type": "ListItem","position":2,"item": {"@id": "https://www.mylsb.com/bank","name": "Bank"}},{"@type": "ListItem","position":3,"item": {"@id": "https://www.mylsb.com/bank/personal/savings-cds","name": "Savings & CDs"}}    ]}
                    </script>
                    <h1 id="pageTitle">Savings & CDs</h1>
                </div>
                    <div class="masthead__ctas">
                        <div class="masthead__ctas-inner os-animation" data-os-animation="animate__fadeInUp">
                                <a href="#" class="masthead__cta" target="_blank" >Visit Us<span class="sr-only"> (opens in a new tab)</span></a>
                                <div class="masthead__ctas-divider"></div>
                                <a href="#" class="masthead__cta"  >Contact Us</a>
                        </div>
                    </div>
                <div class="col-lg-6 offset-lg-2">
                    <img src="https://www.mylsb.com/MyLSB/media/Images/Mastheads/simply-free-checking.jpg?ext=.jpg" class="masthead__img" alt="" />
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 masthead__nav-container">
                
<nav class="internal-nav dropdown" aria-labelledby="internalNav">
    <a class="dropdown-toggle" href="#" role="button" id="internalNav" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pages within: <span class="internal-nav__parent">Savings & CDs</span><span class="fas fa-chevron-down" aria-hidden="true"></span></a>
    <div class="dropdown-menu" aria-labelledby="internalNav">
            <a href="#" class="dropdown-item" >
                Compare Savings Accounts
            </a>
            <a href="#" class="dropdown-item" >
                Savings Account
            </a>
            <a href="#" class="dropdown-item" >
                Premier Money Market
            </a>
            <a href="#" class="dropdown-item" >
                Certificate of Deposit (CD)
            </a>
            <a href="#" class="dropdown-item" >
                Companion Savings Account
            </a>
            <a href="#" class="dropdown-item" >
                Savings Account for Kids
            </a>
            <a href="#" class="dropdown-item" >
                Health Savings Account
            </a>
            <a href="#" class="dropdown-item" >
                Individual Retirement Accounts
            </a>
            <a href="#" class="dropdown-item" >
                Limited Edition Savings Account
            </a>
    </div>
</nav>
            </div>
        </div>
    </div>
</header>
<div class="intro" id="intro_278">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                    <h2 class="intro__heading"><strong>It's about time to start shaping</strong>  your future.</h2>
                <p>Tomorrow will be here before you know it. It will arrive with endless possibilities - and maybe a challenge or two. At Lincoln Savings Bank, we offer an attractive menu of savings opportunities that can help you prepare for almost anything the future holds.&nbsp;</p>

            </div>
        </div>
    </div>
</div>
<div class="category-nav">
    <div class="container">
                <div class="row d-lg-flex flex-wrap align-items-stretch staggered-animation-container" id="category-nav_40">
                <div class="col-lg-5 offset-lg-1">
                    <a href="#" class="category-nav__item staggered-animation"  data-os-animation="animate__fadeInUp" data-os-animation-delay="0s">
                        <h3 class="category-nav__item-heading">Compare Savings Accounts</h3>
                        <div class="category-nav__item-sub"><p>Compare the features of several popular saving strategies and then map out your personal plan.</p>
</div>
                        
                        <img src="https://www.mylsb.com/images/triangle-br-bg.svg" alt="" aria-hidden="true" class="category-nav__item-decoration" />
                    </a>
                </div>
                <div class="col-lg-5 ">
                    <a href="#" class="category-nav__item staggered-animation"  data-os-animation="animate__fadeInUp" data-os-animation-delay=".3s">
                        <h3 class="category-nav__item-heading">Savings Account</h3>
                        <div class="category-nav__item-sub"><p>Set aside funds for a rainy day, or set your sights on saving enough to buy something big or do something special.</p>
</div>
                        
                        <img src="https://www.mylsb.com/images/triangle-br-bg.svg" alt="" aria-hidden="true" class="category-nav__item-decoration" />
                    </a>
                </div>
                </div>
                <div class="row d-lg-flex flex-wrap align-items-stretch staggered-animation-container" id="category-nav_42">
                <div class="col-lg-5 offset-lg-1">
                    <a href="#" class="category-nav__item staggered-animation"  data-os-animation="animate__fadeInUp" data-os-animation-delay="0s">
                        <h3 class="category-nav__item-heading">Premier Money Market</h3>
                        <div class="category-nav__item-sub"><p>It&#39;s the best of both worlds, a rare combination of higher earnings and instant access to your money.</p>
</div>
                        
                        <img src="https://www.mylsb.com/images/triangle-br-bg.svg" alt="" aria-hidden="true" class="category-nav__item-decoration" />
                    </a>
                </div>
                <div class="col-lg-5 ">
                    <a href="#" class="category-nav__item staggered-animation"  data-os-animation="animate__fadeInUp" data-os-animation-delay=".3s">
                        <h3 class="category-nav__item-heading">Certificate of Deposit (CD)</h3>
                        <div class="category-nav__item-sub"><p>Put your savings on a schedule and then watch higher rates take it to a whole new level.</p>
</div>
                        
                        <img src="https://www.mylsb.com/images/triangle-br-bg.svg" alt="" aria-hidden="true" class="category-nav__item-decoration" />
                    </a>
                </div>
                </div>
                <div class="row d-lg-flex flex-wrap align-items-stretch staggered-animation-container" id="category-nav_44">
                <div class="col-lg-5 offset-lg-1">
                    <a href="#" class="category-nav__item staggered-animation"  data-os-animation="animate__fadeInUp" data-os-animation-delay="0s">
                        <h3 class="category-nav__item-heading">Companion Savings Account</h3>
                        <div class="category-nav__item-sub"><p>This account works hand-in-hand with your new or existing accounts to help you make the most of your money.</p>
</div>
                        
                        <img src="https://www.mylsb.com/images/triangle-br-bg.svg" alt="" aria-hidden="true" class="category-nav__item-decoration" />
                    </a>
                </div>
                <div class="col-lg-5 ">
                    <a href="#" class="category-nav__item staggered-animation"  data-os-animation="animate__fadeInUp" data-os-animation-delay=".3s">
                        <h3 class="category-nav__item-heading">Savings Account for Kids</h3>
                        <div class="category-nav__item-sub"><p>The perfect place for birthday cash and part-time pay - and the perfect way to learn lifelong lessons about saving.</p>
</div>
                        
                        <img src="https://www.mylsb.com/images/triangle-br-bg.svg" alt="" aria-hidden="true" class="category-nav__item-decoration" />
                    </a>
                </div>
                </div>
                <div class="row d-lg-flex flex-wrap align-items-stretch staggered-animation-container" id="category-nav_46">
                <div class="col-lg-5 offset-lg-1">
                    <a href="#" class="category-nav__item staggered-animation"  data-os-animation="animate__fadeInUp" data-os-animation-delay="0s">
                        <h3 class="category-nav__item-heading">Health Savings Account</h3>
                        <div class="category-nav__item-sub"><p>Set aside cash for doctor, dental and vision care while stretching your health care dollars with tax advantages.</p>
</div>
                        
                        <img src="https://www.mylsb.com/images/triangle-br-bg.svg" alt="" aria-hidden="true" class="category-nav__item-decoration" />
                    </a>
                </div>
                <div class="col-lg-5 ">
                    <a href="#" class="category-nav__item staggered-animation"  data-os-animation="animate__fadeInUp" data-os-animation-delay=".3s">
                        <h3 class="category-nav__item-heading">Individual Retirement Accounts</h3>
                        <div class="category-nav__item-sub"><p>Traditional or Roth IRAs can provide you with the financial resources to put sunshine and sparkle into your golden years.</p>
</div>
                        
                        <img src="https://www.mylsb.com/images/triangle-br-bg.svg" alt="" aria-hidden="true" class="category-nav__item-decoration" />
                    </a>
                </div>
                </div>
                <div class="row d-lg-flex flex-wrap align-items-stretch staggered-animation-container" id="category-nav_4538">
                <div class="col-lg-5 offset-lg-1">
                    <a href="#" class="category-nav__item staggered-animation"  data-os-animation="animate__fadeInUp" data-os-animation-delay="0s">
                        <h3 class="category-nav__item-heading">Limited Edition Savings Account</h3>
                        <div class="category-nav__item-sub"><p>The Limited Edition Savings Account can only be opened at the end of a CD term and offers competitve&nbsp;rates as an alternative to renewing your&nbsp;CD.</p>
</div>
                        
                        <img src="https://www.mylsb.com/images/triangle-br-bg.svg" alt="" aria-hidden="true" class="category-nav__item-decoration" />
                    </a>
                </div>
    </div>
</div>
<aside class="cta-band" aria-labelledby="ctaBandTitle_949" id="cta-band_949">
    <div class="container">
        <img src="https://www.mylsb.com/images/lazy.gif" data-src="https://www.mylsb.com/images/triangle-tl-bg.svg" alt="" aria-hidden="true" class="cta-band__decoration-top os-animation lazyload" data-os-animation="animate__slideInLeft" height="157" width="411" />
        <div class="row">
            <div class="col-lg-11 col-xl-10 offset-lg-1 d-lg-flex align-items-center">
                <h2 id="ctaBandTitle_949" class="cta-band__heading os-animation" data-os-animation="animate__fadeInUp">
                    <strong> What are you </strong> saving for?
                </h2>
                <div class="cta-band__ctas staggered-animation-container">
                        <a href="https://mylsb-web.oflows.net/oao/?product=savings" class="btn btn-tertiary cta-band__cta staggered-animation" target="_blank"  data-os-animation="animate__fadeInUp" data-os-animation-delay="0.6s">
                            Apply Online<span class="sr-only"> (opens in a new tab)</span>
                        </a>
                </div>
            </div>
        </div>
        <img src="https://www.mylsb.com/images/lazy.gif" data-src="https://www.mylsb.com/images/triangle-br-g.svg" alt="" aria-hidden="true" class="cta-band__decoration-bottom os-animation lazyload" data-os-animation="animate__slideInRight" height="152" width="398" />
    </div>
</aside> 
</main>
{% endblock %}