{% extends 'pages/base.html' %}

{% block content %}
<div class="columns aem-GridColumn aem-GridColumn--default--11">


<div class="columns-container   -no-max-width " data-componentId="column-852147568">
	<div class="columns-wrapper -white">
		<div class="column-content ">
			<div class="col-12 column-parsys -lg-horizontal-padding"><div class="columns section">


<div class="columns-container -lg-top-padding   " data-componentId="column-1858126421">
	<div class="columns-wrapper -grey">
		<div class="column-content ">
			<div class="col-12 column-parsys -lg-horizontal-padding"><div class="title section">
<div class="cmp-title title-container component">
	<h1 class="cmp-title__text  -default-theme">
		
			Get the details about the transition from People's United.
		
	</h1>
</div></div>

</div>
			
			
			
		</div>
	</div>
	
</div></div>
<div class="columns section">


<div class="columns-container -lg-top-padding -lg-bottom-padding  " data-componentId="column-481569816">
	<div class="columns-wrapper -grey">
		<div class="column-content ">
			<div class="col-12 column-parsys -lg-horizontal-padding"><div class="richtext text section">

<div class="cmp-text richtext component" id="green-banner">
	
		<p class="banner-checkmark"><img src="https://www3.mtb.com//content/dam/mtb-web/images/pub-lp/banner-check.svg"/></p>
<h1 class="first">Welcome United Bank Credit Card holders</h1>
<p class="second">Visit our frequently asked questions for instructions about your account transition to M&amp;T systems.<br />
<br />
<a title="personal frequently asked questions" data-speedbump-enabled="false" href="/homepage/about-us/welcome-to-mandt/peoples-united/personal-banking-faqs#united-bank">Personal account holders &gt;</a><br />
<a title="frequently asked questions" data-speedbump-enabled="false" href="/homepage/about-us/welcome-to-mandt/peoples-united/business/business-owner-faqs#united-bank">Business account holders &gt;</a></p>

	
</div></div>

</div>
			
			
			
		</div>
	</div>
	<style>#green-banner {
  width: inherit;
  background: linear-gradient(143.56deg, #80BC00 0%, #168647 28.07%, #007856 78.24%, #005E42 100%);
padding: 15px 35px;
        align-items: center;
}
#green-banner a { color:white; text-decoration:underline; }
#green-banner h1.first {
color: #FFFFFF;
line-height: 1;
align-items: center;
}
#green-banner p.second {
color: #FFFFFF;
line-height: 1.5;
font-family: "Balto-light", sans-serif;
letter-spacing: 0;
text-align: left;
}
@media (min-width: 1024px) {
#green-banner { display: flex; padding: 15px 45px; }
#green-banner p.second {  font-size: 24px;  line-height:1.2; flex:1; margin-left: 45px; }
#green-banner h1.first {
display: flex;
padding-right: 50px;
max-width:450px;
border-right: 1px solid #FFFFFF; }
}
@media (min-width: 1200px) {
#green-banner { display: flex; padding: 15px 60px; }
}

.banner-checkmark > img {
    margin-left: -25%;
}</style>
</div></div>

</div>
			
			
			
		</div>
	</div>
	
</div></div>
<div class="columns aem-GridColumn aem-GridColumn--default--11">


<div class="columns-container   -no-max-width " data-componentId="column-1630841749">
	<div class="columns-wrapper -white">
		<div class="column-content ">
			<div class="col-12 column-parsys -lg-horizontal-padding"><div class="columns section">


<div class="columns-container -lg-top-padding -lg-bottom-padding  " data-componentId="column-1078609044">
	<div class="columns-wrapper -grey">
		<div class="column-content ">
			<div class="col-3 column-parsys -med-horizontal-padding"><div class="columns section">


<div class="columns-container -sm-top-padding  -no-max-width cta-icon-top-padding" data-componentId="column-1446079709">
	<div class="columns-wrapper -white">
		<div class="column-content cta-icon-top-padding_cols">
			<div class="col-12 column-parsys -no-horizontal-padding"><div class="image section">
<div class="image component _applyattritem" data-whatdim="height" data-dimH="64" data-alignH="left" data-alignV="middle" data-imageSpeedbump="false" data-target="_self">
    <div data-cmp-is="image" data-cmp-lazy="false" data-cmp-lazythreshold="0" data-cmp-src="https://www3.mtb.com//homepage/about-us/welcome-to-mandt/peoples-united/_jcr_content/root/responsivegrid/columns_copy_copy_293580399/col_1/columns_copy/col_1/columns/col_1/image_copy_copy.coreimg{.width}.png/1670358217650/icon-personal-accounts.png" data-asset="https://www3.mtb.com//content/dam/mtb-web/images/icon-personal-accounts.png" data-asset-id="a2068bd1-db2c-4531-9156-23d7723c6dd5" id="svg-icon" class="cmp-image" itemscope itemtype="http://schema.org/ImageObject">
        
            
                
                <img src="https://www3.mtb.com//homepage/about-us/welcome-to-mandt/peoples-united/_jcr_content/root/responsivegrid/columns_copy_copy_293580399/col_1/columns_copy/col_1/columns/col_1/image_copy_copy.coreimg.png/1670358217650/icon-personal-accounts.png" class="cmp-image__image" itemprop="contentUrl" data-cmp-hook-image="image" data-noalt="true"/>
                
            
        
        
        
    </div>
    
    

</div></div>
<div class="richtext text section">

<div class="cmp-text richtext component">
	
		<h2 style="text-align: left;">Personal</h2>
<p class="icon-cta-content" style="text-align: left;">Get answers to frequently asked questions about your personal account transition to M&amp;T systems.</p>

	
</div></div>
<div class="cta-button section">

    <div class="cta-button component -full-width style-a 15  ">
        <a class="cta-button-link" target="_self" data-speedbump-enabled="false" href="https://www3.mtb.com//homepage/about-us/welcome-to-mandt/peoples-united/personal-banking-faqs" aria-label="Read Personal FAQs" data-id="-1563627953" data-comp-type="cta-button" data-tag-type="clickAction" data-tag-text="FAQ - Get Started">
            <span class="button-text  -chevron">Read Personal FAQs</span>
        </a>
    </div>

</div>

</div>
			
			
			
		</div>
	</div>
	
</div></div>

</div>
			<div class="col-3 column-parsys -med-horizontal-padding"><div class="columns section">


<div class="columns-container   -no-max-width cta-icon-top-padding" data-componentId="column-361374754">
	<div class="columns-wrapper -white">
		<div class="column-content cta-icon-top-padding_cols">
			<div class="col-12 column-parsys -no-horizontal-padding"><div class="image section">
<div class="image component _applyattritem" data-whatdim="height" data-dimH="64" data-alignH="left" data-alignV="middle" data-imageSpeedbump="false" data-target="_self">
    <div data-cmp-is="image" data-cmp-lazy="false" data-cmp-lazythreshold="0" data-cmp-src="https://www3.mtb.com//homepage/about-us/welcome-to-mandt/peoples-united/_jcr_content/root/responsivegrid/columns_copy_copy_293580399/col_1/columns_copy/col_2/columns/col_1/image_copy_copy.coreimg{.width}.png/1670358173335/icon-business-accounts.png" data-asset="https://www3.mtb.com//content/dam/mtb-web/images/icon-business-accounts.png" data-asset-id="947834be-8c07-47a1-b0a5-59ff86d5f533" id="svg-icon" class="cmp-image" itemscope itemtype="http://schema.org/ImageObject">
        
            
                
                <img src="https://www3.mtb.com//homepage/about-us/welcome-to-mandt/peoples-united/_jcr_content/root/responsivegrid/columns_copy_copy_293580399/col_1/columns_copy/col_2/columns/col_1/image_copy_copy.coreimg.png/1670358173335/icon-business-accounts.png" class="cmp-image__image" itemprop="contentUrl" data-cmp-hook-image="image" data-noalt="true"/>
                
            
        
        
        
    </div>
    
    

</div></div>
<div class="richtext text section">

<div class="cmp-text richtext component">
	
		<h2 style="text-align: left;">Business </h2>
<p class="icon-cta-content" style="text-align: left;">Access the details you need about your business account transition to M&amp;T systems.</p>

	
</div></div>
<div class="cta-button section">

    <div class="cta-button component -full-width style-a 15  ">
        <a class="cta-button-link" target="_self" data-speedbump-enabled="false" href="https://www3.mtb.com//homepage/about-us/welcome-to-mandt/peoples-united/business/business-owner-faqs" aria-label="Read Business FAQs" data-id="-13050970" data-comp-type="cta-button" data-tag-type="clickAction" data-tag-text="How to Demos - View Now">
            <span class="button-text  -chevron">Read Business FAQs</span>
        </a>
    </div>

</div>

</div>
			
			
			
		</div>
	</div>
	
</div></div>

</div>
			<div class="col-3 column-parsys -med-horizontal-padding"><div class="columns section">


<div class="columns-container   -no-max-width cta-icon-top-padding" data-componentId="column-2126138079">
	<div class="columns-wrapper -white">
		<div class="column-content cta-icon-top-padding_cols">
			<div class="col-12 column-parsys -no-horizontal-padding"><div class="image section">
<div class="image component _applyattritem" data-whatdim="height" data-dimH="64" data-alignH="left" data-alignV="middle" data-imageSpeedbump="false" data-target="_self">
    <div data-cmp-is="image" data-cmp-lazy="false" data-cmp-lazythreshold="0" data-cmp-src="https://www3.mtb.com//homepage/about-us/welcome-to-mandt/peoples-united/_jcr_content/root/responsivegrid/columns_copy_copy_293580399/col_1/columns_copy/col_3/columns/col_1/image_copy_copy.coreimg{.width}.png/1670357262245/commercial-real-estate-icon.png" data-asset="https://www3.mtb.com//content/dam/mtb-web/images/commercial-real-estate-icon.png" data-asset-id="20f02195-564c-4a51-9270-caa93ef71c43" id="svg-icon" class="cmp-image" itemscope itemtype="http://schema.org/ImageObject">
        
            
                
                <img src="https://www3.mtb.com//homepage/about-us/welcome-to-mandt/peoples-united/_jcr_content/root/responsivegrid/columns_copy_copy_293580399/col_1/columns_copy/col_3/columns/col_1/image_copy_copy.coreimg.png/1670357262245/commercial-real-estate-icon.png" class="cmp-image__image" itemprop="contentUrl" data-cmp-hook-image="image" data-noalt="true"/>
                
            
        
        
        
    </div>
    
    

</div></div>
<div class="richtext text section">

<div class="cmp-text richtext component">
	
		<h2 style="text-align: left;">Commercial</h2>
<p class="icon-cta-content" style="text-align: left;">Explore FAQs about your commercial accounts and services transition to M&amp;T.</p>

	
</div></div>
<div class="cta-button section">

    <div class="cta-button component -full-width style-a 15  ">
        <a class="cta-button-link" target="_self" data-speedbump-enabled="false" href="https://www3.mtb.com//homepage/about-us/welcome-to-mandt/peoples-united/business/commercial/commercial-faqs" aria-label="Read Commercial FAQs" data-id="337748967" data-comp-type="cta-button" data-tag-type="clickAction" data-tag-text="Contact Us - Find Now">
            <span class="button-text  -chevron">Read Commercial FAQs</span>
        </a>
    </div>

</div>

</div>
			
			
			
		</div>
	</div>
	
</div></div>

</div>
			<div class="col-3 column-parsys -med-horizontal-padding"><div class="columns section">


<div class="columns-container   -no-max-width cta-icon-top-padding" data-componentId="column-318683616">
	<div class="columns-wrapper -white">
		<div class="column-content cta-icon-top-padding_cols">
			<div class="col-12 column-parsys -lg-horizontal-padding"><div class="image section">
<div class="image component _applyattritem" data-whatdim="height" data-dimH="64" data-alignH="left" data-alignV="middle" data-imageSpeedbump="false" data-target="_self">
    <div data-cmp-is="image" data-cmp-lazy="false" data-cmp-lazythreshold="0" data-cmp-src="https://www3.mtb.com//homepage/about-us/welcome-to-mandt/peoples-united/_jcr_content/root/responsivegrid/columns_copy_copy_293580399/col_1/columns_copy/col_4/columns/col_1/image_copy_copy.coreimg{.width}.png/1670357339062/mtb-icon-mortgage-2c-cmyk.png" data-asset="https://www3.mtb.com//content/dam/mtb-web/images/icons/mtb-icon-mortgage-2c-cmyk.png" data-asset-id="df29e493-19fd-4b7d-8b6b-7889f3e5eebd" id="svg-icon" class="cmp-image" itemscope itemtype="http://schema.org/ImageObject">
        
            
                
                <img src="https://www3.mtb.com//homepage/about-us/welcome-to-mandt/peoples-united/_jcr_content/root/responsivegrid/columns_copy_copy_293580399/col_1/columns_copy/col_4/columns/col_1/image_copy_copy.coreimg.png/1670357339062/mtb-icon-mortgage-2c-cmyk.png" class="cmp-image__image" itemprop="contentUrl" data-cmp-hook-image="image" data-noalt="true"/>
                
            
        
        
        
    </div>
    
    

</div></div>
<div class="richtext text section">

<div class="cmp-text richtext component">
	
		<h2 style="text-align: left;">Mortgage</h2>
<p class="icon-cta-content" style="text-align: left;">Learn about your mortgage account transition to M&amp;T systems through these FAQs.</p>

	
</div></div>
<div class="cta-button section">

    <div class="cta-button component -full-width style-a 15  ">
        <a class="cta-button-link" target="_self" data-speedbump-enabled="false" href="https://www3.mtb.com//homepage/about-us/welcome-to-mandt/peoples-united/mortgage/peoples-united-mortgage-transfer-faqs" aria-label="Read Mortgage FAQs" data-id="-2109450964" data-comp-type="cta-button" data-tag-type="clickAction" data-tag-text="Security - Learn More">
            <span class="button-text  -chevron">Read Mortgage FAQs</span>
        </a>
    </div>

</div>

</div>
			
			
			
		</div>
	</div>
	
</div></div>

</div>
		</div>
	</div>
	
</div></div>

</div>
			
			
			
		</div>
	</div>
	
</div></div>
<div class="columns aem-GridColumn aem-GridColumn--default--11">


<div class="columns-container   -no-max-width " data-componentId="column-1231862878">
	<div class="columns-wrapper -grey">
		<div class="column-content ">
			<div class="col-12 column-parsys -lg-horizontal-padding"><div class="columns section">


<div class="columns-container -lg-top-padding -med-bottom-padding  " data-componentId="column-1837014277">
	<div class="columns-wrapper -grey">
		<div class="column-content ">
			<div class="col-12 column-parsys -lg-horizontal-padding"><div class="community-focus section">

<div class="component community-focus-wrapper">
    <div class="community-focus-container -image">
        <div class="community-image-box">
            <img data-src="https://www3.mtb.com//content/dam/mtb-web/pub/bankers-collage-desktop.jpg" class="image lazyload" alt=""/>
            <div class="community-spotlight ">
                <div class="sub-title"></div>
                <h3 class="main-title">Hear from our bankers.</h3>
                <p class="description">We asked our bankers some important questions about M&amp;T and the transition from People&#39;s United. Listen to what they had to say in their own words.</p>
                <a data-speedbump-enabled="false" href="https://www3.mtb.com//homepage/about-us/welcome-to-mandt/peoples-united/hear-from-our-bankers" class="buttonLabel">Watch Videos</a>
            </div>
        </div>
    </div>
    <div class="community-focus-container -stats">
        <div class="community-columns">
            <div class="community-stats-title"></div>
            <div class="community-column">
                
                
                
            </div>
            <div class="community-column">
                
                
                
            </div>
            <div class="community-column">
                
                
                
            </div>
        </div>
    </div>
    
</div></div>

</div>
			
			
			
		</div>
	</div>
	
</div></div>

</div>
			
			
			
		</div>
	</div>
	
</div></div>
<div class="columns aem-GridColumn aem-GridColumn--default--11">


<div class="columns-container   -no-max-width " data-componentId="column-528506151">
	<div class="columns-wrapper -white">
		<div class="column-content ">
			<div class="col-12 column-parsys -lg-horizontal-padding"><div class="columns section">


<div class="columns-container -lg-top-padding -lg-bottom-padding  " data-componentId="column-899898791">
	<div class="columns-wrapper -grey">
		<div class="column-content ">
			<div class="col-12 column-parsys -lg-horizontal-padding"><div class="bolt-mortgage section">

<div class="bolt-mortgage-v2 component fixed-center-default">
	<div class="bolt-mortgage-image _rightSide" data-background-image="https://www3.mtb.com//content/dam/mtb-web/images/mobile-phone-cyber-security.jpg"></div>
	<div class="bolt-mortgage-copy-v2 _vcenter">
		<p class="get-started">Beware of Phishing Attempts</p>
		<div class="bolt-mortgage-title-v2">
<div class="cmp-title title-container component">
	<h2 class="cmp-title__text  -default-theme">
		
			Security &amp; Protection
		
	</h2>
</div></div>
		<div class="bolt-mortgage-description-v2"><p>Scammers look to gain access to your sensitive account information by any means necessary, including deceptive emails, texts and phone calls that may look like they are coming from People's United or M&amp;T Bank.<br />
</p>
<p>Learn more on how to be aware of the different types of fraud so you can help protect your personal and financial information.<br />
</p>
</div>
		<div class="bolt-mortgage-buttons-v2">
			<div class="bolt-mortgage-button-container">

    <div class="cta-button component -text-width style-a 13  ">
        <a class="cta-button-link" target="_self" data-speedbump-enabled="false" href="https://www3.mtb.com//homepage/explore-the-m-and-t-bank-help-center/bank-security-tips-and-best-practices/how-to-protect-personal-information" aria-label="Link to Security Centr" data-id="902834475" data-comp-type="cta-button" data-tag-type="clickAction" data-tag-text="Security &amp; Privacy Learn More">
            <span class="button-text  -chevron">Learn More</span>
        </a>
    </div>

</div>
			
		</div>
	</div>
	
</div></div>

</div>
			
			
			
		</div>
	</div>
	
</div></div>

</div>
			
			
			
		</div>
	</div>
	
</div></div>
<div class="columns aem-GridColumn aem-GridColumn--default--11">


<div class="columns-container -lg-top-padding -lg-bottom-padding -no-max-width " data-componentId="column-1093656679">
	<div class="columns-wrapper -grey">
		<div class="column-content ">
			<div class="col-12 column-parsys -lg-horizontal-padding"><div class="columns section">


<div class="columns-container -lg-top-padding   " data-componentId="column-763024743">
	<div class="columns-wrapper -grey">
		<div class="column-content ">
			<div class="col-12 column-parsys -lg-horizontal-padding"><div class="title section">
<div class="cmp-title title-container component">
	<h2 class="cmp-title__text  -green">
		
			Account Disclosures
		
	</h2>
</div></div>
<div class="richtext text section">

<div class="cmp-text richtext component">
	
		<h3>Review the Terms and Conditions or Change in Terms for each of your accounts.</h3>

	
</div></div>

</div>
			
			
			
		</div>
	</div>
	
</div></div>
<div class="columns section">


<div class="columns-container  -lg-bottom-padding  " data-componentId="column-1354908008">
	<div class="columns-wrapper -grey">
		<div class="column-content ">
			<div class="col-6 column-parsys -med-horizontal-padding"><div class="richtext text section">

<div class="cmp-text richtext component">
	
		<h4>Personal Customers</h4>
<ul>
<li><a title="Link to the Consumer Deposit Account Terms &amp; Conditions" href="https://www3.mtb.com//content/dam/mtb-web/pdfs/pub-pdfs/consumer-deposit-account-dual-disclosure-letter.pdf">Consumer Deposit Account Terms &amp; Conditions</a> (PDF)</li>
<li><a title="Link to the Notice of Changes to Digital Services for Personal Accounts" href="https://www3.mtb.com//content/dam/mtb-web/pdfs/pub-pdfs/personal-accounts-digital-services-changes.pdf">Notice of Changes to Digital Services for Personal Accounts</a> (PDF)</li>
<li><a title="Link to the Consumer IRA Terms and Conditions PDF" href="https://www3.mtb.com//content/dam/mtb-web/pdfs/pub-pdfs/consumer-ira-terms-and-conditions.pdf">Consumer Individual Retirement Account (IRA) Terms &amp; Conditions</a> (PDF)</li>
<li><a title="Link to IRA Dual Disclosures letter" href="https://www3.mtb.com//content/dam/mtb-web/pdfs/pub-pdfs/consumer-ira-dual-disclosures-letter.pdf">Consumer Individual Retirement Account (IRA) Dual Disclosure Letter</a> (PDF) (with accounts at both People's United &amp; M&amp;T)</li>
<li><a title="Link to the Overdraft LIne of Credit Change in Terms PDF" href="https://www3.mtb.com//content/dam/mtb-web/pdfs/pub-pdfs/consumer-overdraft-line-of-credit-change-in-terms.pdf">Consumer Overdraft Line of Credit Change in Terms</a> (PDF)</li>
</ul>

	
</div></div>

</div>
			<div class="col-6 column-parsys -med-horizontal-padding"><div class="richtext text section">

<div class="cmp-text richtext component">
	
		<h4>Business &amp; Commercial Customers</h4>
<ul>
<li><a title="Link to the Notice of Changes to Digtial Services for Business Accounts" href="https://www3.mtb.com//content/dam/mtb-web/pdfs/pub-pdfs/business-accounts-digital-services-changes.pdf">Notice of Changes to Digital Services for Business Accounts</a> (PDF)</li>
<li><a title="Link to Notice of Change in Terms to Your Business Loan Accounts PDF" href="https://www3.mtb.com//content/dam/mtb-web/pdfs/pub-pdfs/business-loan-accounts-change-in-terms.pdf">Notice of Change in Terms to Your Business Loan Account(s)</a> (PDF)</li>
<li><a title="Link to the Notice of Change In Terms to Your Business Line of Credit Accounts PDF" href="https://www3.mtb.com//content/dam/mtb-web/pdfs/pub-pdfs/business-line-of-credit-change-in-terms.pdf">Notice of Change in Terms to Your Business Line of Credit Account(s)</a> (PDF)</li>
<li><a title="Link to Corporate Card/Commercial Card Change in Terms" href="https://www3.mtb.com//content/dam/mtb-web/pdfs/pub-pdfs/corporate-and-commercial-card-change-in-terms.pdf">Corporate Card/Commerial Card Change in Terms</a> (PDF)<br />
</li>
<li><a title="Link to Commercial Deposit Account Terms &amp; Conditions" href="https://www3.mtb.com//content/dam/mtb-web/pdfs/pub-pdfs/commercial-account-terms-conditions.pdf">Commercial Deposit Account Terms &amp; Conditions</a> (PDF)</li>
<li><a title="Link to Treasury management Terms PDF" href="https://www3.mtb.com//content/dam/mtb-web/pdfs/pub-pdfs/treasury-management-terms.pdf">Treasury Management Terms</a> (PDF)</li>
</ul>

	
</div></div>

</div>
			
			
		</div>
	</div>
	
</div></div>

</div>
			
			
			
		</div>
	</div>
	
</div></div>
<div class="raw-html aem-GridColumn aem-GridColumn--default--11">
<div class='raw-html component -no-standard-margin'>
	
	<!--<style>

.bolt-mortgage-copy-v2 {text-align:left !important}
.bolt-mortgage-description-v2 p {padding-left:0px !important}



.hero.component {
    margin-bottom: 0;
}

h2 {
}
-->

<!--CSS FOR HEADER-->
<style>


.header-nav-item > .header-link,
.header-nav-item > .header-link {
    border-bottom-width: 0 !important;
}

.header-nav-item > .header-link.-parent-page[href*='peoples-united'],
.header-nav-item > .header-link[href*='peoples-united'] {
    border-bottom-width: 2px  !important;
}

@media screen and (min-width:768px){
     h2 {
        font-family: 'Balto-Light' !important;        
        font-weight: 100 !important;
        line-height: 1.3 !important;
font-size:40px;
    }   

.richtext.component > h2 {
	font-size:40px; all H2
}

.bolt-mortgage-copy-v2 * {
    text-align: left;
}

.bolt-mortgage-description-v2 > * {
    padding-left: 0 !important;
}

/* footer top margin fix */
.footer-wrapper { margin-top:0; }
}
</style>
	
</div>
</div>

    
</div>
</div>
<div class="disclosure aem-GridColumn aem-GridColumn--default--12">

<div class="disclosure component">
    <div class="_hidden">
        <sup class="unnumbered" data-disclosure-id="d222_original"></sup><span class="disclosure-label"></span><sup class="unnumbered" data-disclosure-id="d224_original"></sup><span class="disclosure-label"></span><sup class="unnumbered" data-disclosure-id="d906_original"></sup><span class="disclosure-label"></span><sup class="unnumbered" data-disclosure-id="d424_original"></sup><span class="disclosure-label"></span><sup class="unnumbered" data-disclosure-id="d236_original"></sup><span class="disclosure-label"></span><div class="_hidden" data-disclosure-id="d222_original">Unless otherwise specified, all advertised offers and terms and conditions of accounts and services are subject to change at any time without notice. After an account is opened or service begins, it is subject to its features, conditions and terms, which are subject to change at any time in accordance with applicable laws and agreements. Please contact an M&amp;T representative for details.
</div><div class="_hidden" data-disclosure-id="d224_original">Visa® is a registered trademark of Visa International Service Association.
</div><div class="_hidden" data-disclosure-id="d906_original">U.S. checking or savings account required to use Zelle. Transactions between enrolled consumers typically occur in minutes. Zelle and the Zelle related marks are wholly owned by Early Warning Services, LLC and are used herein under license. Other product and company names mentioned herein are the property of their respective owners.
</div><div class="_hidden" data-disclosure-id="d424_original">Apple® and iPhone® are registered trademarks of Apple, Inc. registered in the U.S. and other countries. Android™ is a trademark of Google, LLC. Use of these trademarks are subject to the respective owner's permission.
</div><div class="_hidden" data-disclosure-id="d236_original">Google Play™ store is a trademark of Google LLC The App Store℠ is a servicemark of Apple Inc. Use of these trademarks is subject to the respective owner's permission. M&amp;T Bank is not endorsed, sponsored, affiliated with or otherwise authorized by Apple Inc. or Google LLC.
</div>
    </div>
    <div class="disclosure-wrapper _hidden">
        <h3 class="disclosure-title"></h3>
        <ul class="unnumbered-disclosures">
        </ul>
        <ol class="numbered-disclosures">
        </ol>
    </div>
</div></div>

    
</div>
</div>

</main>



    <div>
        <div class="xfpage page basicpage">

    



<div class="xf-content-height">
    


<div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">
    
    <div class="footer aem-GridColumn aem-GridColumn--default--12"><div class="footer-wrapper" role="contentinfo">
    <div class="footer-container">
        <div class="footer-line-block">
            <div class="footer-column -why-bank">
                <h2 class="footer-title">
                    Why Bank with M&amp;T?
                </h2>
                <p class="footer-text -light-font">
                    We understand what’s important. That’s why we’ve built a banking experience with you in mind. 
                </p>
                <p class="footer-text">
                    Help us make your banking experience better.
                    <br/>
                    <a data-speedbump-enabled="false" class="footer-link">Send feedback</a>
                </p>
            </div>
            <div class="footer-column -contact-us">
                <div class="footer-contact-us-container">
                    <h3 class="contact-us-header">
                        Contact Us
                    </h3>
                    <ul class="footer-contact-us-items">
                        <li class="contact-us-item">
                            <a href="tel:1-800-724-2440" class="footer-contact-us-link">
                                <svg class="icon icon-phone">
                                    <use xlink:href="#icon-phone"></use>
                                </svg>
                                <span class="icon-text">1-800-724-2440</span>
                            </a>
                        </li>
                        <li class="contact-us-item">
                            <a href="https://locations.mtb.com" target="_blank" data-speedbump-enabled="false" class="footer-contact-us-link">
                                <svg class="icon icon-location-pin">
                                    <use xlink:href="#icon-location-pin"></use>
                                </svg>
                                <span class="icon-text">Locations &amp; ATMs</span>
                            </a>
                        </li>
<li class="contact-us-item">
                            <a href="https://customer.jrni.com/?client=mtbank" target="_blank" data-speedbump-enabled="false" class="footer-contact-us-link">
                                <svg class="icon icon-chat">
                                    <use xlink:href="#icon-chat"></use>
                                </svg>
                                <span class="icon-text">Make an Appointment</span>
                            </a>
                        </li>
<li class="contact-us-item">
                            <a href="https://www3.mtb.com//homepage/explore-the-m-and-t-bank-help-center/mandt-bank-phone-numbers-by-department/telephone-directory" target="_blank" data-speedbump-enabled="false" class="footer-contact-us-link">
                                <svg class="icon icon-more-ways">
                                    <use xlink:href="#icon-more-ways"></use>
                                </svg>
                                <span class="icon-text">More ways to reach us</span>
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
            <div class="footer-separator"></div>
        </div>
        <div class="footer-line-block">
            <div class="footer-column -about">
                <h3 class="footer-about-header">
                    About
                </h3>
                <ul class="footer-about-items">
                    <li class="footer-about-item">
                        <a href="https://www3.mtb.com//homepage/about-us" data-speedbump-enabled="false" target="_self" class="footer-about-link">
                            <span class="footer-icon-text">About M&amp;T</span>
                        </a>
                    </li>
<li class="footer-about-item">
                        <a href="https://www3.mtb.com//homepage/careers" data-speedbump-enabled="false" target="_self" class="footer-about-link">
                            <span class="footer-icon-text">Careers</span>
                        </a>
                    </li>
<li class="footer-about-item">
                        <a href="https://ir.mtb.com/" data-speedbump-enabled="false" target="_self" class="footer-about-link">
                            <span class="footer-icon-text">Investor Relations</span>
                        </a>
                    </li>

                    <li class="footer-about-item">
                        <a href="https://www3.mtb.com//homepage/explore-the-m-and-t-bank-help-center/bank-security-tips-and-best-practices" data-speedbump-enabled="false" class="footer-about-link">
                            <svg class="footer-icon icon-lock">
                                <use xlink:href="#icon-lock"></use>
                            </svg>
                            <span class="footer-icon-text">Security</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="footer-separator"></div>
            <div class="footer-column -search">
                <a href="#search-modal" class="footer-search" aria-label="Search">
                    <svg class="footer-icon-magnifying-glass" aria-hidden="true">
                        <use xlink:href="#icon-magnifying-glass"></use>
                    </svg>
                    Search
                </a>
                <ul class="footer-social-icons">
                    <li>
                        <a data-speedbump-enabled="true" aria-label="Facebook" href="https://www.facebook.com/MandTBank" class="footer-social-link">
                            <svg class="footer-icon -facebook-social" aria-hidden="true">
                                <title>Facebook</title>
                                <use xlink:href="#icon-facebook-social"></use>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a data-speedbump-enabled="true" aria-label="Twitter" href="https://twitter.com/mandt_bank" class="footer-social-link">
                            <svg class="footer-icon -twitter-social" aria-hidden="true">
                                <title>Twitter</title>
                                <use xlink:href="#icon-twitter-social"></use>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a data-speedbump-enabled="true" aria-label="LinkedIn" href="https://www.linkedin.com/company/m%26t-bank" class="footer-social-link">
                            <svg class="footer-icon -linkedin-social" aria-hidden="true">
                                <title>LinkedIn</title>
                                <use xlink:href="#icon-linkedin-social"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="footer-legal-wrapper">
    <div class="footer-legal">
        <div class="footer-EHL-copyright">
            
                <svg aria-hidden="true" class="footer-icon -equal-housing">
                    <use xlink:href="#icon-equal-housing"></use>
                </svg>
            
            <span class="footer-copyright-text">
                    ​Equal Housing Lender. © 2023 M&amp;T Bank. Member FDIC. All rights reserved.​
            </span>
        </div>
        <div class="footer-nav">
            <ul class="footer-nav-items">
                <li class="footer-nav-item">
                    <a href="https://www.mtb.com/privacy" data-speedbump-enabled="false" target="_self" class="footer-nav-link">Privacy</a>
                </li>
            
                <li class="footer-nav-item">
                    <a href="https://www3.mtb.com//homepage/sitemap" data-speedbump-enabled="false" target="_self" class="footer-nav-link">Sitemap</a>
                </li>
            
                <li class="footer-nav-item">
                    <a href="https://www3.mtb.com//homepage/explore-the-m-and-t-bank-help-center/digital-services-agreement" data-speedbump-enabled="false" target="_self" class="footer-nav-link">Digital Service Agreement</a>
                </li>
            
                <li class="footer-nav-item">
                    <a href="https://asset.mtb.com/Documents/html/ESign.htm" data-speedbump-enabled="false" target="_self" class="footer-nav-link">ESign Consent</a>
                </li>
            
                <li class="footer-nav-item">
                    <a href="https://www3.mtb.com//homepage/explore-the-m-and-t-bank-help-center/bank-policies/terms-of-use-policy" data-speedbump-enabled="false" target="_self" class="footer-nav-link">Terms of Use</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="modal-wrapper">
    <button class="modal-close">
        <svg class="icon-close">
            <use xlink:href="#icon-close-thin"></use>
        </svg>
    </button>
    <div class="modal-container"></div>
</div>
<div class="search-modal modal-data _hidden">
    <div class="xfpage page basicpage">

    



<div class="xf-content-height">
    


<div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">
    
    <div class="search-results aem-GridColumn aem-GridColumn--default--12">

<div class="search-results component">
    <div class="search-results-form-container">
        <div class="search-results-logo" aria-label="M&T Bank logo">
            <svg class="search-results-logo-image" aria-hidden="true">
                <use xlink:href="#logo"></use>
            </svg>
        </div>
        <div class="search-results-description-container">
            <p class="search-results-description">
                What can we help you with today?
            </p>
        </div>
        <form name="search-results-form" method="get" class="search-results-form">
            <label for="searchInput" class="search-results-placeholder">Search</label>
            <input id="searchInput" class="search-results-input animateInput" type="text" placeholder="Search"/>
            <input id="numberOf" class="numberOf" type="hidden"/>
            <button class="search-results-icon-close-container" aria-label="Clear search">
                <svg class="search-results-icon-close">
                    <use xlink:href="#icon-close"></use>
                </svg>
            </button>
            <button type="submit" class="search-results-icon-magnifying-glass" aria-label="Submit search">
                <svg class="search-results-icon-magnifying-glass-image" aria-hidden="true">
                    <use xlink:href="#icon-magnifying-glass"></use>
                </svg>
            </button>
        </form>
    </div>
    <p class='_visuallyhidden search-alert'>Search results are ready</p>
    <div class="search-results-items"></div>
</div></div>
<div class="raw-html aem-GridColumn aem-GridColumn--default--12">
<div class='raw-html component -no-standard-margin'>
	
	<link rel="stylesheet" href="https://www3.mtb.com//content/dam/mtb-web/scripts/alert_scripts/alert_new_design.css"/>
<style>
.accordion-text a {
    font-size: inherit;
    font-family: 'Balto-Book';
}

body:not(.grecaptcha) .grecaptcha-badge {
visibility: hidden;
}
.search-results-form-container.-has-results {
    padding-top: 0;
}

.search-results-form > .search-results-input {
    padding-left: 0.25em;
}

.search-results-form > .search-results-placeholder.-to-top {
    top: 0em;
    left: 0.6em;
}

.search-results-description.-has-results {
    margin-top: 1.5rem;
}

.search-results-logo.-has-results {
    top: 0;
}

.search-results-form-container.-has-results {
    min-height: 0;
}

@media screen and (max-width:768px){
    .search-results-form > .search-results-placeholder.-to-top {
        top:-1em;
        left:0;
    }

    .search-results-logo.-has-results {
        margin-top:1rem;        
    }
}
</style>


<style>
.login-container > .right-side {
    display: block;
}

.login-container > .left-side {
min-height:35%;
}

@media screen and (min-width:1023px){
	.hero.component .hero-text-container {
		min-height:0px;
	}

	.hero.component[data-desktop-image]  .hero-text-container {
		min-height:430px;
	}
}


.header-misc-item.-langimg {
    width: 28px;
}

select.form-dropdown-input {
    padding: 0.5em;
}

/*FIX FOR CUSTOM COL WIDTH*/
@media screen and (max-width:1024px){
[data-customwidths] > .column-parsys {
    width: 100% !important;
}
}

</style>

<style>
a.component.skip-navigation:focus:before {
    content: "";
    position: absolute;
    width: 11em;
    height: 1.5em;
    border: 1px solid yellow;
}

a.component.skip-navigation:focus {
    position: relative;
}

.form-component.-full-height {
    display: block;
}

.alert-banner-item + .alert-banner-item {
    border-top: 1px solid #ffb300;
}

* > .alert-banner-item:last-of-type {
    border-bottom: 1px solid #ffb300;
}

.alert-banner-item b {
    font-weight:700 !important;
}

#speedbump-modal.speedbump-modal-container {
top:0  !important;
position: fixed  !important;
}

</style>
	<script src="https://www3.mtb.com//content/dam/mtb-web/scripts/alert_scripts/allAlertobject.js"></script>
<script src="https://www3.mtb.com//content/dam/mtb-web/scripts/status.js"></script>
<script src="https://www3.mtb.com//content/dam/mtb-web/scripts/charReplace.js"></script>
<script src="https://www.google.com/recaptcha/api.js?render=6Le0uLsfAAAAAF_ME5t3IiKGN8Hq4g0A3Kek1EB3"></script>
<script>

function addLanguageIcon(){
	try {
			var langInfo = {
			"en": {"iconhref":"https://www3.mtb.com//content/dam/mtb-web/images/spanish/es-language-icon.svg","ariaLabel":"View Spanish language page","hrefurl":"/es.html"},
			"es": {"iconhref":"https://www3.mtb.com//content/dam/mtb-web/images/en-language-icon.svg","ariaLabel":"View English language page","hrefurl":"https://www.mtb.com"}
		}
		
		var langis = /es/.test(document.querySelectorAll("html")[0].attributes["lang"].value) ? langInfo["es"]  : langInfo["en"];
		
		var lang_li = document.createElement("li");
		var lang_a = document.createElement("a");
		var lang_img = document.createElement("img");
		

		lang_li.setAttribute("class","header-misc-item -lang");
		lang_a.setAttribute("class","header-link");
		lang_a.setAttribute("aria-label",langis["ariaLabel"]);
		lang_a.setAttribute("href",langis["hrefurl"]);
		lang_img.setAttribute("src",langis["iconhref"]);

		lang_a.appendChild(lang_img);
		lang_li.appendChild(lang_a)
		
		document.querySelector(".header-misc-container").insertBefore(lang_li,document.querySelector(".header-misc-container").children[1]);
	} catch(err){
		
	}
}

function fixCarcH100(){
	try {
		[].forEach.call(document.querySelectorAll(".card.section, .component.card-v2, .card-container-v2"),function(a,b){
			a.style.height = "auto";
		});	
	} catch(err){}
}


//adds links to underlined rtes that are meant to be links
function fixRteLinkInDisclosure(){
	
	var uLinkObj = {
		"rewardsmtbcom": {
			"href": "https://www3.mtb.com//content/dam/mtb-web/pdfs/Business Credit Card Combined Schumer and Agreement_06.01.2021.pdf"
		},
		"mtbankvisacreditcardagreementpdf": {
			"href": "https://www3.mtb.com//content/dam/mtb-web/pdfs/Business Credit Card Combined Schumer and Agreement_final_Effective 5.01.2020.pdf"
		}
	}
	
	var uLinks = document.querySelectorAll(".disclosure-text u");
	[].forEach.call(uLinks,function(a,b){
		try {
			var linkTxt = a.textContent;
			var linkKey = a.textContent.replace(/[^\w]/gi,"").toLowerCase().trim();
			if(uLinkObj[linkKey]){
				var linkHref = uLinkObj[linkKey].href;
				a.innerHTML = "<a href='"+linkHref+"'>"+linkTxt+"</a>"
			}	
		} catch(err){

		}	
	})
}

function allChecks(){
	try {
		var allchecks = document.querySelectorAll("* > li:first-child > [class*='CheckMarksRTE']");
		[].forEach.call(allchecks,function(a,b){
			a.parentElement.parentElement.classList.add("_removeBullets");
		});
	} catch(err){}
}

$(document).ready(function(){

	allChecks();

	addLanguageIcon();	

	fixRteLinkInDisclosure();	

  	try { $('li.contact-us-item a[href="tel:000-000-0000"]').parent().hide(); } catch (e) { }

	$('p.footer-text a').each(function() { 
		if ($(this).text() == 'Send feedback') $(this).closest('p').hide(); 
	});	

	$('a[href="#login-modal"]').off();
	$('a[href="#login-modal"]').click(function(e) { 
		window.location = '/log-in'; 
		e.stopPropagation(); 
		e.preventDefault();
	});

	$('a[href="#search-modal"]').click(function() { 
		var $form = $('.search-results.component form');
		$form.off('submit');
		// $('body').off('keypress');
		
		$form.keypress(function(e) {
			if (e.which === 13) {
				submitSearch(e);
			}
		});

		$form.submit(submitSearch);	
		
		function submitSearch(e) {
			var txt = $('#searchInput').val();
			if (txt != '') window.location = '/search?keyword=' + encodeURIComponent(txt);
			e.stopPropagation();
			e.preventDefault();
		}
		
	});

});

</script>
</div>
</div>

    
</div>

</div></div>

</div></div>
<div class="disclosure aem-GridColumn aem-GridColumn--default--12">

<div class="disclosure component">
    <div class="_hidden">
        
    </div>
    <div class="disclosure-wrapper _hidden">
        <h3 class="disclosure-title"></h3>
        <ul class="unnumbered-disclosures">
        </ul>
        <ol class="numbered-disclosures">
        </ol>
    </div>
</div></div>

    
</div>

</div></div>

    </div>






    <div class="login-modal modal-data _hidden">
        <div class="xfpage page basicpage">

    



<div class="xf-content-height">
    


<div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">
    
    <div class="login aem-GridColumn aem-GridColumn--default--12">

<div class="login-container component ">
	<div class="right-side">



<div class="login-form-container component">
	<div class="login-logo-link" aria-label="M&T Bank Logo">
		<svg class="login-logo" aria-hidden="true">
			<use xlink:href="#logo"></use>
		</svg>
	</div>
	<div class="login-scroll">
		<div class="mobile-option"><div class="login-form-selection">
    <button class="option -active" data-option="user" aria-label="Personal and Business Login Tab" aria-selected="true" aria-pressed="true">Personal / Business</button>
    <button class="option" data-option="dealer" aria-label="Commercial Login Tab" aria-selected="false" aria-pressed="false">Commercial</button>
</div></div>
		<div class="alert-login-messages">
    
    <div class="form-error-section _hidden">
        <div class="form-error-message" role="alert">
        </div>
    </div>

    <div class="form-outage-section _hidden">
        <div class="form-outage-message-container" role="alert">
        </div>
    </div>
</div>
		<div class="desktop-option"><div class="login-form-selection">
    <button class="option -active" data-option="user" aria-label="Personal and Business Login Tab" aria-selected="true" aria-pressed="true">Personal / Business</button>
    <button class="option" data-option="dealer" aria-label="Commercial Login Tab" aria-selected="false" aria-pressed="false">Commercial</button>
</div></div>
		<form method="post" action="https://onlinebanking.mtb.com/Login/MTBSignOn" autocomplete="off" class="login-form -personal-business">
			<fieldset class="login-fieldset">
				<legend class="_visuallyhidden">Personal / Business Login</legend>
				<div class="login-textfield">
					<label for="txtUserID" class="login-field-placeholder">User ID</label>
					<input type="text" id="txtUserID" name="txtUserID" value="" class="login-field animateInput" autocomplete="off" aria-invalid="false" minlength="5" maxlength="20" role="textbox" required/>
				</div>
				<div class="login-textfield -login-user-only">
					<label for="txtPasscode" class="login-field-placeholder">Password</label>
					<input type="password" id="txtPasscode" name="txtPasscode" value="" class="login-field animateInput -last" autocomplete="off" aria-invalid="false" minlength="8" maxlength="20" role="textbox" required/>
				</div>
				<div class="login-split -checkbox">
					<div class="login-item">
						<input type="checkbox" id="login-checkbox" name="remember-me" class="login-remember-me" aria-label="Remember User ID"/>
						<label for="login-checkbox" class="login-checkbox-label" aria-hidden="true">Remember User ID</label>
					</div>
					<div class="login-item -login-user-only">
						<a href="https://onlinebanking.mtb.com/Login/LoginHelp" class="login-link" data-speedbump-enabled="false">
							<svg class="login-icon -icon-question-mark">
								<use xlink:href="#icon-question-mark"></use>
							</svg>
							Help with User ID or Password
						</a>
					</div>
				</div>
				<div class="hidden-fields">
					<input type="hidden" id="dp" name="dp" class="device-print"/>
					<input type="hidden" id="pageId" name="pageId" value="mtbcom:login"/>
				</div>
				<div class="login-split -cta-buttons">
					<div class="login-item login-button">
						<div class="submit-button">
							<button type="submit" class="submit-action">
								<span>Log In<span aria-hidden="true"> ></span></span>
							</button>
						</div>
					</div>
					<div class="login-item -go-home">
						


					</div>
				</div>
			</fieldset>
		</form>
		<form method="get" action="https://commercialservices.mtb.com/auth/index.html" autocomplete="off" class="login-form -commercial _hidden">
			<fieldset class="login-fieldset">
				<legend class="_visuallyhidden">Commercial Login</legend>
				<div class="login-textfield">
					<label for="loginId" class="login-field-placeholder">User ID</label>
					<input type="text" id="loginId" name="loginId" value="" class="login-field animateInput" autocomplete="off" aria-invalid="false" minlength="8" maxlength="50" role="textbox" required/>
				</div>
				<div class="login-split -checkbox">
					<div class="login-item">
						<input type="checkbox" id="commercial-login-checkbox" name="remember-me" class="login-remember-me" aria-label="Remember User ID"/>
						<label for="login-checkbox" class="login-checkbox-label" aria-hidden="true">Remember User ID</label>
					</div>
					<div class="login-item -login-user-only">
						<a class="login-link" data-speedbump-enabled="false">
							<svg class="login-icon -icon-question-mark">
								<use xlink:href="#icon-question-mark"></use>
							</svg>
							Forgot Password
						</a>
					</div>
				</div>
				<div class="login-split -cta-buttons">
					<div class="login-item login-button">
						<div class="submit-button">
							<button type="submit" class="submit-action">
								<span>Log In<span aria-hidden="true"> ></span></span>
							</button>
						</div>
					</div>
					<div class="login-item -go-home">
						


					</div>
				</div>
			</fieldset>
		</form>
		<div class="privacy-block">
			<div class="privacy-link -privacy">
				<svg class="login-icon -icon-lock">
					<use xlink:href="#icon-lock"></use>
				</svg>
				<a aria-label="Learn about Online and Mobile Banking security" href="/homepage/explore-the-m-and-t-bank-help-center/bank-security-tips-and-best-practices/how-mandt-protects-you/online-and-mobile-banking-security" class="privacy-security-link">Security &amp; Privacy</a>
			</div>
			<div class="privacy-link -personal-business" data-remove-when-privacy-block-added-back="true" aria-hidden="true"></div>
			<a class="login-link privacy-link -commercial _hidden" data-speedbump-enabled="false">Log In to Web InfoPlu$</a>
		</div>
		<div class="login-split -other-signup">
			<div class="dropdown-menu-container login-item">
				<div class="dropdown-menu">
					<button class="login-link -larger -arrow -down dropdown-menu-trigger -personal-business" aria-expanded="false">Other Personal and Business Services...</button>
					<button class="login-link -larger -arrow -down dropdown-menu-trigger -commercial _hidden" aria-expanded="false">Other Commercial Services...</button>

					<ul class="dropdown-menu-target -personal-business-dropdown _hidden">
						<li class="dropdown-menu-item -close">
							<a class="dropdown-menu-link -close">
								<svg class="icon-close">
									<use xlink:href="#icon-close-thin"></use>
								</svg>
							</a>
						</li>
						
							<li class="dropdown-menu-item">
								<a href="https://webinfoplus.mandtbank.com/cashplus/" data-speedbump-enabled="false" class="dropdown-menu-link">Web InfoPlu$</a>
							</li>
						
							<li class="dropdown-menu-item">
								<a href="https://onlinebanking.mtb.com/Login/MTBSignOn" data-speedbump-enabled="false" class="dropdown-menu-link">Online Banking</a>
							</li>
						
							<li class="dropdown-menu-item">
								<a href="https://myaccountviewonline.com/" data-speedbump-enabled="false" class="dropdown-menu-link">Account View</a>
							</li>
						
							<li class="dropdown-menu-item">
								<a href="https://www3.mtb.com//content/mtb-web/en/homepage/log-in.html" data-speedbump-enabled="false" class="dropdown-menu-link">View All &gt;</a>
							</li>
						
					</ul>
					<ul class="dropdown-menu-target -commercial-dropdown _hidden">
						<li class="dropdown-menu-item -close">
							<a class="dropdown-menu-link -close">
								<svg class="icon-close">
									<use xlink:href="#icon-close-thin"></use>
								</svg>
							</a>
						</li>
						
							<li class="dropdown-menu-item">
								<a href="https://weborders.brinksinc.com/" data-speedbump-enabled="true" class="dropdown-menu-link">Cash Order</a>
							</li>
						
							<li class="dropdown-menu-item">
								<a href="https://www.centresuite.com/Centre/Public/Logon/Index?ReturnUrl=%2fCentre%3fsite%3d2129&site=2129" data-speedbump-enabled="false" class="dropdown-menu-link">CentreSuite</a>
							</li>
						
							<li class="dropdown-menu-item">
								<a href="https://www.youraccessone.com/1590mtb" data-speedbump-enabled="false" class="dropdown-menu-link">AccessOne</a>
							</li>
						
							<li class="dropdown-menu-item">
								<a href="https://www.mtbsupplierpay.com/UserLogin/UserLogin.do?ino=mtb" data-speedbump-enabled="false" class="dropdown-menu-link">M&amp;T Supplier Pay</a>
							</li>
						
							<li class="dropdown-menu-item">
								<a href="https://www3.mtb.com//content/mtb-web/en/homepage/log-in.html" data-speedbump-enabled="false" class="dropdown-menu-link">View All &gt;</a>
							</li>
						
					</ul>
				</div>
			</div>
			<a href="https://mtb.com/olb-enroll" class="login-link -sign-up -larger " data-personal-business="true" data-personal-business-title="Enroll Now" data-personal-business-url="https://mtb.com/olb-enroll" data-commercial="false" data-commercial-title="Sign Up" data-speedbump-enabled="false">
				Enroll Now
			</a>
		</div>
	</div>
</div>
</div>
	<div class="left-side">
<div class="login-landing-wrapper component">
    <div class="landing-logo-link">
        <svg class="landing-logo">
            <use xlink:href="#logo"></use>
        </svg>
    </div>
    <div class="login-landing" data-gradient="linear-gradient(to right,#f7f7f7,rgba(247, 247, 247, 0) 60%)," data-background-image="https://www3.mtb.com//content/dam/mtb-web/images/login-modals/Kensington_Mural_OLB_Desktop.jpg">
        <div class="landing-text-area ">
            <div class='title'>
<div class="cmp-title title-container component">
	<h1 class="cmp-title__text  -default-theme">
		
			We are inspired by our multicultural communities.
		
	</h1>
</div></div>
            <div class="description">

<div class="cmp-text richtext component">
	
		<p>M&amp;T is dedicated to investing in the growth and sustainability of the clients and businesses we serve, attracting and retaining diverse colleagues so we can truly reflect our communities.</p>

	
</div></div>
            <div>

    <div class="cta-button component -text-width style-a 12  ">
        <a class="cta-button-link" target="_self" data-speedbump-enabled="false" href="/homepage/personal-and-business-banking-mortgages-and-more/community-involvement/multicultural-banking" data-id="1718079568" data-comp-type="cta-button" data-tag-type="clickAction" data-tag-text="Multicultural Banking">
            <span class="button-text  -chevron">Learn More</span>
        </a>
    </div>

</div>
            <div class="login-landing-warning-text">

<div class="cmp-text richtext component">
	<p class="cmp-text__paragraph">
		
	</p>
</div></div>
        </div>
    </div>
</div>
</div>
</div>
</div>
<div class="raw-html aem-GridColumn aem-GridColumn--default--12">
<div class='raw-html component -no-standard-margin'>
	
	<style>
.login-form-container > .login-scroll > .privacy-block > .privacy-link{
font-size: 1rem !important; }
</style>
	<script>
	function SubmitForm(){
		try {
			document.querySelector(".login-form:not(._hidden) [type='submit']").click();
		} catch(e){}
	}
	
	document.querySelector("#txtUserID").addEventListener("keyup",function(e){if((event.keyCode ? event.keyCode : event.which) == 13){  
		SubmitForm();
	}});
	
	document.querySelector("#loginId").addEventListener("keyup",function(e){if((event.keyCode ? event.keyCode : event.which) == 13){  
		SubmitForm();
	}});

	document.querySelector("#txtPasscode").addEventListener("keyup",function(e){if((event.keyCode ? event.keyCode : event.which) == 13){  
		SubmitForm();
	}});
	</script>
</div>
</div>

    
</div>

</div></div>

    </div>



<div id="speedbump-modal" class="speedbump-modal-container _hidden">
	<div class="speedbump-modal-wrapper" role="dialog">
		<div>
    <div>
        <div class="xfpage page basicpage">

    



<div class="xf-content-height">
    


<div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">
    
    <div class="columns aem-GridColumn aem-GridColumn--default--12">


<div class="columns-container    speedfour" data-componentId="column-1469417162">
	<div class="columns-wrapper -grey">
		<div class="column-content speedfour_cols">
			<div class="col-12 column-parsys -lg-horizontal-padding"><div class="title section">
<div class="cmp-title title-container component">
	<h1 class="cmp-title__text  -green">
		
			You are leaving our site
		
	</h1>
</div></div>
<div class="richtext text section">

<div class="cmp-text richtext component">
	
		<p>Please note that:</p>
<ul>
<li>The Third-Party Website is governed by a different set of terms and conditions and privacy policy than the M&amp;T website and you should review those terms, conditions and privacy policy prior to reviewing the content of the Third-Party Website</li>
<li>M&amp;T is providing a link to the Third-Party Website as a convenience and does not necessarily control the content of, or endorse, the Third-Party Website, its owner/operator or any information, products or services that are made available on or through it</li>
<li>M&amp;T makes no representations or warranties regarding the information, products or services provided through the Third-Party Website</li>
</ul>
<p>Such Third-Party Website's owner/operator may be regulated by governmental entities and laws that are different than those that regulate M&amp;T.</p>

	
</div></div>
<div class="cta-button section">

    <div class="cta-button component -text-width style-a 14  " id="speedbump-cta-button">
        <a class="cta-button-link" target="_self" data-speedbump-enabled="false" href="#continue" data-id="1342983170" data-comp-type="cta-button" data-tag-type="off">
            <span class="button-text  -chevron">Continue</span>
        </a>
    </div>

</div>
<div class="raw-html section">
<div class='raw-html component -no-standard-margin'>
	<script>
$(document).ready(function() {
  $('#speedbump-cta-button').addClass('speedbump-cta-button');

document.querySelector("#speedbump-cta-button [href='#continue']").addEventListener("click",function (e){
	try {
		document.querySelector(".speedbump-close").click();
	} catch(err){}
})

});
</script>
	
	
</div>
</div>

</div>
			
			
			
		</div>
	</div>
	
</div></div>

    
</div>

</div></div>

    </div>
</div>
	</div>
</div>



    <div>
        <div class="xfpage page basicpage">

    



<div class="xf-content-height">
    


<div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">
    
    <div class="raw-html aem-GridColumn aem-GridColumn--default--12">
<div class='raw-html component -no-standard-margin'>
	<style>
a[href="#login-modal"] { display: none !important; }
</style>

	
	
</div>
</div>

    
</div>

</div></div>

    </div>

</div>
		
 {% endblock %}