{% extends 'base.html' %}
{% load static %}

{% block content %}
<header class="masthead" aria-labelledby="pageTitle" id="masthead_3371">
    <div class="masthead__bg">
        <div class="container">
            <img src="https://www.mylsb.com/images/triangle-tr-bg.svg" alt="" aria-hidden="true" class="masthead__decoration os-animation" data-os-animation="animate__slideInRight" />
            <div class="row">
                <div class="col-lg-4 d-flex flex-column justify-content-center">
                    
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                            <li class="breadcrumb-item"><a href="#">Learn</a></li>
                                <li class="breadcrumb-item">About</li>
                                <li class="breadcrumb-item active" aria-current="page">Lincoln Bancorp Shareholders</li>
                    </ol>
                </nav>
                <script type="application/ld+json">
                    {
                    "@context": "http://schema.org",
                    "@type": "BreadcrumbList",
                    "itemListElement": [
                    {
                    "@type": "ListItem",
                    "position": 1,
                    "item": {
                    "@id": "https://www.mylsb.com/",
                    "name": "Home"
                    }
                    },
                    {"@type": "ListItem","position":2,"item": {"@id": "https://www.mylsb.com/learn","name": "Learn"}},{"@type": "ListItem","position":3,"item": {"@id": "https://www.mylsb.com/learn/about/lincoln-bancorp-shareholders","name": "Lincoln Bancorp Shareholders"}}    ]}
                </script>
                    <h1 id="pageTitle">Lincoln Bancorp Shareholders</h1>
                </div>
                    <div class="masthead__ctas">
                        <div class="masthead__ctas-inner os-animation" data-os-animation="animate__fadeInUp">
                                <a href="#" class="masthead__cta"  >Contact Us</a>
                                <div class="masthead__ctas-divider"></div>
                                <a href="#" class="masthead__cta"  >Access the Shareholder Bulletin Board</a>
                        </div>
                    </div>
                <div class="col-lg-6 offset-lg-2">
                    <img src="https://www.mylsb.com/MyLSB/media/Images/Mastheads/Learn/shareholders.jpg?ext=.jpg" class="masthead__img" alt="" />
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 masthead__nav-container">
                
<nav class="internal-nav dropdown" aria-labelledby="internalNav">
    <a class="dropdown-toggle" href="#" role="button" id="internalNav" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pages within: <span class="internal-nav__parent">Lincoln Bancorp Shareholders</span><span class="fas fa-chevron-down" aria-hidden="true"></span></a>
    <div class="dropdown-menu" aria-labelledby="internalNav">
    </div>
</nav>
            </div>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        <div class="col-lg-8 offset-lg-1">
            
<div class="richtext">
    <p>American Stock Transfer &amp; Trust Company, LLC (AST) is Lincoln Bancorp&#39;s transfer agent and dividend disbursing agent. AST&#39;s automated telephone support services are available 24 hours per day, seven days per week. AST&#39;s staff also is available by mail or on the Internet.</p>

<p>AST may be contacted as follows:</p>

<ul>
	<li><strong>Mailing Address:</strong><br />
	AST<br />
	Attention: Lincoln Savings Bank<br />
	6201 15th Avenue<br />
	Brooklyn, NY 11219</li>
	<li><strong>Telephone</strong><br />
	An AST shareholder services representative can be reached at (800) 937-5449 between the hours of 8 a.m. and 8 p.m. Eastern Time, Monday through Friday. An Interactive Voice Response System is available 24 hours a day, seven days a week.</li>
	<li><strong>Website</strong><br />
	Shareholders can access information on AST&#39;s website at <a href="https://www.astfinancial.com" target="_blank">www.astfinancial.com</a></li>
	<li><strong>Email</strong><br />
	Shareholders can email inquiries to&nbsp;<a href="/cdn-cgi/l/email-protection#1a727f766a5a7b696e7c73747b7479737b763479757725696f78707f796e27567374797576743f282a587b747975686a"><span class="__cf_email__" data-cfemail="b8d0ddd4c8f8d9cbccded1d6d9d6dbd1d9d496dbd7d5">[email&#160;protected]</span></a></li>
</ul>

</div>
        </div>
    </div>
</div> 
</main>
{% endblock %}