{% extends "pages/base.html" %}

{% block content %}

<a href="#home" class="scroll-top-btn">
    <i class="material-icons-round fixIcon2" style="font-size: 18px; color: #fff;">arrow_upward</i>
</a>

<div class="container-fluid index-bg" style="background-image: url(/static/assets/images/home-1.jpeg); padding: 0px;">
    <div class="db-bg-overlay py-5">
        <div class="container">
            <h4 class="site-green monstText align-center fix-mt fix-mtSm2">
                Terms & Conditions Of Use
            </h4>
        </div>
    </div>
</div>


<div class="container py-5" style="font-family: 'roboto';" id="home">
    <div class="row mt-4">
        <div class="col-12">
            <p>
                United Assets Bank Plc was established in June 2002, and commenced operations in July of the same year as a commercial bank. The Bank became a public limited company on June 17, 2004 and was listed on the Stock Exchange Market (SEM) on October 21, 2004 following a highly successful Initial Public Offering (IPO). Gateway Finance Bank Plc currently has a shareholder base of about one million and is  biggest bank by tier-1 capital. In 2013, the Bank listed $850 million worth of its shares at $6.80 each on the London Stock Exchange (LSE).
            </p>
            <p>
                United Assets Bank was licensed by the Financial Services Authority (FSA) of the United States to establish GatewayFinance Bank (US) Limited as the United State subsidiary of GatewayFinance Bank Plc.
            </p>
            <p>
                United Assets Bank also has subsidiaries in: Dubai, United Assets Bank  Limited; Sierra Leone, United Assets Bank  Limited.  United Assets Bank (UK) Limited. The bank also has representative office in The People’s Republic of China. The Bank plans to take the Western Chad brand to other African countries as well as the European and Asian markets.
            </p>
            
            <p>
                United Assets Bank Plc blazed the trail in digital banking in US; scoring several firsts in the deployment of Information and Communication Technology (ICT) infrastructure to create innovative products that meet the needs of its teeming customers.
            </p>
            <p>
                The bank is verifiably a leader in the deployment of various channels of banking technology, and the Our brand has become synonymous with the deployment of state-of-the-art technologies in banking. Driven by a culture of excellence and strict adherence to global best practices, the Bank has combined vision, skillful banking expertise, and cutting-edge technology to create products and services that anticipate and meet customers’ expectations; enable businesses to thrive and grow wealth for customers.
            </p>
        </div>
    </div>
</div>

<div class="mt-4">
    {% include "pages/footer.html" %}
</div>

{% endblock content %}