<div class="container-fluid py-6 pb-0 sans-pro" style="background: linear-gradient(to left, rgba(37, 111, 232, .2), transparent, transparent)">
    <div class="row mb-5 px-0 my-container-lg">
        <div class="col-lg-6 mb-4 pr-lg-5">
            <h2 class="meri-weda align-center-sm" data-aos="fade-up" data-aos-duration="400">Simple & <br>
                <span class="primary-color">Smart Banking</span>
            </h2>
            <div class="d-flex mt-4">
                <p class="mt-2" data-aos="fade-right" data-aos-duration="600">
                    <i class="material-icons-outlined primary-color shadow-sm border p-3" style="font-size: 22px; border-radius: 50%;">leaderboard</i>
                </p>
                <p class="xsmall ml-4" data-aos="fade-up" data-aos-duration="600">
                    Our solutions for independent financial advisors and wealth managers include research, infrastructure and a broad range of products and services
                </p>
            </div>
            <div class="d-flex mt-4">
                <p class="mt-2" data-aos="fade-right" data-aos-duration="600">
                    <i class="material-icons-outlined primary-color border shadow-sm p-3" style="font-size: 22px; border-radius: 50%;">api</i>
                </p>
                <p class="xsmall ml-4" data-aos="fade-up" data-aos-duration="600">
                    We offers high net worth and affluent individuals around the world a complete range of tailored advice and investment services. 
                </p>
            </div>
            <div class="d-flex mt-4">
                <p class="mt-2" data-aos="fade-right" data-aos-duration="600">
                    <i class="material-icons-outlined primary-color border shadow-sm p-3" style="font-size: 22px !important; border-radius: 50%;">donut_large</i>
                </p>
                <p class="xsmall ml-4" data-aos="fade-up" data-aos-duration="600">
                    Our spectrum ranges from investment management to estate planning and corporate finance advice, in addition to specific wealth management products and services.
                </p>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="shadow white-bg2 p-2" data-aos="fade-up" data-aos-duration="500">
                <img src="/static/assets/images/home-1.jpeg" alt="uab-1" class="hm-img border shadow" style="position: relative; transform:  rotate(6deg);">
            </div>
            <div class="mt-5 d-block d-md-none" data-aos="fade-up" data-aos-duration="700">
                <button class="Btn secondary-bg">Open an account</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 px-0">
            <!-- <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#f0f2fb" fill-opacity="1" d="M0,288L1440,224L1440,320L0,320Z"></path></svg> -->
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#fff" fill-opacity="1" d="M0,192L80,202.7C160,213,320,235,480,240C640,245,800,235,960,197.3C1120,160,1280,96,1360,64L1440,32L1440,320L1360,320C1280,320,1120,320,960,320C800,320,640,320,480,320C320,320,160,320,80,320L0,320Z"></path></svg>
        </div>
    </div>
</div>




<div class="container-fluid pt-5 sans-pro" style="background: #fff;" id="services">
    <div class="px-0">
        <div class="row px-lg-5">
            <div class="col-12 align-center-sm mb-4" data-aos="fade-up" data-aos-duration="600">
                <h2 class="meri-weda align-center-sm" data-aos="fade-up" data-aos-duration="400">Checkout <br>
                    <span class="primary-color">Our Services</span>
                </h2>
            </div>
            <div class="col-12">
                <div class="row">
                    <div class="col-6 col-md-3 mb-3" data-aos="fade-up" data-aos-duration="500">
                        <div class="p-3 border add-radius-2">
                            <i class="material-icons primary-color" style="font-size: 32px !important;">bubble_chart</i>
                            <p class="xsmall">Create An Account</p>
                        </div>
                    </div>
                    <div class="col-6 col-md-3 mb-3" data-aos="fade-up" data-aos-duration="700">
                        <div class="p-3 border add-radius-2">
                            <i class="material-icons primary-color" style="font-size: 32px !important;">stacked_bar_chart</i>
                            <p class="xsmall">Earn Interest</p>
                        </div>
                    </div>
                    <div class="col-6 col-md-3 mb-3" data-aos="fade-up" data-aos-duration="500">
                        <div class="p-3 border add-radius-2">
                            <i class="material-icons primary-color" style="font-size: 32px !important;">swap_horiz</i>
                            <p class="xsmall">Send & Receive Money</p>
                        </div>
                    </div>
                    <div class="col-6 col-md-3" data-aos="fade-up" data-aos-duration="500">
                        <div class="p-3 border add-radius-2">
                            <i class="material-icons primary-color" style="font-size: 32px !important;">flight_takeoff</i>
                            <p class="xsmall">Get Loans</p>
                        </div>
                    </div>
                    <div class="col-6 col-md-3" data-aos="fade-up" data-aos-duration="700">
                        <div class="p-3 border add-radius-2">
                            <i class="material-icons primary-color" style="font-size: 32px !important;">live_help</i>
                            <p class="xsmall">Get Support</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row px-lg-5 mt-5 pt-4">
            <div class="col-lg-6 mb-4 pr-lg-5">
                <h2 class="roboto align-center-sm" data-aos="fade-up" data-aos-duration="400">
                    What Are Your <br>
                    <span class="primary-color">Goals?</span>
                </h2>
                <div class="d-flex mt-4" data-aos="fade-up" data-aos-duration="600">
                    <p class="xsmall align-center-sm">
                        Whatever stage of life you’re at, we can guide you through the opportunities and challenges you face. Your investment goals may be different, but here are some examples of the sort of questions our wealth planners can help you answer.
                    </p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="shadow white-bg2 p-2" data-aos="fade-up" data-aos-duration="600">
                    <img src="/static/assets/images/home-2.webp" alt="uab-1" class="hm-img border shadow" style="position: relative; transform:  rotate(6deg);">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 px-0">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#f5f7fa" fill-opacity="1" d="M0,32L40,74.7C80,117,160,203,240,202.7C320,203,400,117,480,112C560,107,640,181,720,186.7C800,192,880,128,960,122.7C1040,117,1120,171,1200,202.7C1280,235,1360,245,1400,250.7L1440,256L1440,320L1400,320C1360,320,1280,320,1200,320C1120,320,1040,320,960,320C880,320,800,320,720,320C640,320,560,320,480,320C400,320,320,320,240,320C160,320,80,320,40,320L0,320Z"></path></svg>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid sans-pro" style="background: #f5f7fa;">
    <div class="row px-lg-5 pb-5">
        <div class="col-lg-6 mb-4" style="z-index: 3;">
            <p class="boldText primary-color align-center-sm">Boost your savings with the right credit card</p>
            <h2 class="roboto align-center-sm" data-aos="fade-up" data-aos-duration="400">
                Access Endless Possibilities With <br>
                <span class="">Our Card?</span>
            </h2>
            <p class="xsmall align-center-sm">
                All your needs covered with a full range of credit and debit cards.
            </p>
            <div class="row text-center">
                <div class="col-lg-4 mb-3">
                    <div class="post-box p-4">
                        <i class="material-icons primary-color p-3" style="font-size: 28px !important; border: 1px solid #256fe8; border-radius: 50%;">token</i>
                        <p class="boldText mt-4">Secure Cards</p>
                    </div>
                </div>
                <div class="col-lg-4 mb-3">
                    <div class="post-box p-4">
                        <i class="material-icons primary-color p-3" style="font-size: 28px !important; border: 1px solid #256fe8; border-radius: 50%;">move_up</i>
                        <p class="boldText mt-4">Balance Transfer</p>
                    </div>
                </div>
                <div class="col-lg-4 mb-3">
                    <div class="post-box p-4">
                        <i class="material-icons primary-color p-3" style="font-size: 28px !important; border: 1px solid #256fe8; border-radius: 50%;">airplane_ticket</i>
                        <p class="boldText mt-4">Travel</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="position-relative">
                <div class="cd-inner p-3 text-left sans-pro">
                    <div class="d-flex">
                        <p class="textColor2 xsmall flex-fill">United Assets Savings</p>
                        <p><i class="material-icons greyWhiteX" style="font-size: 22px;">bolt</i></p>
                    </div>
                    <div class="cd-inner-tb sans-pro">
                        <p class="greyWhiteXX">0000 0000 0000 0000</p>
                        <div class="d-flex">
                            <h5 class="boldText flex-fill textColor2">$45,000.00</h5>
                            <p class="xsmall2 fixIcon3 textColor2">...2134</p>
                        </div>
                    </div>
                </div>
                <div class="cd-inner cd-inner-2 p-3 text-left">
                    <div class="cd-inner-tb sans-pro">
                        <p class="greyWhiteXX">0000 0000 0000 0000</p>
                        <div class="d-flex">
                            <h5 class="boldText flex-fill textColor2 sans-pro">VISA</h5>
                            <p class="xsmall2 fixIcon3 textColor2">...2134</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid sans-pro py-5" style="background: #f5f7fa;">
    <div class="row post-box border-none shadow" style="width: 90%; border-radius: 0px 8px 8px 0px;">
        <div class="col-4">
            <p class="m-0 boldText fixIcon5">Partners</p>
        </div>
        <div class="col-8">
            <div class="d-block d-lg-none">
                <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <img src="/static/assets/images/m-card.png" alt="mastercard" style="width: 70px; height: 40px;">
                      </div>
                      <div class="carousel-item">
                        <img src="/static/assets/images/visa.jpeg" alt="mastercard" style="width: 70px; height: 40px;">
                      </div>
                      <div class="carousel-item">
                        <img src="/static/assets/images/am_amex.jpeg" alt="mastercard" style="width: 70px; height: 40px;">
                      </div>
                      <div class="carousel-item">
                        <img src="/static/assets/images/paypal.png" alt="mastercard" style="width: 120px; height: 40px;">
                      </div>
                      <div class="carousel-item">
                        <img src="/static/assets/images/stripe.png" alt="mastercard" style="width: 80px; height: 40px;">
                      </div>
                    </div>
                </div>
            </div>
            <div class="d-none d-lg-block">
                <img src="/static/assets/images/m-card.png" alt="mastercard" class="ml-3" style="width: 70px; height: 40px;">
                <img src="/static/assets/images/visa.jpeg" alt="mastercard" class="ml-3" style="width: 70px; height: 40px;">
                <img src="/static/assets/images/am_amex.jpeg" alt="mastercard" class="ml-3" style="width: 70px; height: 40px;">
                <img src="/static/assets/images/paypal.png" alt="mastercard" class="ml-3" style="width: 120px; height: 40px;">
                <img src="/static/assets/images/stripe.png" alt="mastercard" style="width: 80px; height: 40px;">
            </div>
        </div>
    </div>
</div>


<div class="container-fluid sans-pro border-top pt-5" style="background: #f5f7fa;">
    <div class="row px-lg-5 pb-5 mt-4">
        <div class="col-lg-6 mb-4" style="z-index: 2;">
            <p class="m-0 greyWhite" data-aos="fade-up" data-aos-duration="400">For Individual & Businesses</p>
            <h2 class="roboto" data-aos="fade-up" data-aos-duration="400">
                Get An Account That <br>
                <span class="primary-color">Suits You?</span>
            </h2>
            <div class="d-flex mt-3" data-aos="fade-up" data-aos-duration="500">
                <i class="fa fa-circle xsmall2 fixIcon5"></i>
                <p class="xsmall ml-2">
                    We want to create superior value for our clients, shareholders and employees. And we want to stand out as a winner in our industry: for our expertise, advice and execution, our contribution to society, our work environment, and our business success.
                </p>
            </div>
            <div class="d-flex" data-aos="fade-up" data-aos-duration="700">
                <i class="fa fa-circle xsmall2 fixIcon5"></i>
                <p class="xsmall ml-2">
                    Turn on Round-up Rules and start saving up effortlessly. Whenever you make a purchase, Goals make it easy to save for the things you want or want to do. There’s no need for spreadsheets or extra apps to budget and track your money.
                </p>
            </div>
            <div class="mt-4 d-none d-lg-block" data-aos="fade-up" data-aos-duration="600">
                <button class="Btn fit-content px-5">Get started</button>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="shadow white-bg2 p-2" data-aos="fade-up" data-aos-duration="400">
                <img src="/static/assets/images/home-3.jpeg" alt="uab-1" class="hm-img border shadow" style="position: relative; transform:  rotate(6deg);">
            </div>
            <div class="mt-4 d-block d-lg-none" data-aos="fade-up" data-aos-duration="600">
                <button class="Btn fit-content px-5">Get started</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 px-0">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#fff" fill-opacity="1" d="M0,32L40,74.7C80,117,160,203,240,202.7C320,203,400,117,480,112C560,107,640,181,720,186.7C800,192,880,128,960,122.7C1040,117,1120,171,1200,202.7C1280,235,1360,245,1400,250.7L1440,256L1440,320L1400,320C1360,320,1280,320,1200,320C1120,320,1040,320,960,320C880,320,800,320,720,320C640,320,560,320,480,320C400,320,320,320,240,320C160,320,80,320,40,320L0,320Z"></path></svg>
        </div>
    </div>
</div>
<div class="container-fluid sans-pro pt-5" style="background: #fff;">
    <div class="row my-container-lg">
        <div class="col-12 mb-4">
            <h2 class="roboto align-center-sm" data-aos="fade-up" data-aos-duration="400">Solutions For Every <br>
                <span class="primary-color">Business Need.</span>
            </h2>
        </div>
        <div class="col-lg-4 mb-4">
            <div class="post-box p-4 shadow-sm border-none text-center">
                <i class="material-icons primary-color p-3" style="font-size: 28px !important; border: 1px solid #256fe8; border-radius: 50%;">money</i>
                <p class="boldText mt-4">Checking Account</p>
                <div class="xsmall">
                    Choose from our checking options that allow you to earn interest, avoid fees, and easily manage your account.
                </div>
                <a href="" class="primary-color d-block mt-4 boldText">
                    Open Account
                    <i class="material-icons-outlined fixIcon3 ml-3" style="font-size: 18px;">arrow_forward</i>
                </a>
            </div>
        </div>
        <div class="col-lg-4 mb-4">
            <div class="post-box p-4 shadow-sm border-none text-center">
                <i class="material-icons primary-color p-3" style="font-size: 28px !important; border: 1px solid #256fe8; border-radius: 50%;">savings</i>
                <p class="boldText mt-4">Savings Account</p>
                <div class="xsmall">
                    Save for your goals and watch your money grow with CD, a money market account, a savings account. Your future starts now.
                </div>
                <a href="" class="primary-color d-block mt-4 boldText">
                    Start Saving
                    <i class="material-icons-outlined fixIcon3 ml-3" style="font-size: 18px;">arrow_forward</i>
                </a>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="post-box p-4 shadow-sm border-none text-center">
                <i class="material-icons primary-color p-3" style="font-size: 28px !important; border: 1px solid #256fe8; border-radius: 50%;">cases</i>
                <p class="boldText mt-4">Business Account</p>
                <div class="xsmall">
                    Take charge of your business with a business bank account. Services including virtual cards, team management and more.
                </div>
                <a href="" class="primary-color d-block mt-4 boldText">
                    Open Account
                    <i class="material-icons-outlined fixIcon3 ml-3" style="font-size: 18px;">arrow_forward</i>
                </a>
            </div>
        </div>
    </div>

    <div class="row px-lg-5 pb-5 mt-5">
        <div class="col-lg-6 align-center-sm mb-4" style="z-index: 2;">
            <h5 class="m-0 blackText3" data-aos="fade-up" data-aos-duration="400">Latest Insights</h5>
            <h1 class="primary-color" data-aos="fade-up" data-aos-duration="600">Keep Up With Us.</h1>
        </div>
        <div class="col-12">
            <div class="row">
                <div class="col-md-4">
                    <div class="post-box shadow-sm p-0" data-aos="fade-up" data-aos-duration="400">
                        <img src="/static/assets/images/home-1.jpeg" alt="" style="width: 100%; height: 200px; border-radius: 8px 8px 0px 0px;">
                        <div class="p-3">
                            <p class="xsmall boldText">Nov. 12 2022</p>
                            <p class="xsmall">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure voluptate sequi facilis quaerat atque ad dolor beatae nemo omnis? Nam enim assumenda sit totam beatae, in autem pariatur at omnis!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="my-container-lg mb-5">
        <div class="post-box primary-bg p-4">
            <h3 class="textColor2">
                Ready to get started?
            </h3>
            <p class="xsmall textColor2">
                It only takes a few minutes to register your FREE United Assets Account.
            </p>
            <div class="mt-4">
                <button class="Btn textColor fit-content px-5" style="background: #fff; border-radius: 30px;">Open an Account</button>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid sans-pro db-bg" style="height: auto;">
    <div class="row">
        {% include 'pages/footer.html' %}
    </div>
</div>