<div class="d-block d-sm-none">
    <div class="overlayDiv" id="overlayDiv" onclick="hideSideBarSm()" style="z-index: 9;"></div>

    <div class="side-bar-mobile" id="sideBarSm" style="display: none; padding-bottom: 10px;">
        <div class="side-bar-mobile-inner" style="height: 100%; overflow-y: scroll; padding-bottom: 40px;">
            <div class="mt-2 border-bottom text-right py-2">
                <i class="material-icons-outlined greyWhite mr-3" style="font-size: 22px !important;" onclick="hideSideBarSm()">close</i>
            </div>
            <!-- ******* -->
    
            <div class="container-fluid pr-0 pl-3 mt-5">
                <a href="{% url 'users' %}" class="textColor xsmall my-2">
                    <div class="side-link {{active_db}} px-3">
                        <i class="material-icons-outlined fixIcon" style="font-size: 16px;">group</i> &nbsp;
                        Users
                    </div>
                </a>
                <a href="{% url 'create-logs-view' %}" class="textColor xsmall">
                    <div class="side-link px-3 mt-4">
                        <i class="material-icons-outlined fixIcon2" style="font-size: 18px;">description</i> &nbsp;
                        Create Logs
                    </div>
                </a>
                <a href="{% url 'send-mail' %}" class="textColor xsmall">
                    <div class="side-link px-3 mt-4">
                        <i class="material-icons-outlined fixIcon2" style="font-size: 18px;">mail</i> &nbsp;
                        Send Email
                    </div>
                </a>
                <a href="{% url 'support-messages' %}" class="textColor xsmall">
                    <div class="side-link px-3 mt-4">
                        <i class="material-icons-outlined fixIcon2" style="font-size: 18px;">contact_support</i> &nbsp;
                        Support Messages
                    </div>
                </a>
            </div>
            <div class="border-top mt-4 pt-3 pl-4">
                <a href="{% url 'logout' %}" class="textColor xsmall">
                    {% csrf_token %}
                    <div class="side-link px-3">
                        <i class="material-icons-round fixIcon2" style="font-size: 18px;">logout</i> &nbsp;
                        Sign out
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>