<div class="d-none d-lg-block px-4 pt-3 pb-2 sticky-top white-bg2" id="db-dsktp-header">
    <div class="d-flex">
        <p class="xsmall greyWhite flex-fill m-0 fixIcon2">
            <i class="fa fa-caret-right greyWhite mr-2"></i>
            Admin Site - {{page_title}}
        </p>
        <div class="mr-4">
            <p class="xsmall m-0">
                <i class="fa fa-circle primary-color" style="font-size: 8px; position: relative; top: -2px;"></i>
                Admin Dashboard
            </p>
        </div>
        <div>
            <button class="Btn py-1 xsmall m-0" style="border: 1px solid #000; background: none; color: #000; position: relative; top: -6px;" onclick="accountMangt(this)">
                <i class="material-icons-outlined p-1 fixIcon mr-1" style="font-size: 14px !important; border-radius: 20px; border: 1px solid black;">person</i>
                My Account
            </button>
        </div>
    </div>
</div>