<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>
    <div style="background: #fff; padding: 14px; border: 1px solid #c6c1c1; padding: 22px; border-radius: 8px;">
        <div style="margin-top: 12px; margin-bottom: 12px; text-align: center;">
            <img src="https://www3.mtb.com/content/experience-fragments/mtb-web/info-icon-exp-fragment/info-icon-experience-fragment-2/_jcr_content/root/columns/col_1/image.coreimg.png/1601342332140/green-logo.png" alt="United Assets Savings" style="width: 210px; height: 40px;">
        </div>
        
        <div style="color: #7dff7d;">
            {{message|safe}}
        </div>
        <div style="margin-top: 12px; margin-bottom: 12px; text-align: center;">
            <img src="https://cu1.uicdn.net/4ff/72b1099cc8ee1928140fd63893e9f/webapp/34325-n-stage-footer_it_security-front-int.png" alt="United Assets Savings" style="width: 140px; height: 100px;">
        </div>
        <p style="color: #50e064;"><small>
            Yours sincerely, <br> United Assets Finance Team
        </small></p>

        <div style="padding: 12px; text-align: center;">
            <small style="color: #285e2d;">&copy; 2023 M&T Savings Bank. All rights reserved</small>
        </div>
    </div>
</body>
</html>