<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email verification code</title>
</head>
<body>
    <div style="background: #fff; padding: 14px; border: 1px solid #c6c1c1; padding: 22px; border-radius: 8px;">
        <div style="margin-top: 12px; margin-bottom: 12px; text-align: center;">
            <img src="https://www3.mtb.com/content/experience-fragments/mtb-web/info-icon-exp-fragment/info-icon-experience-fragment-2/_jcr_content/root/columns/col_1/image.coreimg.png/1601342332140/green-logo.png" alt="United Assets Savings" style="width: 210px; height: 40px;">
        </div>
        <h4 style="color: #515157; text-align:center">
            <b>Email verification code</b>
        </h4>
        <p style="color: #285e28; text-align: center;">
            Your verification code is: <br>
             <b style="font-size: 22px;">{{code}}</b>
        </p>
        <small style="color: #52d837;">
            <b>Enter the 6 digit code to complete your account creation on our website</b>
        </small> <br>
        <small style="color: #2d5e28;">
            Thank you for registering with us, Best regards, <br>
            MTB Team <br><br>
        </small>
        <div style="padding: 12px; background: #51ff00; text-align: center;">
            <small style="color: #fff;">&copy; 2022 M&T Savings. All rights reserved</small>
        </div>
        <div style="margin-top: 14px;">
            <small style="color: #285e2b;">5 Edinburgh Rd, Penicuik, Midlothian, EH26 8NP , United Kingdom</small>
        </div>
    </div>
</body>
</html>