<div class="container px-lg-5 safe-area-clear">
            <div class="post-box d-block d-lg-none mb-3 shadow-none border-none py-2 fit-content px-4">
                <i class="fa fa-angle-right"></i>
                <small class="xsmall2 ml-1"><b>Page title</b></small>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-6 mb-3 mb-md-0">
                            <div class="post-box shadow-none border-none">
                                <div class="position-relative">
                                    <div class="d-flex">
                                        <div class="fixIcon3">
                                            <img src="/static/assets/images/acct.png" alt="" style="width: 40px; height: 40px; transform: rotate(20deg);">
                                        </div>
                                        <div class="ml-3">
                                            <small class="xsmall2 greyWhite mb-2">Account Number</small>
                                            <p class="roboto m-0 boldText">0049445567</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 mb-3 mb-md-0">
                            <div class="post-box shadow-none border-none">
                                <div class="position-relative">
                                    <div class="d-flex">
                                        <div class="fixIcon3">
                                            <img src="/static/assets/images/bal.png" alt="" style="width: 40px; height: 40px; transform: rotate(20deg);">
                                        </div>
                                        <div class="ml-3">
                                            <small class="xsmall2 greyWhite mb-2">Total Balance</small>
                                            <p class="roboto m-0 boldText">$340.00</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 mt-lg-3">
                            <p class="greyBlack xsmall2">
                                <i class="material-icons mr-1 fixIcon3 greyWhite" style="font-size: 18px !important;">campaign</i>
                                Don't miss out: Join our <b>Save For Me</b> program to start saving for the future.
                            </p>
                        </div>
                        <div class="col-md-6 d-none d-lg-block">
                            <div class="post-box shadow-none border mr-2" style="min-width: 80%;">
                                <div class="row">
                                    <div class="col-3">

                                    </div>
                                    <div class="col-9">
                                        <p class="boldText xsmall m-0 mb-1">
                                            Protect Your Account
                                        </p>
                                        <small class="xsmall2 greyWhite">
                                            Never share your password, PIN, or OTP with anyone. Do not click on suspicious links.
                                        </small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 d-none d-lg-block">
                            <div class="post-box shadow-none border mr-2 primary-bg" style="min-width: 80%;">
                                <div class="row">
                                    <div class="col-3">

                                    </div>
                                    <div class="col-9">
                                        <p class="boldText xsmall m-0 mb-1 textColor2">
                                            PY Scheme Investing
                                        </p>
                                        <small class="xsmall2 greyWhiteX">
                                            You can invest your money in our Per Year scheme and earn interests.
                                        </small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 d-none d-lg-block">
                            <div class="mt-3">
                                <p class="boldText">
                                    Transactions
                                    <div class="post-box">
                                        <div class="row border-bottom pb-3">
                                            <div class="col-4">
                                                <i class="material-icons d-block primary-color" style="font-size: 16px !important;">arrow_downward</i>
                                                <small class="badge badge-light">Received</small>
                                            </div>
                                            <div class="col-4">
                                                <small class="xsmall2 greyWhite d-block">Value:</small>
                                                <small class="boldText primary-color">+$400.00</small>
                                            </div>
                                            <div class="col-4">
                                                <small class="xsmall2 greyWhite d-block">Date: </small>
                                                <small class="boldText">23 Nov. 2022</small>
                                            </div>
                                        </div>
                                        <div class="row border-bottom pb-3 mt-3">
                                            <div class="col-4">
                                                <i class="material-icons d-block secondary-color" style="font-size: 16px !important;">north_east</i>
                                                <small class="badge badge-light">Sent</small>
                                            </div>
                                            <div class="col-4">
                                                <small class="xsmall2 greyWhite d-block">Value:</small>
                                                <small class="boldText secondary-color">-$400.00</small>
                                            </div>
                                            <div class="col-4">
                                                <small class="xsmall2 greyWhite d-block">Date: </small>
                                                <small class="boldText">23 Nov. 2022</small>
                                            </div>
                                        </div>
                                        <div class="row border-bottom pb-3 mt-3">
                                            <div class="col-4">
                                                <i class="material-icons d-block" style="font-size: 16px !important;">payments</i>
                                                <small class="badge badge-light">Withdrawal</small>
                                            </div>
                                            <div class="col-4">
                                                <small class="xsmall2 greyWhite d-block">Value:</small>
                                                <small class="boldText">-$400.00</small>
                                            </div>
                                            <div class="col-4">
                                                <small class="xsmall2 greyWhite d-block">Date: </small>
                                                <small class="boldText">23 Nov. 2022</small>
                                            </div>
                                        </div>
                                        <p class="mt-4">
                                            <button class="Btn py-1 add-radius xsmall2 fit-content px-3" style="border: 1px solid #000; color: #000; background: transparent;">
                                                See All 
                                                <i class="material-icons fixIcon" style="font-size: 14px !important;">arrow_forward</i>
                                            </button>
                                        </p>
                                    </div>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="row">
                        <div class="col-12 mb-3 mb-md-0">
                            <div class="post-box shadow-none border-none">
                                <div class="position-relative">
                                    <div class="d-flex">
                                        <div class="fixIcon3">
                                            <img src="/static/assets/images/deps.png" alt="" style="width: 40px; height: 40px; transform: rotate(20deg);">
                                        </div>
                                        <div class="ml-3 flex-fill">
                                            <small class="xsmall2 greyWhite mb-2">Total Deposits this month</small>
                                            <p class="roboto m-0 boldText">$340.00</p>
                                        </div>
                                        <div class="mt-3">
                                            <button class="Btn py-1 xsmall2">More</button>
                                        </div>
                                    </div>
                                    <div class="d-flex border-top mt-3 pt-3">
                                        <div class="fixIcon3">
                                            <img src="/static/assets/images/trf.png" alt="" style="width: 40px; height: 40px; transform: rotate(20deg);">
                                        </div>
                                        <div class="ml-3 flex-fill">
                                            <small class="xsmall2 greyWhite mb-2">Total Transfers this month</small>
                                            <p class="roboto m-0 boldText">$340.00</p>
                                        </div>
                                        <div class="mt-3">
                                            <button class="Btn py-1 xsmall2">More</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- scroller-mobile -->
                        <!-- ---- -->
                        <div class="col-12 d-block d-md-none mt-2">
                            <div class="scrollmenu w-100">
                                <div class="post-box shadow-none border mr-2" style="min-width: 80%;">
                                    <div class="row">
                                        <div class="col-3">

                                        </div>
                                        <div class="col-9">
                                            <p class="boldText xsmall m-0 mb-1">
                                                Protect Your Account
                                            </p>
                                            <small class="xsmall2 greyWhite">
                                                Never share your password, PIN, or OTP with anyone. Do not click on suspicious links.
                                            </small>
                                        </div>
                                    </div>
                                </div>
                                <div class="post-box shadow-none border mr-2 primary-bg" style="min-width: 80%;">
                                    <div class="row">
                                        <div class="col-3">

                                        </div>
                                        <div class="col-9">
                                            <p class="boldText xsmall m-0 mb-1 textColor2">
                                                PY Scheme Investing
                                            </p>
                                            <small class="xsmall2 greyWhiteX">
                                                You can invest your money in our Per Year scheme and earn interests.
                                            </small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="mt-3">
                                <p class="boldText">
                                    Transactions
                                    <div class="post-box">
                                        <div class="row border-bottom pb-3">
                                            <div class="col-4">
                                                <i class="material-icons d-block primary-color" style="font-size: 16px !important;">arrow_downward</i>
                                                <small class="badge badge-light">Received</small>
                                            </div>
                                            <div class="col-4">
                                                <small class="xsmall2 greyWhite d-block">Value:</small>
                                                <small class="boldText primary-color">+$400.00</small>
                                            </div>
                                            <div class="col-4">
                                                <small class="xsmall2 greyWhite d-block">Date: </small>
                                                <small class="boldText">23 Nov. 2022</small>
                                            </div>
                                        </div>
                                        <div class="row border-bottom pb-3 mt-3">
                                            <div class="col-4">
                                                <i class="material-icons d-block secondary-color" style="font-size: 16px !important;">north_east</i>
                                                <small class="badge badge-light">Sent</small>
                                            </div>
                                            <div class="col-4">
                                                <small class="xsmall2 greyWhite d-block">Value:</small>
                                                <small class="boldText secondary-color">-$400.00</small>
                                            </div>
                                            <div class="col-4">
                                                <small class="xsmall2 greyWhite d-block">Date: </small>
                                                <small class="boldText">23 Nov. 2022</small>
                                            </div>
                                        </div>
                                        <div class="row border-bottom pb-3 mt-3">
                                            <div class="col-4">
                                                <i class="material-icons d-block" style="font-size: 16px !important;">payments</i>
                                                <small class="badge badge-light">Withdrawal</small>
                                            </div>
                                            <div class="col-4">
                                                <small class="xsmall2 greyWhite d-block">Value:</small>
                                                <small class="boldText">-$400.00</small>
                                            </div>
                                            <div class="col-4">
                                                <small class="xsmall2 greyWhite d-block">Date: </small>
                                                <small class="boldText">23 Nov. 2022</small>
                                            </div>
                                        </div>
                                        <p class="mt-4">
                                            <button class="Btn py-1 add-radius xsmall2 fit-content px-3" style="border: 1px solid #000; color: #000; background: transparent;">
                                                See All 
                                                <i class="material-icons fixIcon" style="font-size: 14px !important;">arrow_forward</i>
                                            </button>
                                        </p>
                                    </div>
                                </p>
                            </div>
                        </div>
                        <!-- ---- -->
                    </div>
                </div>
            </div>
        </div>